[2018-07-19 23:40] bobcatfish opened #441 "Log output from logging library should be optional"
/area API
/area test-and-release

/kind cleanup

## Expected Behavior
In general libraries should make logging optional or not log at all, so that the user of the library can control when the libraries log.

Specifically, [the logging library in serving](https://github.com/knative/serving/tree/master/pkg/logging) should allow users to control whether or not it outputs logs, or not log at all.

##

[2018-07-25 17:22] scothis opened #1 "Move Istio CRD types and client here"
Serving currently contains CRD types and client for Istio. This is also used by eventing and should be moved here to further decouple eventing from serving.

https://github.com/knative/serving/tree/master/pkg/apis/istio

[2018-07-25 17:38] mattmoor opened #3 "Set up prow"

[2018-07-25 17:39] mattmoor opened #4 "Move `pkg/configmap`"

[2018-07-25 17:39] mattmoor opened #5 "Track coverage"
Blocked on https://github.com/knative/pkg/issues/3

[2018-07-25 17:46] mattmoor opened #7 "Move `pkg/logging`"

[2018-07-25 17:47] mattmoor opened #8 "Move `pkg/controller`"
Blocked on https://github.com/knative/serving/issues/1505 (IMO)

[2018-07-25 17:47] mattmoor opened #9 "Move `pkg/webhook`"

[2018-07-25 17:50] mattmoor opened #10 "Setup issue template"

[2018-07-25 20:07] adrcunha commented on #3
I sent Prow config PR for review.

@mattmoor please make sure that Serving Robots is an admin of this repo for Prow to work.

[2018-07-25 20:13] adrcunha commented on #3
/woof

[2018-07-25 20:16] adrcunha commented on #3
/close

[2018-07-25 20:16] mattmoor opened #12 "Pull out the new webhook infrastructure from serving"
Things like `FieldError`, `Validatable`, `Defaultable`.

[2018-07-25 20:16] mattmoor commented on #9
We should block this on: https://github.com/knative/pkg/issues/12

[2018-07-25 21:56] #4 closed

[2018-07-26 19:14] #12 closed

[2018-07-26 20:53] mattmoor commented on #3
@adrcunha thanks, I added "Serving Robots" (we should rename to "Knative Robots")

IDK if I can add "tide" until the first time it runs, at which point I'll add it.

[2018-07-26 21:00] adrcunha commented on #3
@mattmoor I forced tide to appear in the checks in https://github.com/knative/pkg/pull/14
You should be able to enforce it now in the setting.

[2018-07-26 21:04] mattmoor commented on #3
Thanks, done.

We still need unit testing and coverage.  LMK if I can do this myself and where :)

[2018-07-26 21:47] adrcunha opened #15 "Create unit tests"

[2018-07-26 21:48] adrcunha opened #16 "Create build tests"

[2018-07-26 21:49] adrcunha opened #17 "Create integration tests"

[2018-07-26 22:03] adrcunha commented on #3
https://github.com/knative/pkg/pull/18 sets up the basics for those. Once it's in I can set up the jobs.

[2018-07-26 22:48] mattmoor commented on #7
This is blocking `pkg/webhook`, so we should tackle is sooner than later...

[2018-07-26 23:45] #16 closed

[2018-07-26 23:45] #15 closed

[2018-07-27 16:53] #7 closed

[2018-07-28 00:14] adrcunha commented on #3
@mattmoor now the test jobs can be marked as required checks, see https://github.com/knative/pkg/pull/14

[2018-07-28 02:03] #9 closed

[2018-07-28 14:03] mattmoor opened #26 "Common e2e/conformance infrastructure"
This repo houses shared Knative libraries.  The original intent was to share common controller libraries and whatnot, but I think that there's a clear and growing need to share common test and release logic as well.

Two clear candidates off the top of my head (the common bits):
1. `github.com/knative/serving/pkg/controller/testing`
1. `github.com/knative/serving/test`

cc @bobcatfish (emeritus)

[2018-07-28 14:32] mattmoor commented on #17
This repo is predominantly intended for libraries, not binaries, so integration testing feels a little funny.

It might be interesting to see if we can canary importing changes into downstream repositories, and running some smoke testing on those repos, but this can intentionally break for staged breaking changes.

/area test-and-release

[2018-07-28 14:32] mattmoor commented on #26
/area test-and-release

[2018-07-28 14:32] mattmoor commented on #8
/area API

[2018-07-28 14:32] mattmoor commented on #5
/area test-and-release

[2018-07-28 14:33] mattmoor commented on #3
/area test-and release

Done for everything except coverage (though I think only tide matters?)

[2018-07-28 14:34] mattmoor commented on #1
/area networking

[2018-07-28 20:06] adrcunha commented on #3
That's correct.

[2018-07-28 20:06] #3 closed

[2018-07-30 20:09] #10 closed

[2018-07-31 00:29] #5 closed

[2018-08-01 21:32] #8 closed

[2018-08-02 15:26] scothis commented on #1
/assign @scothis

[2018-08-03 23:14] #1 closed

[2018-08-03 23:47] srinivashegde86 commented on #26
/assign @srinivashegde86

[2018-08-13 18:05] srinivashegde86 opened #440 "Use a flagset to define e2e flags"
/area test-and-release
/kind cleanup
/kind good-first-issue

Flagset is used to define a set of related flags. We can use a flagset to define the different set of flags used in our e2e tests.

More info on flagset:
https://golang.org/pkg/flag/#FlagSet

Example usage:
http://blog.ralch.com/tutorial/golang-subcommands/

[2018-08-21 05:30] mattmoor opened #47 "Incomplete coverage for this repo"
The coverage dashboard for this repo only shows `pkg/apis` and `pkg/configmap`, but no other subdirectories.

https://testgrid.knative.dev/knative-pkg#coverage

[2018-08-30 00:13] vaikas-google opened #56 "Possibly flaky test in controller/"
## Expected Behavior

./pkg/controller tests to always pass

## Actual Behavior

it failed. Then passed. Running it multiple times, saw failures. This test might be flaky.
--- FAIL: TestEnqueues (0.11s)
    --- FAIL: TestEnqueues/enqueue_controller_of_resource_with_owner (0.01s)
        controller_test.go:244: unexpected queue (-want +got): {[]string}:
                -: []string{"bar/baz"}

[2018-09-04 20:27] jcrossley3 opened #60 "Calling `flag.Parse()` from shared lib prevents additional flags from being defined"
Prior to [knative/serving#1937](https://github.com/knative/serving/pull/1937) there were more options available for running tests. Specifically, those in the `ServingEnvironmentFlags` struct, but because the flags are now parsed in `pkg/test`, none of the flags defined in `serving/test` are available now.

I'm thinking `serving/test` is where `flag.Parse` should be called.

[2018-09-05 19:49] srinivashegde86 commented on #60
All the common flags are now defines in pkg/test and can be called as pkgTest.Flags<Name> like https://github.com/knative/serving/blob/bfb3f5181b5ff18e4a16e9c158e8b9102404399c/test/e2e/e2e.go#L25

All the serving flags can be called with test.ServingFlags.<Name> like https://github.com/knative/serving/blob/bfb3f5181b5ff18e4a16e9c158e8b9102404399c/test/e2e/service_to_service_test.go#L124

[2018-09-05 19:51] srinivashegde86 commented on #60
https://github.com/knative/serving/pull/1937 removed the duplicated definitions and updated files in knative/serving to use the ones defined in knative/pkg

[2018-09-05 20:01] srinivashegde86 commented on #60
/assign @srinivashegde86

[2018-09-07 19:04] srinivashegde86 opened #64 "We need a way to let repos define flags"
/area test-and-release
/kind cleanup

We should have flag parsing being performed in pkg, because that initializes the common logging infrastructure, and also avoids replicated boilerplate code (plus bug fixes, unification, etc).

We should have a simple and documented process of adding extra flags defined in a repo/test/etc.

[2018-09-07 19:05] srinivashegde86 commented on #60
Created https://github.com/knative/pkg/issues/64 for this issue. Closing this.

[2018-09-10 20:01] dprotaso opened #65 "Controller Package Test is Flakey"
## Expected Behaviour
Expect running the unit test `TestEnqueues` to not fail

## Actual Behaviour
`TestEnqueues` did fail [here](https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_pkg/59/pull-knative-pkg-unit-tests/1039236293944414209):

[code]

## Steps to Reproduce the Problem
I'm actually unable to reproduce it locally using `go version go1.10.3 darwin/amd64`
[code]

[2018-09-11 01:02] steuhs commented on #47
@mattmoor pkg/configmapdoes not have sub-packages. pkg/apis does have a subpackage but the subpackage contains no _test.go file.

[2018-09-11 02:08] dprotaso commented on #65
closing dupe of https://github.com/knative/pkg/issues/56

[2018-09-11 02:08] #65 closed

[2018-09-17 18:48] grantr opened #72 "No way to express multiple validation errors"
## Expected Behavior

I have an array of objects. I want to validate that each of those objects has at least one field. Ideally, I'd like to return a message to the user saying that index 1 and 2 in the array are both missing fields.

## Actual Behavior

I can't do that today because there's no concept of a non-fatal validation error. It might be useful for validation methods to take a parameter l

[2018-09-18 01:54] vaikas-google opened #74 "Incorrect error message when missing a cert."
## Expected Behavior
If we don't find the correct key in the configmap for webhook registrationg, we display the correct value:

https://github.com/knative/pkg/blob/67830c7a64431edc38ee19628dc7116b0c6d99b5/webhook/webhook.go#L145

## Actual Behavior
prints ca.crt instead of the key we're missing (in this case:)
requestheader-client-ca-file

## Steps to Reproduce the Problem

  1. Delete that key a

[2018-09-18 02:06] maheshvra commented on #74
@vaikas-google I will work on this issue and send you a PR

[2018-09-18 04:46] mattmoor opened #75 "Less codegen for duck"
Today we treat `./pkg/apis/duck/v1alpha1` like any other API resources, but because these aren't real resources we likely only need a small subset of the overall codegen (e.g. deepcopy).

This tracks reducing the amount of codegen we do for these types to make sure folks don't inadvertently try to use one of their clients, since these are not real resources and effectively only exist for use with

[2018-09-18 14:39] mattmoor opened #76 "Support Spec mutations in pkg/apis/duck"
Today, `pkg/apis/duck` is almost exclusively useful for **reading** duck-typed data.  However, it is also possible for us to leverage duck typing for **read-modify-write** operations on duck-typed data.

The basic idea is that we:
1. Define a partial schema for spec,
1. Parse the opaque resource we want to mutate as our Duck type,
1. DeepCopy the original resource,
1. Modify the copy via the duck

[2018-09-18 16:18] n3wscott commented on #72
/remove-label kind/good-first-issue

[2018-09-18 16:56] n3wscott commented on #72
/assign @n3wscott

[2018-09-20 15:58] dprotaso opened #81 "Lots of imports when creating a condition"
For example creating a Condition for a route requires three package imports

- `duckv1alpha1`
- `servingv1alpha1`
- `corev1`

For example:
[code]

I'm curious if people would consider type aliasing and potentially some `go:generate` to automate the aliasing to produce something with one import

For example:
[code]

[2018-09-20 21:56] #75 closed

[2018-09-24 01:45] mattmoor commented on #81
IDK if we need codegen, I think it's going to literally be the same file in every case.  I think the only piece that varies is the stuff in `servingv1alpha1` (or equivalent).

I think @n3wscott had half of this initially and I'd recommended removing it, but I am coming around to the logic.

I'm a little concerned that the type aliasing will cause us to need casts for this to work, have you tried i

[2018-09-24 01:46] mattmoor commented on #74
/kind good-first-issue

[2018-09-24 02:10] mattmoor commented on #56
I suspect the problem is [this](https://github.com/knative/pkg/blob/bf6f9e373f9fae2757acbc3fda183c62db5789a7/controller/controller_test.go#L239) sleep isn't long enough.

[2018-09-24 13:51] adrcunha commented on #47
knative/test-infra#110 should fix this issue, linking it here and bumping its dusty thread.

[2018-09-24 14:49] #56 closed

[2018-09-24 15:06] n3wscott commented on #81
I did! :D

Instead of this:

[code]

How would this feel:

[code]

And we do not alias the `corev1` status types, we just add the mark methods to the `Condition` type.

Further, we could move `NewCondition` to `duck` and have it default to a version for `Condition` (for now it will be `v1alpha1`)

i.e.

Unknown:

[code]

Ready:

[code]

[2018-09-24 15:07] n3wscott commented on #81
@dprotaso @mattmoor ^^^

[2018-09-25 20:27] mattmoor opened #94 "Generalized BuildTracker"
There are a class of cases where object Foo is watching object Bar and we want to trigger level-based reconciliation of Foo when Bar changes.  There are two cases of this in `knative/serving` today:
1. `Revision` -> `Build`, which is done via the specialized build tracker (see https://github.com/knative/serving/issues/1267)
1. `Route` -> `Configuration`, which is done by relying on the labels we i

[2018-09-26 03:05] mattmoor commented on #94
So here's what I'm thinking:
[code]

To use this with a typical informer, e.g. the way `Route` would monitor `Configurations` and `Revisions`, you'd do something like:
[code]

To use this with a `duck.InformerFactory`, e.g. the way `Revision` will monitor `BuildRef`s you'd do something like:
[code]

[2018-09-26 08:39] vaikas opened #96 "Add reference of Subscription to ChannelSubscriberSpec"
## Expected Behavior
When adding a ChannelSubscriberSpec it's not possible to currently have duplicate subscriptions and it is probably better to include either an ObjectRef or something like that as part of the entry being added to the list so that Subscription Controller can keep track of Subscription -> Entry in the list of subscribers.

// ChannelSubscriberSpec defines a single subscriber to a

[2018-09-26 12:47] dprotaso opened #97 "Move the use of `VerifyType` in consumer packages to unit tests"
We're using `duck.VerifyType` to enforce that serialization formats match. These statements are being placed in packages  as follows:

https://github.com/knative/pkg/blob/2b6bdaba3b747205139b1202168523306cdfd333/apis/duck/v1alpha1/targetable_types.go#L37

This technique means verify is invoked at runtime during package initialization.

As we add more potential types that need to be verified this p

[2018-09-26 12:50] dprotaso commented on #97
/label good-first-issue

[2018-09-26 12:52] dprotaso commented on #97
/kind good-first-issue

[2018-09-26 12:57] dprotaso commented on #97
/assign @vdemeester

[2018-09-26 13:02] dprotaso commented on #97
Uses in other repos

Serving: https://github.com/knative/serving/search?q=%22VerifyType%22&unscoped_q=%22VerifyType%22
Eventing: https://github.com/knative/eventing/search?q=%22VerifyType%22&unscoped_q=%22VerifyType%22
Build: https://github.com/knative/build/search?q=%22VerifyType%22&unscoped_q=%22VerifyType%22

[2018-09-27 00:31] #94 closed

[2018-09-28 02:43] dprotaso opened #103 "Subtle duck typing bug?"
Just saw this in the [client-go CHANGELOG.md for v9.0.0](https://github.com/kubernetes/client-go/blob/master/CHANGELOG.md#v900)

If we're using an older version this bug might affect duck typing - unsure how and when this would be an issue

[2018-10-01 21:57] steuhs commented on #47
Fixed
/close

[2018-10-01 21:57] #47 closed

[2018-10-02 07:07] vaikas-google commented on #96
@evankanderson

[2018-10-02 17:02] evankanderson commented on #96
Ah -- you're saying that it's impossible to set up two subscriptions from A calling C if you want to call C twice for some reason. (I'm not sure why you would do this, but it seems like two subscriptions should cause two messages to be delivered.)

Adding the subscription name (either as ObjectReference or namespace+name string(s)) to the ChannelSubscriberSpec would seem to fix this, and would mak

[2018-10-02 17:43] vaikas-google commented on #96
I'm going to play with this tomorrow. I think we wouldn't necessarily remove a subscription unless we remove channels (via finalizers?)
I think it might be better to use ObjectReference instead of namespace/name (which was actually my first thought) in case there's other objects later on that can create subscriptions. Thoughts?

[2018-10-05 20:19] mattmoor opened #114 "Increase ConfigMap resync to 10 hours"
We just bumped this on the `knative/serving` controllers, but need the same [here](https://github.com/knative/pkg/blob/8fc80deb200e7853795e6baf4029f406ca9534b8/configmap/informed_watcher.go#L41) for our `configmap` package.

This should probably be made an argument.

cc @n3wscott @dprotaso

[2018-10-06 02:28] mattmoor commented on #114
Good idea.

[2018-10-07 15:28] mattmoor opened #116 "Generation variant of kmeta/labels.go"
[This code](https://github.com/knative/pkg/blob/1f153817b23cbb4b4126cffedc0c9ec67970dc58/kmeta/labels.go#L48) deals with `ResourceVersion`.  The current use of `ResourceVersion` stems from the Kubernetes bug where it fails to bump `Generation` for CRDs (still affects us until we move to 1.11 w/ `/status` subresource).

For CRDs without status (e.g. WarmImage, BuildTemplate) `ResourceVersion` is a

[2018-10-08 09:14] #116 closed

[2018-10-11 13:54] zrss opened #124 "Expose ClientAuth as an option for webhook"
## Expected Behavior

Expose ClientAuth as an option for webhook

## Actual Behavior

https://github.com/knative/pkg/blob/bb9898e8ebb2e8a76927ae4778c30fecfb32377d/webhook/webhook.go#L152-L160

/assign

[2018-10-11 14:10] zrss commented on #124
:smiley: and kindly ping TODOer @mattmoor

[2018-10-12 18:57] mattmoor opened #128 "Allow unknown JSON fields"
Makes things less bad wrt API versioning.

[2018-10-14 09:45] zrss opened #130 "Webhook should exit when its http server failed to bootstrap"
## Expected Behavior

exit when webhook http server failed to bootstrap

## Actual Behavior

https://github.com/knative/pkg/blob/77041f6b665d7d29b02c83227bdbc3856f08f65c/webhook/webhook.go#L301-L308

## Steps to Reproduce the Problem

  1. `443` port is lower than `1000`, and it is assumed to be a `root` user port [caddy-listen-tcp-443-bind-permission-denied](https://serverfault.com/questions/8078

[2018-10-18 21:09] srinivashegde86 commented on #26
All the common things have been moved to pkg/.

[2018-10-23 20:56] #130 closed

[2018-10-24 15:42] #124 closed

[2018-10-25 11:17] zrss opened #137 "Useless unregister webhook conf in the webhook component"
https://github.com/knative/pkg/blob/10ceeb6163ab85da29d2625f8749352e53dd5f7c/webhook/webhook.go#L297-L301

and

https://github.com/knative/pkg/blob/10ceeb6163ab85da29d2625f8749352e53dd5f7c/webhook/webhook.go#L323-L329

we have a process that ensures the correct way to handle the `mutatingwebhookconfiguration` of the webhook server

/assign

[2018-10-26 02:44] zrss opened #139 "Add webhook svc name to DNSnames of cert"
https://github.com/knative/pkg/blob/5c809f170b42301a276080f4fd884a30188ca1a5/webhook/certs.go#L49-L50

lack of the name of svc, full connectable DNSnames are

1. {svcName}
1. {svcName}.{Namespace}
1. {svcName}.{Namespace}.svc
1. {svcName}.{Namespace}.svc.cluster.local

/assign @zrss

[2018-10-26 07:09] zrss opened #141 "Refactoring the creating cert process in webhook"
## Expected Behavior

i can easily add more DNSNames or IP addresses in **Subject Alternate Name values** of Webhook's Cert

currently, we only support the fixed {serviceName}.{namespace} DNSNames values

## Actual Behavior

i expose my webhook server at a IP:PORT address (for fiting the knative to my lab env :neutral_face:), and this forces me to change the all func params in the call chain of cr

[2018-10-26 19:41] greghaynes opened #144 "Fake clients do not support our duck.patch format"
## Expected Behavior
I should be able to pass a patch created from our apis.duck.patch to a fake client.

## Actual Behavior
This fails due to https://github.com/knative/pkg/blob/master/vendor/k8s.io/client-go/testing/fixture.go#L140 - k8s fake clients only support StrategicMergePatch's (https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md) and we produce

[2018-10-27 00:06] #144 closed

[2018-10-29 18:16] #139 closed

[2018-11-01 01:14] mattmoor opened #150 "The Tracker should return an error when required fields are omitted"
See https://github.com/knative/serving/issues/2372 for an example of this.  Sanitizing inputs would have caught this.

[2018-11-01 17:48] #150 closed

[2018-11-06 16:34] Harwayne opened #162 "Webhook sends Invalid patch to API server"
## Expected Behavior
Applying this YAML via kubectl

[code]

Should have a spec added with the correct default values (such as `spec.generation`) and the resource should be created in the cluster.

## Actual Behavior
The YAML is rejected because the mutating webhook generates the following JSON patch:

[code]
The API server rejects the patch and thus the entire object is not created:

[code]

## S

[2018-12-02 02:14] mattmoor opened #185 "Find a way to track queue time"
It would be good to be able to assess when things enter the controller's workqueue, so that we can surface a metric for queue time.

cc @mdemirhan

[2018-12-05 20:40] alculquicondor opened #190 "Add performance tests to presubmit"
Maybe adding them now is of no use, but at least building them would be useful. The motivation is that #2440 seems to have broken the tests.

/area test-and-release

/kind feature
/kind good-first-issue

cc @jessiezcc @srinivashegde86

[2018-12-05 20:41] alculquicondor commented on #190
Sorry, wrong repository

[2018-12-05 20:41] #190 closed

[2018-12-05 23:30] matzew opened #193 "CloudEvent 0.2 spec work"
/kind feature

## Expected Behavior

CNCF will announce 0.2 of the spec

## Actual Behavior

Knative's impl is compliant. Question: how much do we care about backwards comp. ? Or just move on ?

[2018-12-05 23:31] matzew commented on #193
:joy:  lot's of labels ... :man_facepalming:

[2018-12-14 04:15] mattmoor opened #201 "Expose metrics for configmap versions"
We should expose a prometheus metric for each configmap with the `metadata.resourceVersion` that an "informed watcher" has successfully received.  This is useful for tracking configuration rollouts.

cc @mdemirhan @dprotaso

[2018-12-14 14:05] sjwoodman opened #203 "Unable to set content-type to non json/xml value"
## Expected Behavior

In the [CloudEvent Spec](https://github.com/cloudevents/spec/blob/v0.1/spec.md#contenttype) the `ContentType` attribute is used to describe the type of the data payload of the CloudEvent. This should be able to be set to any MIME type.

## Actual Behavior

The CloudEvents SDK gives the following error

```Failed to create http request: Cannot encode content type "text/plain"`

[2019-01-06 00:38] f4tq opened #208 "istio ServiceEntry missing"
## Expected Behavior
- [knative/pkg/api/istio](https://github.com/knative/pkg/blob/master/apis/istio/v1alpha3/register.go#L46) does not implement [ServiceEntry](https://github.com/istio/api/blob/master/networking/v1alpha3/service_entry.proto) which is part of `apis/networking.istio.io/v1alpha3`
- Please implement it.

## Actual Behavior
- None: It is missing

## Steps to Reproduce the Problem

##

[2019-01-08 17:37] jonjohnsonjr opened #212 "metrics does not have a default for metrics.backend-destination"
## Expected Behavior

New, required fields must have a default value to avoid breaking upgrades.

## Actual Behavior

`metrics.backend-destination` is [required](https://github.com/knative/serving/blob/acf796299b96caa2663498e697b68aa0ebea07cf/config/config-observability.yaml#L88-L92) but not [defaulted](https://github.com/knative/pkg/blob/53b1235c2a85e1309825bc467b3bd54243c879e6/metrics/config.go#

[2019-01-08 17:37] jonjohnsonjr commented on #212
/assign

[2019-01-08 17:54] #212 closed

[2019-01-09 21:21] vaikas-google opened #219 "sdk/reconciler losing type information in log messages."
## Expected Behavior
Log messages to display what resources they are working with

## Actual Behavior
They are not:
{"level":"info","ts":1547068546.5497584,"logger":"fallback","caller":"sdk/reconciler.go:52","msg":"Reconciling &TypeMeta{Kind:,APIVersion:,} default/laconia-source"}
{"level":"warn","ts":1547068546.687146,"logger":"fallback","caller":"sdk/reconciler.go:74","msg":"Failed to reconcile

[2019-01-12 07:14] adrcunha opened #226 "Move AppendRandomString to pkg"
## Expected Behavior

This useful helper function is shared across all repos through pkg.

## Actual Behavior

This function is duplicated in several repos, like in https://github.com/knative/build-pipeline/blob/master/test/randstring.go (with test) and https://github.com/knative/serving/blob/02d3c9b657fdefe76690a1d5751ae0b2c4e414ae/test/crd.go#L255

[2019-01-21 06:34] evankanderson commented on #193
/remove-area monitoring
/remove-area networking
/remove-area test-and-release
/remove-kind question bug doc good-first-issue

/assign

[2019-01-28 23:24] n3wscott opened #246 "Cache the `http.Client` in the Client object inside of CloudEvent Client"
Would it make sense to cache the `http.Client` in the Client object? Might allow for easier testing if you wanted to replace it.

_Originally posted by @evankanderson in https://github.com/knative/pkg/diffs_

[2019-01-29 17:15] n3wscott opened #249 "CloudEvent client needs to validate empty source and other required fields after overrides."
## Expected Behavior
empty source + source set in overrides = no error.

## Actual Behavior
empty source + source set in overrides = error.

## Steps to Reproduce the Problem

/assign

[2019-01-29 17:23] n3wscott opened #250 "Pull Request Validation and MockHandler into a common place."
https://github.com/knative/pkg/blob/f9612ef73847258e381e749c4f45b0f5e03b66e9/cloudevents/client_test.go#L311

this and the handler are useful test pieces.

[2019-01-29 18:00] #249 closed

[2019-01-29 18:23] n3wscott opened #253 "CloudEvents client should support overriding EventTypeVersion and SchemaURL"
Also support overriding EventTypeVersion and SchemaURL

_Originally posted by @n3wscott in https://github.com/knative/pkg/pull/252/review_comment/create_

[2019-02-06 22:32] #162 closed

[2019-02-11 04:50] dicarlo2 opened #267 "Istio VirtualService is missing tls definition"
## Expected Behavior

knative-serving list of virtual services with a `tls` key works.

## Actual Behavior

It does not.

## Steps to Reproduce the Problem

1. Create a VirtualService with tls configuration

## Additional Info

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#VirtualService

Related: https://github.com/knative/docs/issues/816

[2019-02-11 05:04] dicarlo2 commented on #267
Also, weight is not required (though I can workaround this, of course): https://github.com/dicarlo2/pkg/blob/5db4e8e38e5682fd28c4849ffa3135da7787edb6/apis/istio/v1alpha3/virtualservice_types.go#L297

[2019-02-12 08:27] odra opened #274 "Remove "AppendRandomString" duplicates"
## Expected Behavior

"Master" issue to track the next steps from #256:

https://github.com/knative/build-pipeline/issues/490
https://github.com/knative/serving/issues/3174

## Actual Behavior

No errors, see above item.

## Steps to Reproduce the Problem

No errors, see above item.

## Additional Info

https://github.com/knative/build-pipeline/issues/490
https://github.com/knative/serving/issues/

[2019-02-12 20:10] #226 closed

[2019-02-19 00:12] #274 closed

[2019-02-19 00:14] mattmoor opened #286 "`TestLogger(t)` is unusable with `-count=N`"
/kind bug
/area observability
/assign @mdemirhan

I was trying to use `-count=N` to debug another failure and hit this:
[code]

Could we simply not memoize this?  What's it buying us?

[2019-02-19 00:46] vagababov commented on #286
I've done a bandaid on top of it to call defer `CleanTestLoggers` (or whatever the name is) at the top of the test.
It seems that the design was to report metrics(?) from logger, but only a dummy implementation has been done, so I am not sure if it's going to happen at all.

[2019-03-04 18:03] dokipen opened #303 "istio HTTPMatchRequest is outdated"
## Expected Behavior

The istio api supports the latest api.

## Actual Behavior

Some fields are missing from the api.

## Additional Info

I'm happy to create a PR if it will be accepted. Specifically, I'm trying to use the `gateways` and `sourceLabels` attributes. Any direction appreciated.

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPMatchRequest

[2019-03-05 20:19] #303 closed

[2019-03-06 11:02] josephburnett opened #306 "Configmap for defaults"
## Expected Behavior

I would like to be able to use a config map when setting defaults in the webhook.

## Actual Behavior

However, because the webhook is common and abstracted, I cannot construct one and get it through to the defaulting function.  E.g. I would like to pass in a config map watcher [here](https://github.com/knative/serving/blob/4c08227dbdb5145622ad4d246cfcacae86c5bdf9/cmd/webhook

[2019-03-07 21:57] jonjohnsonjr opened #309 "Stackdriver unit tests seem broken"
It seems like the stackdriver unit tests are trying to contact a metadata server.

## Expected Behavior

The unit tests work without external dependencies.

## Actual Behavior

I cannot run the unit tests on my machine.

## Steps to Reproduce the Problem

1. git checkout master
2. go test ./metrics/...

## Additional Info

[code]

[2019-03-07 21:57] jonjohnsonjr commented on #309
cc @yanweiguo

[2019-03-07 21:58] vagababov commented on #309
`gcloud auth application-default login ` or along these lines, should cure the problem.

[2019-03-07 22:03] jonjohnsonjr commented on #309
That's definitely not okay for unit tests, imo.

[2019-03-07 22:30] yanweiguo commented on #309
Are they still broken with #291 checked in?

[2019-03-07 22:44] jonjohnsonjr commented on #309
I believe so:
[code]

Like @vagababov mentioned, I believe these unit tests depend on some gcloud state, which isn't ideal.

[2019-03-07 22:59] yanweiguo commented on #309
In the unit tests, we test whether we could create a stackdriver exporter via `stackdriver.NewExporter` given our configuration. `stackdriver.NewExporter` calls google api to get credentials when initialized.

Shall we just remove the unit tests for any call of `stackdriver.NewExporter`?

[2019-03-07 23:02] jonjohnsonjr commented on #309
I'd test that in an integration test instead of a unit test, or add a some indirection [here](https://github.com/knative/pkg/blob/b4a3bde045ad36e31715f6193c9ef2ce903c4ce5/metrics/stackdriver_exporter.go#L48-L54) so you can replace that with a fake constructor during unit tests, similar to how `gcpMetadataFunc` works.

[2019-03-07 23:04] jonjohnsonjr commented on #309
I ran into something like this in a different package, which I got to work by using a fake key file and setting some environment variables:
https://github.com/google/go-containerregistry/blob/fcd5acbb4e785f428f197ddd66a8931df6923fe6/pkg/v1/google/auth_test.go#L245-L261

I'm not sure if stackdriver is using the same underlying library... but if it is, you could fake it out in a similar way.

[2019-03-08 00:12] #309 closed

[2019-03-08 15:34] mattmoor commented on #306
I think what I'd like to see here is changing these interfaces to pass a `context.Context` argument, and using the work by @dprotaso to attach some of these configs to it.

[2019-03-09 00:30] #267 closed

[2019-03-15 18:25] yt3liu opened #317 "Batch Zipkin traces at the end of tests"
## Proposed Behavior

As the tests are running, cache the Zipkin IDs. After the test complete, fetch all the zipkin logs and output them to the log.

## Current Behavior

Currently, the zipkin library runs `logZipkinTrace` immediately after the response is created. Thus, it has a static timeout to wait for a few seconds before fetching the traces from the backend to ensure the data are pushed. It

[2019-03-15 18:30] yt3liu opened #318 "Increase Zipkin timeout before fetching the traces"
## Expected Behavior

See zipkin logs for the trace.

## Actual Behavior

Currently, the zipkin library runs logZipkinTrace immediately after the response is created. Thus, it has a static timeout to wait for 5 seconds before fetching the traces from the backend. When testing for the zipkin logging, the 5 seconds timeout is very flaky as half of the time, I do not see the zipkin logging.

[2019-03-15 19:43] bbrowning commented on #26
Looking in each repo's test folder, we can probably still reduce copy/paste across e2e test setups in every repo. The files under the `test/` folders like `cleanup.go`, `clients.go`, `crd.go`, `crd_checks.go`, `states.go`, and perhaps more. They aren't identical in every repo but there is a good bit of overlap.

[2019-03-15 21:51] srinivashegde86 commented on #26
The PR you just linked has some commonalities between eventing and serving repos. We did not want to keep serving specific methods in pkg/test/.

That said, I can see a few methods that can be moved to pkg that talk to k8s or istio

[2019-03-15 22:24] yanweiguo opened #320 "Eliminate the need to do a string join operation every time calling metrics.Record"
Background: https://github.com/knative/serving/pull/3400#discussion_r266160085

[2019-03-15 23:08] mattmoor opened #322 "Allow pkg/webhook to work with duck types"
This code [here](https://github.com/knative/pkg/blob/cd278f2d3394c865fda66bca12459e879e0279b8/webhook/webhook.go#L538-L544) can simply be guarded by:

[code]

[2019-03-16 18:10] #322 closed

[2019-03-18 19:49] n3wscott opened #326 "Start using semver for PKG"
It is crazy hard to integrate with pkg changes that are api breaking.

[2019-03-18 19:55] n3wscott opened #327 "e2e test code should not be in pkg"
There is too much coupling that has to happen, it would be better to make a new repo for e2e.

[2019-03-25 19:20] srinivashegde86 commented on #26
This was originally used for creating a common pkg/test package, which is done. If we need new ones, lets open new issues to track them.

/close

[2019-03-25 19:20] #26 closed

[2019-03-27 04:33] #306 closed

[2019-03-27 20:04] vaikas-google opened #344 "use apps.deployment instead of extensions.deployment"
## Expected Behavior
use the latest version of deployment instead of extensions v1beta1

## Actual Behavior
uses v1beta1

## Steps to Reproduce the Problem

1. In webhook/webhook.go we use v1beta1 extensions
2. don't. use apps instead which is v1.

## Additional Info

[2019-03-27 20:17] #344 closed

[2019-03-29 14:16] mattmoor opened #354 "verify codegen not running/working for knative/pkg"
In [this PR](https://github.com/knative/pkg/pull/352/files) I see files being codegen'd (`testing/zz_...`) that should have been codegen'd before the associated change was submitted.

[2019-03-29 16:44] evankanderson commented on #354
/assign @trshafer

Thomas updated `gengo` but apparently wasn't required to run update-codegen.

[2019-03-29 17:04] trshafer commented on #354
@mattmorr #353 adds the verification script to this repo.

[2019-03-30 03:46] #354 closed

[2019-03-30 14:51] mattmoor opened #357 "InitializeConditions should actually reset the Conditions."
Today `InitializeCondition` checks whether a Condition exists before resetting it to its initial state: https://github.com/knative/pkg/blob/916205998db9d085aaff357221b208bc89290ea5/apis/duck/v1alpha1/condition_set.go#L334-L342

This is called at the beginning of `Reconcile()` calls, and at the end we update `Status` if things have changed.  Early on, we struggled with status updates "touching" the

[2019-03-31 15:58] mattmoor commented on #357
/assign

[2019-04-02 04:12] mattmoor commented on #357
There are several imperative uses of `lastTransitionTime` that we will need to eliminate before we can make this change:
1. [Here](https://github.com/knative/serving/blob/218f3976169a1fda7f64f30b644b5b5c5dc86e56/pkg/reconciler/v1alpha1/revision/reconcile_resources.go#L232) we use the last transition time to time out deployments.
1. [Here](https://github.com/knative/serving/blob/0024f1c106442b6e992

[2019-04-02 05:16] mattmoor commented on #357
For the former case, we should consider using the `creationTimestamp` on the resource instead.

[2019-04-11 03:39] mattmoor opened #383 "SetDefaults doesn't have WithinUpdate setup."
We use `WithinUpdate` to attach the previous state of the resource we're defaulting to the context passed to defaulting.  When I introduced this I inadvertently regressed the user-annotation logic, which keyed off of the ability to detect whether it was in the context of an update and diff the old/new resources.

We set this up for `Validate()` [here](https://github.com/knative/pkg/blob/590eb946f1

[2019-04-11 03:42] mattmoor commented on #383
I think we just want to hoist out the setup we currently do for `Validate()` and then simply make [this](https://github.com/knative/pkg/blob/590eb946f1d3492e3e8d9a60850a6d5c7f85be36/webhook/webhook.go#L222) legacy path key off of `apis.IsInUpdate()` and `apis.GetBaseline()` if the "new" object is `apis.Immutable`.

[2019-04-11 14:17] mattmoor commented on #383
/assign

[2019-04-11 14:45] #383 closed

[2019-04-17 21:12] dubee opened #388 "PortForwarder function does not work with kubernetes.Clientset"
The `PortForwarder` function in the monitoring package does not work unless Kubernetes configuration is exported via the `KUBECONFIG` environment variable. Since the `GetPods` function in the same package works with `kubernetes.Clientset`, I expected `PortForwarder`  to work the same way.

Link to `PortForwarder`  function:
https://github.com/knative/pkg/blob/master/test/monitoring/monitoring.go#L

[2019-04-17 21:42] vagababov commented on #388
I don't think that you can port-forward using kube client...

[2019-04-23 18:58] akashrv opened #395 "Extend Addressable"
Today, Addressable struct is defined as
[code]
[Addressable interface](https://github.com/knative/eventing/blob/master/docs/spec/interfaces.md) is defined as

In its current definition, Addressable imposes certain limitations.

1. http scheme is implied and not other scheme is supported.
2. Even for http scheme, detailed http URL address cannot be specified such as ports, path etc.
3. Only one add

[2019-04-27 19:33] mattmoor commented on #395
I am fine with the URL as the value (but I don't understand `*apis.URLRef`?  This needs to be a string.).

I am concerned about having a map here; in particular the ambiguous keyspace a map affords is dangerous to the point of potentially defeating the purpose of us introducing this duck type in the first place.  Duck typing is about having a common partial schema, and unless that extends to the k

[2019-04-28 01:42] n3wscott commented on #395
UrlRef has a custom json mashaler that will send string and take string on the wire but as an object it is a parsed object. @mattmoor

[2019-04-28 18:38] mattmoor commented on #395
Cool, as long as it's a string at rest, that SGTM.  Bear in mind that custom marshalers wreak havok on crd-gen :(

[2019-05-01 19:57] mattmoor commented on #395
@akashrv and I spent some time talking about this, and I think the baseline thing that we want for `Addressable` is a single `url:` field.

[code]

Ultimately, the `Addressable` contract is an agreement amongst producers and consumers.  Producers need to know what to publish, and consumers need to understand how to consume what's there.  In our case, URL is the lowest common denominator for this.

[2019-05-01 20:16] akashrv commented on #395
Sounds good to me.

@evankanderson @vaikas-google @csantanapr @Harwayne @duglin
Last time when I added you folks, my Github account was flagged and no notification was sent to anyone. Hence adding again. I remember you had particular use cases to extend addressable. Please share your thoughts here so that we can finalize and get this change in beta apis in 0.6 release (less than 2 weeks from now)

[2019-05-01 20:17] akashrv commented on #395
Sounds good to me.

@evankanderson @vaikas-google @csantanapr @Harwayne @duglin
Last time when I added you folks, my Github account was flagged and no notification was sent to anyone. Hence adding again. I remember you had particular use cases to extend addressable. Please share your thoughts here so that we can finalize and get this change in beta apis in 0.6 release (less than 2 weeks from now)

[2019-05-01 20:35] vaikas-google commented on #395
URL is fine with me. I'm not conviced that Schema belongs at this level, who would fill it in? Currently the reconciler resolves the object into the endpoint, and ultimately the container providing the endpoint would have to surface some way (openapi endpoint, or ??) to surface this information and I don't immediately see a good way to handle this. Another issue that I've been thinking about is if

[2019-05-03 00:46] #395 closed

[2019-05-03 09:21] odra commented on #203
Does it make sense to change this line to encode the raw data if it is neither a json or xml encoding: https://github.com/knative/pkg/blob/master/cloudevents/event.go#L175?

[2019-05-03 16:57] evankanderson commented on #203
I believe that we are recommending https://github.com/cloudevents/sdk-go as a replacement for pkg/cloudevents at this point.

@n3wscott to confirm
/assign @n3wscott

[2019-05-08 18:01] akashrv opened #406 "TestInterlevedExporters in metrics/exporter_test.go fails intermittently"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1. go clean -testcache & go test ./...
Try multiple times, the test fails intermittently with below error:
--- FAIL: TestInterlevedExporters (1.20s)
    logger.go:130: 2019-05-08T10:55:31.647-0700	INFO	TestInterlevedExporters	metrics/stackdriver_exporter.go:72	Created Opencensus Stackdriver exporter with config &{knative.

[2019-05-09 17:23] mattmoor opened #409 "We should expose a way to do a GlobalResync scoped to a namespace."
The idea is that when we have a shared resource that many things within a namespace rely on (e.g. default service account in K8s), that instead of using the tracker for such a dense space we would just have a way to resync all the objects in a particular namespace.

I suspect that this will be useful for wildcard certificates in Serving, and channels in Eventing.

cc @n3wscott  @vaikas-google @Zhi

[2019-05-09 17:30] vagababov commented on #409
It won't be a global resync though :-)
It'll be a namespace resync.

On Thu, May 9, 2019 at 10:23 AM Matt Moore <notifications@github.com> wrote:

[2019-05-13 20:04] Harwayne opened #411 "TableTest - Delete in any order"
## Expected Behavior

We set the Table Test `WantDeletes` field as a slice. Normally we don't care about the order in which the deletes occur. We should either make the delete comparison unordered, or at least provide an option to make it unordered.

## Steps to Reproduce the Problem

1. Check out knative/eventing at 0a97ffcd0a93861a4e8fa2a7be82356530d1fd02
2. Run `go test ./pkg/reconciler/apiserv

[2019-05-13 20:21] Harwayne opened #412 "ConfigMap Watcher with Defaults"
## Expected Behavior

I should be able to create a [configmap.Watcher](https://github.com/knative/pkg/blob/9e0db8f0a7f47def18cf65e0859066d5e0377304/configmap/watcher.go#L30) that tolerates missing ConfigMaps by using a code supplied default.

I think it would be something like:

[code]

## Actual Behavior

If a watched ConfigMap is missing, configmap.Watcher fails to start leading the binary to fa

[2019-05-16 08:28] zxDiscovery opened #417 "Risk condition: Failed calling admission webhook "webhook.eventing.knative.dev""
## Expected Behavior

Deploy the knative eventing normolly.

## Actual Behavior

Deloy the knative eventing failed, error as follows:
Error: release knative failed: Internal error occurred: failed calling admission webhook "webhook.eventing.knative.dev": Post https://webhook.knative-eventing.svc:443/?timeout=30s: dial tcp 10.0.25.12:443: connect: connection refused

## Steps to Reproduce the Probl

[2019-05-16 14:09] #412 closed

[2019-05-16 15:05] evankanderson commented on #417
Will this fix need to be backported to 0.6.0?

Do we know when it was introduced?

[2019-05-16 15:11] evankanderson commented on #417
/remove-area networking

[2019-05-16 16:23] vagababov commented on #417
My guess it has been there _forever_.

[2019-05-18 17:31] mattmoor commented on #246
I think this is now obsolete (didn't the sdk move)?  If not reopen.

[2019-05-18 17:31] #246 closed

[2019-05-18 17:32] mattmoor commented on #253
Same as the other one, reopen if it's still needed.

[2019-05-18 17:32] #253 closed

[2019-05-18 17:32] mattmoor commented on #97
This is done.

[2019-05-18 17:32] #97 closed

[2019-05-18 17:33] mattmoor commented on #203
Closing as obsolete.

[2019-05-18 17:33] #203 closed

[2019-05-18 17:34] mattmoor commented on #250
As others

[2019-05-18 17:34] #250 closed

[2019-05-18 17:35] mattmoor commented on #406
cc @mdemirhan @yanweiguo

[2019-05-18 17:36] mattmoor commented on #219
I think this is cloud events related and obsolete?  Cc @n3wscott

[2019-05-18 17:37] mattmoor commented on #388
I'm puzzled about the motivation here.  What's the use case?  cc @mdemirhan

[2019-05-18 17:39] #357 closed

[2019-05-19 19:13] n3wscott commented on #219
/close
-Scott

On Sat, May 18, 2019 at 10:36 AM Matt Moore <notifications@github.com>
wrote:

[2019-05-19 19:13] #219 closed

[2019-05-22 12:56] yanweiguo commented on #406
Could reproduce it with a really low rate.

[2019-05-28 14:56] dprotaso opened #430 "Versioning knative/pkg"
I'm curious if we've thought about ways to version this repository and whether it's a concern at this time. Currently we're not backwards compatible when changing our API surface area ie. https://github.com/knative/pkg/pull/427

[2019-05-28 15:20] jchesterpivotal commented on #430
Agreed, this is a source of pain when consuming Knative from downstream.

[2019-05-28 15:40] mattmoor commented on #430
Would it be helpful to simply snap release branches at the same time as the main repos (maybe the day before)?

[2019-05-28 15:41] vdemeester commented on #430
@mattmoor that would definitely work for us (at least me :angel:)

[2019-05-28 15:41] jchesterpivotal commented on #430
Yes, the same tag would be helpful, assuming they've been tested together.

[2019-05-28 16:53] dprotaso commented on #430
What would the versions be?

[2019-05-30 15:28] dprotaso opened #435 "flakey controller unit tests"
See failed runs here: https://gubernator.knative.dev/pr/knative_pkg/434

[2019-06-06 16:26] n3wscott opened #446 "[Proposal] Common Stats Reporter"
Per https://github.com/knative/eventing/pull/1352/files#r290953838

Is there interest in refactoring the current stats reporter to have this interface:

[code]

This would have to be refactored a bit, but it is implemented in eventing like:

[code]

then realized with :

[code]

See https://github.com/knative/eventing/blob/master/pkg/reconciler/stats_reporter.go

[2019-06-06 16:31] vagababov commented on #446
Why wouldn't `Ready` be also a dimension? And just `Report?

[2019-06-06 18:32] n3wscott commented on #446
Happy to make changes... it was a minor port from what serving was doing. Feedback welcome.

[2019-06-08 13:50] mattmoor opened #450 "Design / Implement webhook shared main"
Designed a "sharedmain" method for our webhooks to cut down on boilerplate.

[2019-06-09 17:07] mattmoor commented on #450
Ideally this would also enable us to separate certificate provisioning from the actual webhook serving.

[2019-06-11 15:18] aliok opened #456 "Duck type user info annotation logic"
As a follow up on https://github.com/knative/eventing/issues/1251 resolved by this PR: https://github.com/knative/eventing/pull/1293

 **Problem**
During https://github.com/knative/eventing/pull/1293 I did the initial work to make user info annotation logic working with duck types. However, that's only done in eventing. Other modules could make use of that functionality too.

**Solution**
To make

[2019-06-11 15:19] aliok commented on #456
I will work on this task

[2019-06-11 15:22] aliok commented on #456
/remove-label area/monitoring
/remove-label area/networking
/remove-label area/rest-and-release

[2019-06-11 15:22] aliok commented on #456
/remove-label area/monitoring

[2019-06-11 15:23] #456 closed

[2019-06-11 15:24] aliok opened #457 "Duck type user info annotation logic"
As a follow up on https://github.com/knative/eventing/issues/1251 resolved by this PR: https://github.com/knative/eventing/pull/1293

 **Problem**
During https://github.com/knative/eventing/pull/1293 I did the initial work to make user info annotation logic working with duck types. However, that's only done in eventing. Other modules could make use of that functionality too.

**Solution**
To make

[2019-06-11 15:24] aliok commented on #457
I will work on this task

[2019-06-11 15:24] aliok commented on #456
created https://github.com/knative/pkg/issues/457

[2019-06-14 18:33] StrongMonkey opened #460 "Guide to generate informers"
I would like to generate a new informer(pod) for my pr to knative/serving but have no clue on the guide to generate those. Would be appreciated for any help regarding to this guide!

[2019-06-15 00:15] evankanderson commented on #460
I'm not sure what you're looking for; would the generated client in serving work for you:

https://github.com/knative/serving/blob/master/pkg/client/informers/externalversions/serving/v1alpha1/service.go

[2019-06-24 01:39] mattmoor commented on #460
The stuff under `./pkg/injection/informers/` is mostly hand-rolled copy/pasta while we work on generating the injection logic for out-of-tree types.  For in-tree types we have [a guide](https://github.com/knative/pkg/tree/master/injection#generating-injection-stubs).

That said, we have one for pods already here: https://github.com/knative/pkg/tree/master/injection/informers/kubeinformers/corev1/p

[2019-06-24 01:41] mattmoor opened #484 "Extensible logstreams"
/area API
/area test-and-release
/kind feature

I'd like to be able to extend the logstream (in Serving) to scrape things in the `serving-tests` namespace, e.g. to dump the `queue-proxy` logs for relevant resources.

cc @markusthoemmes @vagababov @coryrc

[2019-06-24 17:01] StrongMonkey commented on #460
Thanks for the follow-up. I found that pod informer is already generated.

[2019-06-24 17:01] #460 closed

[2019-06-25 01:20] #457 closed

[2019-06-26 03:46] ryanbrainard commented on #430
This would be very helpful, The lack of versions broke our build in the v0.7.0 release of knative/serving because it referenced `apis.IsInStatusUpdate` in this repo, but there were no versions to reference, so I ended up having to use the most recent commit hash.

[2019-06-26 03:50] mattmoor commented on #430
@ryanbrainard we have a `release-0.7` branch on knative/pkg now.

[2019-06-26 03:50] #430 closed

[2019-07-03 10:47] afrittoli opened #505 "GitHub commit id missing from kodata should not be a warning"
## Expected Behavior
No spurious warning messages are generated when instantiating the logger:
[code]

This happens all the time when starting application that use the [logger from knative/pkg](https://github.com/knative/pkg/blob/222dd25986d91c12d54f6ac7758251f005053b8f/logging/config.go#L69).

The end result is that a lot of warnings end-up in [CI logs](As far as I understand, setting the commit

[2019-07-03 10:48] afrittoli commented on #505
Perhaps related to https://github.com/knative/pkg/issues/441

[2019-07-08 21:18] dgerd opened #511 "Webhook UserInfo adds the incorrect annotation"
## Expected Behavior

Knative Serving applies an UpdaterAnnotation of:

`UpdaterAnnotation = GroupName + "/lastModifier"`

## Actual Behavior

Knative pkg applies an Updater Annotation of:

`UpdaterAnnotationSuffix = "/updater"`

The difference here prevents Knative Serving from migrating to use the pkg version of the user info. As this was recently added in pkg and likely has no dependencies on t

[2019-07-08 21:21] vagababov commented on #511
+1
I think this was raised during the codereview.

On Mon, Jul 8, 2019 at 2:18 PM Dan Gerdesmeier <notifications@github.com>
wrote:

[2019-07-08 21:24] dgerd commented on #511
It looks like eventing used "lastModifier" as well before it was migrated to pkg

https://github.com/knative/eventing/blob/2b8f8cd64e9b4a1d32e77b0147c760ef9a2330cd/pkg/apis/eventing/register.go

[2019-07-09 02:52] houshengbo opened #513 "Is there a plan to support kubernetes-1.13.x as dependency"
## Expected Behavior
We should support kubernetes-1.13.x, by changing Gopkg.toml.
[code]
## Actual Behavior
Source code fails to build, after the dependency is updated.

## Steps to Reproduce the Problem

1. Change the Gopkg.toml, by replacing 1.12.9 with 1.13.5.
2. Update the dependencies.
3. Build the source code.

Related issues are: https://github.com/knative/client/issues/23, https://github.c

[2019-07-09 03:20] jonjohnsonjr commented on #513
I think we have to decide we don't care about 1.11 anymore per the [version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/). I'm not sure when that's true or what would break :)

[2019-07-09 09:19] daisy-ycguo opened #514 "malformed tracing ConfigMap causes pod `CrashLoopBackOff`"
/area monitoring
/kind bug
/kind good-first-issue

## Expected Behavior

If user uses a malformed ConfigMap `config-tracing`, e.g. setting `enable` to `true` without `zipkin-endpoint` configured, or `sample-rate` is not a valid float, `activator` should disable tracing and continue or use a default value. Tracing is an observability feature and its misconfiguration shouldn't cause any pods to stop

[2019-07-09 10:59] aliok commented on #511
as @vagababov said, this was discussed here: https://github.com/knative/pkg/pull/467#pullrequestreview-251389165

I changed it to `/lastModifier` in knative/pkg first but because it is a breaking change, I reverted it to `/updater` there as suggested.

But now that you pointed that both uses `lastModifier`, we should change this to that in knative/pkg as well.

[2019-07-09 16:53] n3wscott opened #517 "Stats Reporter causes a NPE. StatsReporter is new and nil in all repos."
This causes a NPE. StatsReporter is new and nil in all repos.

_Originally posted by @n3wscott in https://github.com/knative/pkg/pull/503/files#diff-1034b06755820a5860e30a206b72a333R459_

[2019-07-09 16:54] n3wscott commented on #517
/assign @anniefu

[2019-07-10 00:23] #517 closed

[2019-07-10 00:59] #511 closed

[2019-07-11 04:07] mattmoor opened #522 "Call workqueue.SetProvider to work with opencensus metrics"
The Kubernetes workqueue package defines a way to register a callback for synthesizing metrics for each of the controller workqueues in a binary process [here](https://github.com/kubernetes/client-go/blob/1a4f03865c3476aab9f565c69e63be8f75edb97f/util/workqueue/metrics.go#L330-L334)

To integrate with this, we must implement the [MetricsProvider](https://github.com/kubernetes/client-go/blob/1a4f038

[2019-07-11 04:11] mattmoor commented on #522
cc @mdemirhan

[2019-07-12 02:31] vincent-pli commented on #450
@mattmoor
Is this issue resolved, about `webhook`, `injection controller`?

[2019-07-12 02:40] mattmoor commented on #450
Nope, we still need a way to share significantly more of what's in `./cmd/webhook/main.go` in each of the repos.

[2019-07-12 02:42] vincent-pli commented on #450
Thanks, expect to see the design or discussion

[2019-07-15 06:32] vincent-pli opened #529 "RegistrationDelay in webhook.go"
About the code in `pkg/webhook/webhook.go`
[code]

The `time.After(ac.Options.RegistrationDelay)` is to used for delay the  `webhook` registration,
hope to avoid condition race between registration and http server readiness, am i right?

So, I think the ` server.ListenAndServeTLS("", "")` should placed before the `ac.Client.AdmissionregistrationV1beta1().MutatingWebhookConfigurations()`
since the

[2019-07-15 06:35] vincent-pli commented on #529
/area API

[2019-07-24 03:31] poy opened #542 "webhook SetDefault() can't alter a slice"
## Expected Behavior
When making a webhook using knative.dev/pkg, SetDefault() can alter a slice

## Actual Behavior
The slice is not patched.

## Steps to Reproduce the Problem

1. Create a type with a slice
2. Implement SetDefault for type. Alter contents of slice (e.g., delete middle entry)
3. Look at result (e.g., middle entry is still there)

## Additional Info
When I use duck.CreatePatch dir

[2019-07-31 16:53] #417 closed

[2019-08-02 20:31] ajanthan opened #557 "WaitForEndpointState() in test package doesn't work for URL"
/kind bug
## Expected Behavior
It should work for both domain(without scheme) and URL

## Actual Behavior
When the URL is passed it is not working

## Steps to Reproduce the Problem

In any of the e2e test pass the URL  instead of Host it will fail

## Additional Info
This should be fixed to solve [#5030](https://github.com/knative/serving/issues/5030)

[2019-08-02 21:53] vagababov commented on #557
There's also a flag which permits you to use the URL in the tests.

On Friday, August 2, 2019, Ajanthan <notifications@github.com> wrote:

[2019-08-02 22:15] ajanthan commented on #557
I hope you are referring to the theURL argument of [WaitForEndpointState](https://github.com/knative/pkg/blob/8a10634b4fa4df6dc450bfd883e85a33e76f2471/test/request.go#L137). If I pass a URL, it always fails because there is a bug in URL construction. For expample, if I pass http://example.com as an argument it constructs the URL as http://http://example.com (Parse method doesn't throw an error in

[2019-08-02 23:17] vagababov commented on #557
That's actually strange since this is a definitely malformed url.

On Friday, August 2, 2019, Ajanthan <notifications@github.com> wrote:

[2019-08-27 00:03] grantr opened #603 "tracing setup has wrong logger syntax"
https://github.com/knative/pkg/blob/73daad6e4735a9ba885f3e7a08fb2a2f38865a93/tracing/opencensus.go#L126-L129

Line 129 uses `logger.Errorw` incorrectly. It should actually be

[code]

The effect is that whenever an error occurs in `zipkin.NewEndpoint`, the actual error message is not present in the log line. (Zap also logs a warning "key without a value is ignored").

/cc @mattmoor @grac3gao

@har

[2019-08-27 03:59] #603 closed, assigned to vagababov

[2019-08-27 21:48] nachocano opened #608 "Remove serving/eventing StackDriver specific metrics"
## Expected Behavior
Currently, StackDriver is coupled with serving KnativeRevision metrics. Those metrics should be moved up to serving. Furthermore, eventing specific stuff should be moved to the appropriate eventing repo as well.

## Actual Behavior
There shouldn't be any serving nor eventing specific metrics in pkg.

## Additional Info
See for example https://github.com/knative/pkg/blob/e659f7

[2019-08-28 14:36] beemarie opened #613 "Error creating zipkin endpoint and missing traces"
## Expected Behavior
No error messages in activator when zipkin endpoint is created as a result of configuration update.

## Actual Behavior
When tracing is enabled, the activator has the following error message:
{"level":"error","ts":"2019-08-28T13:40:11.650Z","logger":"activator-service","caller":"tracing/opencensus.go:133","msg":"error building zipkin endpoint","

Additionally, a number of trac

[2019-08-28 22:12] capri-xiyue opened #616 "Add validation of component"
## Expected Behavior
Do validation for component name. We use component as the prefix of metrics. Prometheus only allow metrics contain ASCII letters and digits, as well as underscores and colons. It must match the regex [a-zA-Z_:][a-zA-Z0-9_:]*.  Component should also follow the validation of metrics.
## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-08-29 22:08] JRBANCEL opened #621 "Support spoofing for HTTPS"
Currently, Spoofing is done at the request layer, meaning `http.Request.Host` and `http.Request.URL.Host` are modified. This doesn't work with HTTPS because `http.Request.URL.Host` must match the TLS certificate Common Name or Subject Alternative Names, and therefore cannot be tempered. The solution is to spoof at the DNS resolution.

See: https://github.com/knative/pkg/blob/master/test/spoof/spoo

[2019-09-03 16:28] #621 closed

[2019-09-08 19:56] vagababov opened #643 "Stop caching test loggers"
Currently `TestLogger(t)` caches the loggers and then we need to call `ClearAll` to get rid of them.
There is not reason why we should cache the TestLogger in the library and then clean it up, rather than instantiate the logger in the test and give it to anything that needs that logger.

While this might bring some additional  work in the integration tests, unit tests should  mostly remain the sam

[2019-09-08 20:01] mattmoor commented on #643
This is mostly relevant to unit testing which sets up controllers expecting a zap logger.  The integration tests have all moved to `t.Logf`

[2019-09-09 17:23] vagababov opened #650 "Make sure we can wait for work queues to finish in the Fake Context"
<!--
/area test-and-release

/kind bug
/kind cleanup
/kind feature
/kind good-first-issue

Currently it is impossible to know in tests when workqueue has finished processing items.
This causes flakes and data races in the tests due to the logger logging when test has completed.

/assign @vagababov

[2019-09-10 01:07] #650 closed

[2019-09-10 17:59] jcchavezs commented on #613
Is this issue resolved @beemarie?

[2019-09-10 18:13] beemarie commented on #613
Yep - I used "fixes" as the autoclose keyword, but it doesn't look like it was functional.  We can close this one.

[2019-09-10 18:13] #613 closed

[2019-09-11 21:12] nachocano opened #665 "SourceStatsReporter UT is not working in Prow"
The UTs are not working in prow, though they are locally. It seems that we might need to unregister the views created by the webhook StatsReporter

_Originally posted by @vaikas-google in https://github.com/knative/pkg/pull/664#discussion_r323448249

[2019-09-13 16:40] #665 closed

[2019-09-14 17:54] mattmoor commented on #522
/assign

[2019-09-14 20:00] mattmoor opened #679 "Call cache.SetReflectorMetricsProvider to work with opencensus metrics"
_This is a similar issue to [this one](https://github.com/knative/pkg/issues/522) but for reflector metrics, which is implemented in [this PR](https://github.com/knative/pkg/pull/678)_

This issue covers the work to integrate with [this method](https://godoc.org/k8s.io/client-go/tools/cache#SetReflectorMetricsProvider).

[2019-09-14 20:03] mattmoor opened #680 "Call metrics.Register to expose client metrics to opencensus."
_This is a similar issue to [this one](https://github.com/knative/pkg/issues/522) but for client metrics, which is implemented in [this PR](https://github.com/knative/pkg/pull/678)_

This issue covers the work to integrate with [this method](https://godoc.org/k8s.io/client-go/tools/metrics#Register).

[2019-09-15 15:36] mattmoor commented on #679
It would appear that this isn't hooked up to anything 🤔

[2019-09-16 16:55] #522 closed

[2019-09-16 17:46] #679 closed

[2019-09-16 17:46] #680 closed

[2019-09-17 19:10] taragu commented on #643
@vagababov the 3 PRs to remove test logger caching is ready for another review. Would you please take a look?

[2019-09-18 14:44] slinkydeveloper opened #694 "Mako stub crash when too much data are pushed in"
## Expected Behaviour
It outputs all data

## Actual Behaviour
It doesn't output anything, the container exits with status code 0 and `q.Store()` hangs returning any error

## Steps to Reproduce the Problem

1. Try to run the broker tests in eventing repo with increased parallelism and longer pace configuration, like `1000:30,2000:30,1000:30,2000:30`
2. Follow both the log of aggregator and mako s

[2019-09-18 16:34] slinkydeveloper commented on #694
More info:
[code]

[2019-09-18 16:34] slinkydeveloper commented on #694
Can you give a look at it @grantr?

[2019-09-18 17:55] grantr commented on #694
I haven't tried reproing this, but the panic is happening on line 99:

https://github.com/knative/pkg/blob/9d9cb54ed007b00acecb866815836914b25ecb04/test/mako/stub-sidecar/main.go#L98-L101

Seems like `ShutdownMicroservice` is being called twice, which is strange, but regardless that `close` call should be wrapped in a sync.Once for safety.

[2019-09-18 22:16] grantr opened #698 "Mako stub should output TSV for gnuplot"
According to @jchesterpivotal, gnuplot works best with TSV, but the Mako stub sidecar emits CSV only.

We can add a flag allowing this.

@nicholss

[2019-09-19 20:52] grantr opened #702 "Capture pod resources as tags in mako.Setup"
I expect resource usage to change over the life of the benchmark. It would be nice to have Mako tags to record these things. Especially nice if mako.Setup captured them automatically :) Can we get pod resource requests and limits from the downward api?

/area test-and-release
/kind feature

[2019-09-20 11:10] markusthoemmes commented on #513
We're on 1.15.x now.

/close

[2019-09-20 11:10] #513 closed

[2019-09-20 15:33] slinkydeveloper commented on #694
I tried with the pr but the bug is still not solved. But I have something else: on aggregator I get this interesting log after waiting a bit (when the mako stub already closed)

[code]

I've tried to increase the MaxRecvMsgSize on mako-stub side and looks like i'm not experiencing the problem anymore...

[2019-09-21 14:47] mattmoor commented on #702
@grantr maybe read it out of cgroups or use something like `runtime.ReadMemStat`?  This seems vaguely similar to what I was doing yesterday to project some of this information into opencensus metrics.

Also to clarify, you want this for the system-under-test, or the benchmark driver itself?  (the downward API comment is confusing me a bit)

[2019-09-22 14:25] mattmoor opened #712 "Expose procfs metrics"
/area monitoring
/area networking
/kind feature
/kind good-first-issue

## Expected Behavior

I'd like to see us exporting a number of system stats available from `/proc/...` via opencensus.  This includes, but isn't limited to the `/proc/net/sockstat` info we started dumping when our http reverse proxying fails (to try to determine socket exhaustion).

## Actual Behavior

We don't.

## Additional

[2019-09-25 21:29] grantr commented on #702
I'm talking about the benchmark driver itself here, but system stats would be useful too. Reading out of cgroups would work if the pod has access to that.

[2019-09-25 21:55] grantr opened #721 "Allow passing benchmark ids to mako setup"
`mako.Setup` tries to get the Mako benchmark id by reading a Mako config file from kodata. This is a totally reasonable approach, but it doesn't work for eventing because there's a single image that's used for multiple benchmarks. The kodata for the single image can't have all the benchmark ids, especially since we'll have tests in both eventing and eventing-contrib.

Eventing may eventually refac

[2019-09-27 00:13] grantr commented on #721
/assign @grac3gao

[2019-09-27 17:29] grantr commented on #721
Another solution (originally proposed by @mattmoor) is to structure the kodata directory like this:
[code]

The mako setup function can take a string parameter (passed in by env var or flag) to match to the directory name, e.g. `mako.SetupWithName(ctx, "benchmark1", tags...)`.

[2019-09-30 07:46] slinkydeveloper opened #728 "Mako-stub logs interrupted abruptly"
## Expected Behavior
Write all points published to mako to the stdout of the container

## Actual Behavior
After a bit the container is closed and the output is truncated, without writing all output lines

## Steps to Reproduce the Problem

Run a benchmark in eventing with a long duration configuration (e.g. more than 300 seconds) and then pipe the mako stub logs to a file **from the container cre

[2019-09-30 16:50] grantr commented on #728
I looked into whether stdout needs to be synced on exit. Apparently trying to sync stdout on linux returns `EINVAL` because stdout can't be synced: https://github.com/uber-go/zap/issues/328#issuecomment-284337436.

The stub code calls https://golang.org/pkg/encoding/csv/#Writer.Flush which should take care of flushing the csv buffers to stdout. If the container is exiting before that call occurs,

[2019-09-30 18:25] slinkydeveloper commented on #728
@grantr

It prints partial rows sometimes

Success exit status (0)

[2019-10-01 18:26] Phlak106 opened #735 "Contributing guidelines link is broken"
https://github.com/knative/pkg/blob/master/CONTRIBUTING.md
/kind doc
/kind bug

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-10-02 17:58] Harwayne opened #741 "OpenCensus tracing exporter can use a non-DNS name"
## Expected Behavior
The OpenCensus tracing exporter can use a name that is not a DNS name.

## Actual Behavior
https://github.com/knative/pkg/blob/385ff7299f107f36e08d8eb347bc199e540bf4cf/tracing/opencensus.go#L143-L144 causes the name to be used as both the name and the hostPort. zipkin.NewEndpoint does a DNS lookup on the host in hostPort and returns an error if it does not exist.

## Steps to

[2019-10-03 20:57] garron opened #744 "Resolve compatibility with latest opencensus stackdriver exporter"
## Actual Behavior

Using recent releases (newer than 0.12.5) of "contrib.go.opencensus.io/exporter/stackdriver" results in a failure to build knaitve.dev/pkg due to stackdriver.Options.GetMonitoredResource having been removed.

## Additional Info

I submitted https://github.com/knative/pkg/pull/730 to add a constraint in order to prevent build failures, but work should still be done to reach comp

[2019-10-09 20:09] anniefu opened #886 "Support exporting metrics to Stackdriver in any environment"
## In what area(s)?

/area monitoring

## Describe the feature
Allow Knative serving components to send metrics to Stackdriver even when the Kubernetes cluster is not running on Google Cloud Platform (GCP).

This requires explicitly collecting the following Stackdriver metadata, which is normally provided by the GCP metadata server on GCP:

- GCP Project ID where metrics will be stored
- GCP Zone

[2019-10-10 23:58] capri-xiyue opened #756 "Rename the objectReference field in Destination"
## Expected Behavior
Currently we put all the fields at the top level of the Destination struct makes validation complex for the user. Similar concerns were expressed in https://github.com/knative/pkg/pull/561. The validation message [here](https://github.com/knative/pkg/blob/0a0c4972cd7134ce54b1ce6a6de8f189257a64fb/apis/v1alpha1/destination.go#L121-L123) considers the three fields `apiVersion`, `

[2019-10-11 00:00] capri-xiyue commented on #756
/assign @capri-xiyue

[2019-10-11 16:01] n3wscott commented on #756
Destination has a validation method. Just use that.

[2019-10-11 16:33] grantr commented on #756
There's an ongoing discussion of API changes at https://github.com/knative/eventing/issues/1918. This issue is one suggestion but the decision hasn't been made yet.

[2019-10-16 17:18] grantr opened #766 "test/logging/logging.go imports glog"
/area test-and-release
/kind cleanup

## Expected Behavior
At some point in the past we removed glog from all our code because it caused a multitude of issues (see https://github.com/kubernetes/kubernetes/issues/61006). Kubernetes created a fork called klog to fix them.

I expect knative projects to not import glog at all, since we use zap (or `log` when zap is too heavy).

## Actual Behavior

[te

[2019-10-16 23:11] anniefu opened #768 "Race condition when updating metrics Stackdriver exporter"
It is possible for changes to Stackdriver-related fields in ConfigMap config-observability to be applied out of order to "knative.dev/pkg/metric"s Stackdriver exporter.

There is a small window of opportunity for a race condition between reading the current metrics config, checking if a new  Stackdriver exporter is required, and setting the value of the new Stackdriver exporter.

## Expected Behav

[2019-10-16 23:11] anniefu commented on #768
/assign anniefu

[2019-10-17 18:50] capri-xiyue opened #772 "Change Destination API and modify addressable resolver based on the new Destination API"
## Expected Behavior
In https://github.com/knative/eventing/issues/1918, people have a discussion regarding the Destination API. The conclusion for that discussion is as follows:
[code]
Validation rules for Destination:
- If Ref is absent and URI is absent, the Destination is invalid.
- If Ref is present and URI is absolute (`URL.IsAbs()` returns true), the Destination is invalid.
- If Ref is abse

[2019-10-18 17:05] aslom commented on #772
@capri-xiyue after Destinations are valid I would add how actually Ref and URI are resolved to create new URI?

* if Ref is present then
    * if there's no URI then resolve Ref and use that as URI
    * else if URI a relative then resolve Ref with relative URI and use resolved URI
    * else Error: URI can not be absolute if Ref is present
* else If there's no Ref then
    * if URI is absolute th

[2019-10-18 17:54] capri-xiyue commented on #772
@aslom  I already finished the resolve part in this PR https://github.com/knative/pkg/pull/774

[2019-10-18 20:48] #768 closed

[2019-10-19 04:27] hrishin opened #779 "Metrics name prefix comes as controller name"
## Expected Behavior
`sharedmain.Main` accept only one key `componentname` it uses the same name as a prefix for emitting the metrics on `/metrics` endpoint. In `Tekton` case we want to use a different name for the component and different prefix of metrics name. `sharedmain.Main` could accept the additional argument for to pass metrics prefix name

## Actual Behavior
`sharedmain,Main` accepts only

[2019-10-20 14:18] mattmoor commented on #643
Is this done?

[2019-10-20 14:31] mattmoor opened #782 "Allow dynamic reconfiguration of webhooks"
tl;dr I'd like to be able to use our webhook infrastructure to process dynamically discovered implementations of a give duck type.

[Here's an example](https://github.com/mattmoor/boo-maps/blob/5ed68ca4e0f45e01d45ccebaddefecea263b6f9d/cmd/webhook/main.go#L122-L131) that uses a duck type with our webhook (not dynamic), but the last entry clearly hints at why being able to dynamically reconfigure th

[2019-10-20 14:35] mattmoor commented on #782
This is going to sounds somewhat like a hammer seeing everything as nails, but my initial take on this is that we should push the currently very ad hoc webhook registration process towards the reconciler pattern.  This would naturally give us a pattern that lets the webhook respond and adapt to changes.

Related to https://github.com/knative/pkg/issues/450 (and it's deeper sentiment) we should ref

[2019-10-20 14:38] mattmoor commented on #782
Note that this gets more interesting (and the logical parts clearer) as the number and kind of webhooks expand.  We now have Mutating for types (defaulting, validation), Validating for configmaps (validation), and should soon have Conversion for types.

[2019-10-20 14:45] mattmoor opened #783 "StatsReporter -> MetricsProvider"
There are a number of places that we use `StatsReporter` interfaces, which are similar in purpose, but have varied semantic differences from the `MetricsProvider` interfaces throughout Kubernetes.

IMO we should align the interface names, as well as the model for registering implementations for consistency.

[2019-10-20 14:46] mattmoor commented on #783
cc @mdemirhan @Harwayne

[2019-10-20 22:03] vagababov commented on #782
How do we do validation and the defaulting the currently a rely on explicitly calling the methods on the types.

[2019-10-21 00:46] nimakaviani commented on #782
Defaulting can probably be encoded in the same resource that holds the reference bindings, eg by pointing to a config map or providing key/values?

But to @vagababov 's point, what about validation on fields that fall outside what is validated with the duck type?

[2019-10-21 12:29] taragu commented on #643
@mattmoor yep, this is done

[2019-10-21 17:00] n3wscott commented on #782
We could bring in the OpenAPI of the duck and use that as a first pass.

[2019-10-21 21:42] #772 closed

[2019-10-22 20:34] capri-xiyue commented on #756
Closed since it's a duplicate of https://github.com/knative/pkg/issues/772

[2019-10-23 14:13] slinkydeveloper commented on #698
Not sure there's a big difference between tsv and csv for gnuplot, it's just a matter of an additional command. Anyway I agree that we should have some "format" flag support to customize the output

[2019-10-23 14:54] jchesterpivotal commented on #698
There isn't a difference on paper, but I just found that TSV behaved better in practice. CSVs tended to glitch more often.

[2019-10-23 15:02] slinkydeveloper commented on #698
no problem for me, just let's keep both options. I'm using a custom tool that starting from mako output does some maths, so for me it's kinda important to keep csv, since my tool ingests csv https://github.com/slinkydeveloper/eventing-bench-results/blob/master/parse_run.sh

[2019-10-23 15:44] grantr commented on #698
/close

If we determine we need tsv, we can reopen.

[2019-10-23 15:44] #698 closed

[2019-10-24 14:59] slinkydeveloper opened #799 "Mako stub log doesn't report all columns"
/area test-and-release
/kind feature
/kind good-first-issue

## Expected Behavior
Mako stub should print all columns always in same order (that could be the defined order in the .config file), including the one without data points.

This simplifies the scripting for result processing

## Actual Behavior
Mako stub doesn't print all columns. e.g. when no error occurs, no failure column appears

[2019-10-24 17:02] grantr commented on #799
:+1: This would be a useful improvement.

[2019-10-24 23:41] yanweiguo commented on #744
Created https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/issues/230

[2019-10-25 18:00] anniefu opened #807 "Potential deadlock in knative.dev/pkg/metrics when using k8s.io/client-go/kubernetes"
When using knative.dev/metrics/pkg, the kubeclient has an unexpected dependency on the knative.dev/pkg/metrics pkg and its internal lock (metricsMux) that prevents the kubeclient from being used freely within the metrics pkg.

Here are the two uses of the metricsMux that don't play well.

knative.dev/pkg/metrics/exporter.go
- exporter.go protects its internal state, the current metrics config and

[2019-10-30 06:46] xUnholy opened #831 "Istio LDS becoming stale due to invalid privateKey"
https://github.com/knative/pkg/blob/3732de5802012193835c9fe65436b761ed3fecea/apis/istio/v1alpha3/gateway_types.go#L255

This value should be omitted if empty and be a pointer.

If CredentialName is being used this field is not required - it will also make the Istio LDS become stale with an error saying the PrivateKey cannot be found, of course this is because privateKey is an empty string and cann

[2019-10-30 06:48] xUnholy commented on #831
I'm using this package because the official Istio package `istio.io/api/networking/v1alpha3` doesn't support deep copy object, which I require as I'm creating a Kubernetes operator.

I've noticed this package has drifted from the before mentioned package, I'm not sure if that is intended however, it would be great if we can regain parity with the upstream changes.

[2019-10-31 05:35] xUnholy commented on #831
The following PR is currently open with an attempt to update the Istio Gateway Spec however it is also now outdated and invalid.

https://github.com/knative/pkg/pull/736

There needs to be a better way of going forward to keep parity.

Here is the upstream Istio Gateway Spec for TLSOptions that we should be trying to gain parity with.
https://godoc.org/istio.io/api/networking/v1alpha3#Server_TLSOp

[2019-10-31 17:17] #450 closed

[2019-10-31 17:17] #529 closed

[2019-10-31 17:17] #782 closed

[2019-10-31 19:25] yanweiguo commented on #744
/assign

[2019-10-31 19:43] mattmoor opened #838 "webhook should have a way to expose readinessProbes"
/area API
/area monitoring
/kind cleanup
/kind good-first-issue

Our webhooks doesn't expose any sort of readiness endpoint that can be used in a `readinessProbe`.  We should design and implement such a concept.

[2019-10-31 19:44] mattmoor commented on #838
This is related to another issue (https://github.com/knative/pkg/issues/417) that had initially attempted to solve this with a registration delay, but that doesn't help the path where a webhook deployment is updated.

[2019-10-31 23:51] mattmoor opened #839 "webhook reconcilers don't properly deduplicate and throttle"
/area API
/kind bug
/kind good-first-issue

The webhook reconcilers use `c.Enqueue` to queue work when the informer alerts them that something has changed, e.g. [here](https://github.com/knative/pkg/blob/d4ce00139499bd3ea11cdb18ef20a41bdb248245/webhook/resourcesemantics/controller.go#L71).

However, done like this we might actually get a queue event from each of the informers enqueuing the MWH nam

[2019-11-01 00:22] maisem commented on #839
/assign

[2019-11-04 19:39] anniefu opened #842 "Make Stackdriver metrics exporter watch Stackdriver Secret"
Follow-up to enhance #824

Goal is to have this in by Nov 15, 2019.

## Expected Behavior
The metrics Stackdriver exporter can support reading a k8s Secret to configure the Stackdriver client with for authentication.

When the specified Stackdriver Secret for Stackdriver metrics exporter changes (same name/namespace, but is modified in-place), the Stackdriver exporter should be re-created with the

[2019-11-04 19:42] anniefu commented on #842
/assign @anniefu

[2019-11-05 00:22] #839 closed

[2019-11-05 02:49] maisem commented on #838
/assign

[2019-11-05 14:54] mattmoor opened #847 "Split apart resource webhook"
_For a bit [more context](https://twitter.com/mattomata/status/1191015959269531648)_

[Background](https://kubernetes.io/blog/2019/03/21/a-guide-to-kubernetes-admission-controllers/).

Mutating webhooks are executed serially to generate patches of mutations to apply to resources prior to validation, which (it seems?) execute in parallel, before committing the resource to etcd.

Currently we perfor

[2019-11-05 15:20] jchesterpivotal commented on #847
I have two questions.

1. By "which (it seems?) execute in parallel", do you mean the patches supplied by mutating webhooks are applied in parallel, or at least in an undefined order?
2. By "split", do we mean controllers running in distinct pods?

[2019-11-05 15:24] mattmoor commented on #847
@jchesterpivotal look at the diagram in the background article, I think it says it better than my words.  I do not mean separate pods, but more like `/defaultable` and `/validatable` on the same pod.

[2019-11-06 17:03] slinkydeveloper commented on #799
@grantr there is any way from mako apis to retrieve all metrics described in `dev.config` file? Because I can't find it :)

[2019-11-06 17:35] grantr commented on #799
Good idea! `dev.config` is a proto file in text format defined at https://github.com/google/mako/blob/master/spec/proto/mako.proto#L255. knative/pkg parses it to get the benckmark key: https://github.com/knative/pkg/blob/master/test/mako/config/benchmark.go#L54

[2019-11-07 19:17] anniefu opened #855 "Migrate from OpenCensus to OpenTelemetry"
OpenCensus & OpenTracing have merged to form OpenTelemetry (see https://github.com/census-instrumentation/opencensus-go & https://medium.com/opentracing/a-roadmap-to-convergence-b074e5815289).

Knative should to move to instrumenting metrics and traces with OpenTelemetry instead of OpenCensus ahead of OpenCensus getting deprecated.

[2019-11-07 22:52] yanweiguo commented on #744
Found another issue: https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/issues/237

[2019-11-09 02:15] mattmoor opened #859 "Extend the tracker to support label selectors"
Today the "tracker" supports having an object `Track()` another object given a `corev1.ObjectReference` with its exact coordinates (of sorts).

Another interesting use-case is to track a label-selected collection, e.g.
[code]

I'd propose the following breakdown of work to stage this change:
1. Introduce `tracker.Reference` that is a derivative of `corev1.ObjectReference` capturing the fields rele

[2019-11-11 15:05] #859 closed

[2019-11-11 23:13] yanweiguo opened #866 "Introduce interfaces for metrics exporter"
In metrics exporter code, we have some `if` statements to do different behaviors if the backend is Stackdriver or Prometheus. Some global variables are used for a specific backend only. For example the Prometheus service. These are not good.

We can introduce interfaces like
[code]

[2019-11-13 17:54] yt3liu opened #873 "Separate test/prow library with another package with functions with lite dependencies"
## Expected Behavior

Functions in test/prow that does not depending on non-builtin functions are separated out as a separate package so for files that do not use those heavy functions, they do not need to pull in heavy dependencies.

## Actual Behavior

When a file only needs `GetLocalArtifactsDir` requires adding "cloud.google.com/go/storage" and "google.golang.org/api/option" as dependencies.

[2019-11-15 00:51] #847 closed

[2019-11-16 01:55] coryrc commented on #766
/close

[2019-11-16 01:55] #766 closed

[2019-11-16 01:58] coryrc commented on #441
/assign @coryrc

[2019-11-16 01:58] coryrc commented on #441
I'm doing some logging cleanup

[2019-11-16 02:08] coryrc opened #883 "Unite underlying log libraries into Zap"
Our project has chosen to use Zap for structured logging. Some of our dependencies (Mako, client-go) use other logging libraries: glog, klog. Those two don't coexist well and we shouldn't have several knobs to control logging.

Istio team had this same issue and has a very neat solution of writing API wrapper with calls to Zap, and updating go.mod to redirect imports for github.com/golang/glog and

[2019-11-16 02:10] coryrc commented on #883
Somewhat related: #441

[2019-11-18 21:11] anniefu commented on #886
Fixed by #794 & #824

[2019-11-18 21:12] #886 closed

[2019-11-20 05:20] coryrc commented on #883
klog provides a way: https://github.com/kubernetes/klog/blob/8422fac62d1e961e89426ffb5ae3a07f2d0bcca2/klog.go#L775

+ the glog->klog wrapper should do the job

[2019-11-20 23:11] grantr opened #890 "URIResolver uses v1beta1.Destination instead of v1"
/area API
/kind cleanup

## Expected Behavior

URIResolver uses v1.Destination

## Actual Behavior

URIResolver uses v1beta1.Destination, requiring code using it to translate between the two types.

## Additional Info
Alternately, if v1beta1.Destination is the right type for URIResolver, add method(s) to Destination types that translate between them.

[2019-11-21 01:16] coryrc opened #891 "Need presubmits for performance testing"
I broke performance testing when adding klog initialization. There should be some basic presubmit in pkg to check performance isn't broken.

[2019-11-22 19:33] #799 closed

[2019-11-23 14:19] jcrossley3 opened #895 "Compile error using 1.14.6 k8s libs"
This [line](https://github.com/knative/pkg/blob/2ec0f8da50578dcc3d830571d0de24de834579c8/client/clientset/versioned/typed/istio/v1alpha3/istio_client.go#L83) gives me the following error using 1.14.6 k8s libs:
[code]
The `authentication_client.go` has the same problem.

I tried using 1.15.3 libs but that introduced other problems going against a 1.14.6 cluster. If 1.14.x is the minimum supported k

[2019-11-23 18:18] markusthoemmes commented on #895
Compatibility with a 1.14 cluster shouldn‘t be determined by whether or not the respective Golang libs compile.

IIRC the clients should have +/- 1 version compatibility.

I‘m curious which issues have been causes by the clients on a 1.14 cluster, can you elaborate?

[2019-11-25 07:36] slinkydeveloper commented on #728
Closed by https://github.com/knative/pkg/pull/868 . Now for big logs devs should use the http mode of the stub and collect results with the provided script

[2019-11-25 07:36] #728 closed

[2019-11-25 17:54] n3wscott opened #897 "document duckgen in pkg"
We need a little doc writeup for  https://github.com/knative/pkg/pull/896#issue-344944120

[2019-11-26 04:55] coryrc commented on #60
Flag parsing is now done by the testing library. So this bug is no longer relevant.
/close

[2019-11-26 04:55] #60 closed

[2019-11-26 05:28] coryrc opened #901 "Generate JUnit directly from tests (remove necessity of go-junit-reporter)"
go-junit-reporter is not being supported (we have [open bugs](https://github.com/jstemmer/go-junit-report/issues/95), PRs are languishing) so lets generate the JUnit directly.

As part of improving logging this can fix #441 and [eventing#1894](https://github.com/knative/eventing/issues/1894), as well as offer a good way to make conformance tests print better output.

[2019-11-26 05:28] coryrc commented on #901
/assign @coryrc

[2019-11-26 05:33] chizhg commented on #901
I believe you investigated on [gotestsum](https://github.com/gotestyourself/gotestsum) a bit before, are you referring to this tool here in this issue?

[2019-11-26 06:25] coryrc commented on #901
I was not, I am trying out what it looks like to generate it in the logging module. gotestsum would not help with eventing#1894 either.

[2019-11-26 06:26] coryrc commented on #901
Err, maybe it would because the json output streams?

[2019-11-26 10:11] coryrc commented on #901
Any tool that runs after can't collect all log messages for tests that are run in parallel (unless JSON stream annotates them perfectly, I will investigate)
But if we collect logs in real time to other file(s) it doesn't matter if JUnit doesn't have everything in it.

[2019-11-26 22:00] #890 closed

[2019-11-26 23:31] coryrc opened #907 "Logging Quality-of-Life Issues"
A while ago, [it was chosen](https://github.com/knative/test-infra/issues/530) to use testing.T logging for our tests, primarily for aesthetic reasons.

## Current Problems

1. Cannot add trace information without polluting the logs
2. #441 (Irrelevant logging)
3. [eventing#1894](https://github.com/knative/eventing/issues/1894) (Logs lost on timeouts)
4. The libraries our dependencies use do not l

[2019-11-26 23:51] coryrc commented on #907
## Solution Implementation

[Demonstration unit test](https://github.com/coryrc/pkg/blob/7138531b94f06109f62b5e1c74443eb3fb979977/test/logging/logging_test.go#L21).

Prints something like this if --verbosity=5: [0]

[code]

The [very light wrapper](https://github.com/coryrc/pkg/blob/7138531b94f06109f62b5e1c74443eb3fb979977/test/logging/tlogger.go#L26) around Zap and testing.T.

Test changes needed

[2019-11-26 23:54] coryrc commented on #907
/cc @dgerd
/cc @mattmoor
/cc @vaikas
/cc @chizhg
/cc @chaodaiG
/assign @coryrc

[2019-11-26 23:54] mattmoor commented on #907
cc @Harwayne

[2019-11-26 23:55] mattmoor commented on #907
This isn't accurate, we did it partly because the alternative that existed couldn't run in t.Parallel without tripping `-race` all over.

[2019-11-27 00:28] coryrc commented on #901
For now, 907 addresses more issues and will re-open if this becomes necessary.

[2019-11-27 00:28] #901 closed

[2019-11-27 00:31] coryrc commented on #907
I didn't find any reasoning in the change PRs/issues, so I DM'd the author and that's what they remembered. Provided this issue can be addressed, how do you feel about this proposal?

[2019-11-27 02:29] mattmoor commented on #907
Well, then perhaps we're talking about different changes because I switched all the e2e tests to use `t.Logf` in serving 🤷‍♂

Honestly, so long as we can maintain `t.Parallel`, I don't particularly mind.

[2019-12-02 22:50] coryrc commented on #64
This is fixed because `go test` does flag parsing now, and files like knative/serving/test/e2e_flags.go do define flags.
/close

[2019-12-02 22:50] #64 closed

[2019-12-02 22:51] coryrc commented on #327
Can you give some examples and/or further explanation?

[2019-12-02 22:51] coryrc commented on #286
Is this still relevant? If so, please assign to me.

[2019-12-02 22:56] coryrc commented on #440
Given `go test`/testing now calls flag.Parse() for us, we don't really control flag parsing. So this is no longer relevant.

/close

[2019-12-02 22:56] #440 closed

[2019-12-02 22:58] coryrc commented on #643
Based on the previous comment:
/close

[2019-12-02 22:58] #643 closed

[2019-12-02 23:00] coryrc commented on #326
Is this really possible given how tightly coupled the repos are with pkg?
Should we not be updating pkg vendoring in repos daily?

[2019-12-02 23:01] coryrc commented on #557
Given we pretty much only use URL now, can this be closed?

[2019-12-03 22:12] #744 closed

[2019-12-04 00:31] capri-xiyue opened #923 "Verify that the K8s service actually exists in K8s in func URIFromObjectReference"
## Expected Behavior
We should be able to know whether K8s service actually exists in K8s in func URIFromObjectReference()
## Actual Behavior
Currently, we can still resolve URI from K8s service even though it doesn't exists.

## Additional Info

[2019-12-04 05:00] coryrc commented on #907
Note: out of scope is capturing klog output to redirect to JUnit (because klog is global and Go does not make it easy to make threadlocal variables for goroutines).

[2019-12-04 18:17] tcnghia commented on #208
/close

This is obsolete, we moved to using istio/client-go.

[2019-12-04 18:17] #208 closed

[2019-12-04 18:18] tcnghia commented on #831
/close

This is obsolete, we moved to istio/client-go.

[2019-12-04 18:18] #831 closed

[2019-12-05 16:07] adrcunha commented on #907
Regarding addressing of pain point 2, how can one use that on Prow? Does it need to be hardcoded in the job?

Regarding addressing of pain point 3, do we have a PoC that if a test times out on Prow we really don't loose logs?

How does it affect the proposed addressing of pain points 4 and 5?

[2019-12-05 18:29] coryrc commented on #907
All our logging libraries allow setting verbosity levels, they just weren't plumbed together. I'm making a flag that controls it so users (including Prow) can set verbosity at whatever level they wish.

It's an explicit feature of testing.T.Log() method that it doesn't print anything until the test completes, so pretty easy to avoid.

All logging will be copied to a separate file (optionally, and

[2019-12-10 00:24] coryrc opened #934 "client_test.go should not require gcloud application default credentials"
Cloned knative/pkg.
Ran `go test ./...`
All tests pass except `pkg/test/gke/client_test.go`
Ran `gcloud auth application-default login`
Now all tests pass.

I don't believe unit tests should require 3rd-party software to be configured.
Or if they do, this should be documented in this repo somehow.

[2019-12-10 02:02] vincent-pli opened #936 "Webhook should support kubectl diff"
## Expected Behavior
Webhook should support `kubectl diff`
## Actual Behavior
`Error from server (InternalError): Internal error occurred: admission webhook "webhook.serving.knative.dev" does not support dry run`

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2019-12-11 00:30] vincent-pli commented on #936
@mattmoor
What do you think? thanks

[2019-12-11 03:09] vincent-pli commented on #936
Understood, for now, it's a `reconciler` things, could define `sideeffects` in yaml.

[2019-12-11 03:09] #936 closed

[2019-12-13 18:33] coryrc commented on #934
cc @adrcunha as he appears to be creator of the file

[2019-12-13 18:39] adrcunha commented on #934
This was created by @chaodaiG . Seems like a simple fix; we never had any issues with that because credentials are already setup in a Prow job.

[2019-12-20 18:18] evankanderson opened #955 "Add export to OpenCensus Agent to `pkg/metrics`"
## Expected Behavior

Users should be able to use 'metrics.backend-destination = "ocagent"' in `config-observability` to export metrics to the [OpenCensus Agent](https://opencensus.io/exporters/supported-exporters/go/ocagent/) on the default host and port (`localhost:55678`).

Over time, this will become the default, and then the only option.

## Actual Behavior

Only Prometheus (default) and Stac

[2019-12-20 18:52] yolocs opened #956 "Let pkg also be the home for common knative API and binaries"
Both serving and eventing start to have some functionalities that could benefit more than just the belonging repo. E.g. https://github.com/knative/eventing/pull/2333 ConfigMap propagation API could be beneficial to both repos but the fact it only comes with eventing seems wrong. @grantr also mentioned that serving Certificate API could be another example.

`pkg` currently only have common libs. I

[2019-12-20 18:58] evankanderson commented on #956
We have a few common APIs in the "duck typing" package in `apis` today, so I think this has been done before.

In general, I think we'll end up needing to use duck typing to share these components.

[2019-12-20 18:59] evankanderson opened #957 "Ensure that `pkg/metrics` tests don't take provider-specific dependencies"
## Expected Behavior

`go test ./metrics/...` should work on a fresh checkout without any stalls or hangs.

## Actual Behavior

At one point, the tests failed if Google Application Default Credentials could not be found.

## Additional Info

I'm guessing this uses [`x.oauth2.google.FindDefaultCredentials`](https://godoc.org/golang.org/x/oauth2/google#FindDefaultCredentials), which says:

It looks

[2019-12-20 18:59] evankanderson commented on #957
Related: #934

[2019-12-20 19:01] n3wscott opened #958 "Google Application Creds required to run UNIT TESTS in pkg."
Please fix:

[code]

_Originally posted by @n3wscott in https://github.com/knative/pkg/pull/953#issuecomment-568045781_

[2019-12-20 19:01] evankanderson commented on #934
From #957:

[2019-12-20 19:13] yolocs commented on #956
What about the controllers for such APIs? E.g. ConfigMap propagation. I think a single controller is good enough.

[2019-12-20 19:27] evankanderson commented on #958
I think this is covered in #934

/close

(duplicate)

[2019-12-20 19:27] #958 closed

[2019-12-24 04:58] chizhg commented on #934
/assign
I'll work on the fix.

[2019-12-26 21:16] #934 closed

[2020-01-02 17:44] mattmoor opened #969 "Aggregated roles for ducks should distinguish admin, edit, view."
/area API
/kind cleanup
/kind feature

Kubernetes has some built-in cluster roles for Namespace admin/editor/viewer that allow folks to curate what resources show up in each with labels like:
[code]

We have a similar problem for consumption of our assorted Duck types, which is that some consumers only need to view, and others need to patch.

I think that we should probably define and adopt a conv

[2020-01-03 09:13] vaikas commented on #969
Just to make sure I understand :)
IIUC, we already do these for some of eventing pieces (for example channelable-manipulator), like in the Channel spec:
https://github.com/knative/eventing/blob/master/docs/spec/channel.md

Since you're talking in the context of the pkg, I could imagine for example defining something like reader for addressables? We have defined in the eventing the channelable-mani

[2020-01-03 15:15] mattmoor commented on #969
I think the concrete task here is to document the pattern that we should follow for setting up ACLs for duck types that are for more than read-only.  I think we should consider the Kubernetes precedent as something to align that pattern with (both in mechanism, and in naming our roles).  I think we should consider standardizing an additional duck label to distinguish "roles" in a standard way for

[2020-01-07 05:14] qibobo opened #977 "configmap.InformedWatcher need cluster role for listing configmap?"
I am using the pkg(knative.dev/pkg v0.0.0-20191107185656-884d50f09454) to create a configmap watcher.
[code]
While the code is running with a serviceaccount is only bound with a Role:
[code]
It show that the service account can not list configmaps with cluster scope.
[code]

While after I bind the serviceaccount to a cluster role which has the same rules as the role used above, the error is fixed:

[2020-01-07 06:44] #977 closed

[2020-01-09 22:10] anniefu opened #985 "Stackdriver OpenTelemetry Collector Service Config"
Part of moving to the Collector Service model documented at https://github.com/knative/pkg/blob/master/metrics/README.md

Google will be responsible for publishing a OpenTelemetry/OpenCensus Collector Service config that supports emitting the exact same metrics to Stackdriver Knative currently supports. The config will likely live in a non-Knative repo.

We should not deprecate any existing Stackd

[2020-01-09 22:11] anniefu commented on #985
/assign anniefu

[2020-01-13 22:35] grantr commented on #883
@coryrc do you think this would be a good first issue?

[2020-01-13 22:36] grantr commented on #866
@yanweiguo do you think this would be a good first issue?

[2020-01-14 01:03] grantr commented on #907
@coryrc is this fixed now with #935?

[2020-01-14 01:50] coryrc commented on #907
No, 935 is just a small step toward enabling it. I'm using the serving conformance tests to validate the idea, see knative/serving#6264 and intend to have something to present to serving working group Real Soon Now (probably next week).

[2020-01-15 17:57] coryrc commented on #883
No.

I've sent PRs to the mentioned repos. Maybe we need to fork them or I need to directly contact people to get the changes through.

[2020-01-15 18:06] grantr commented on #883
Ok, thanks for explaining. I didn't realize this was about getting repos owned by other organizations to change their logging libraries. That doesn't seem like a good first issue at all.

[2020-01-20 06:28] nak3 opened #996 "RFE: func WaitForXXXX should print last state of the resource when failed"
/area test-and-release

When `func WaitForXXXX` in [test/kube_checks.go](https://github.com/knative/pkg/blob/master/test/kube_checks.go) failed, it just prints the error as `timed out waiting for the condition`.

(e.g.) [autoscale_test.go](https://github.com/knative/serving/blob/4505ff00396d4acd85cd079ce7f20d815927d157/test/e2e/autoscale_test.go#L230-L232)
[code]

So, it is still difficult to know

[2020-01-20 08:19] MIBc commented on #996
I'd like to try.

[2020-01-20 10:22] nak3 commented on #996
Sure. I would highly appreciate if could take it. But I'm still not sure if this idea will be accepted or not.

[2020-01-21 16:20] n3wscott opened #1000 "the addition of ocagent to knative/pkg is not auto-importable by other projects."
/kind bug
/kind cleanup

## Expected Behavior
If a project that does not use ocagent but imports knative/pkg, that project should be able to run dep ensure and build without additional deps.

## Actual Behavior

Can not finish dep ensure because unknown dep on ocagent.

## Steps to Reproduce the Problem

1. Do not use ocagent.
2. dep on knative/pkg
3. cry

## Additional Info

There is no import of

[2020-01-22 22:01] yolocs opened #1005 "Allow to specify PrometheusPort when creating metrics exporter"
## Problem

Currently https://github.com/knative/pkg/blob/master/metrics/exporter.go#L71 does allow specifying a `PrometheusPort` when creating the exporter. When a knative component uses metrics exporter along with serving queue-proxy (which also uses the metrics exporter), the same default port 9090 will be used and cause failure.

## Solution

Allow to specify PrometheusPort when creating metri

[2020-01-22 23:34] #1005 closed

[2020-01-23 17:56] pmorie opened #1007 "[Feature Track] Active/passive HA"
This issue is for the active/passive HA feature track, document [here](https://docs.google.com/document/d/1zHtVjVmzivO2PEhZkpqNo-M9cPnmfvBWMYzP8ehVXtM/edit#).

/kind feature

[2020-01-30 04:43] Uvindu96 opened #1020 "knative.dev/pkg/metrics/metrics.go:38:12: undefined: tag.MustNewKey"
## Expected Behavior
I'm trying to build a Knative service spec using go lang, I have used the import "knative.dev/serving/pkg/apis/serving/v1" to import Knative modules to my project. This should allow me to create a Knative service spec.
my kantive version is (0.12)

## Actual Behavior
 when building my project using the operator-sdk(version 0.15) it gives me the following error.

## Steps to Re

[2020-02-03 17:26] dprotaso opened #1038 "Figure out what metrics we want the conversion webhooks to report"
## Additional Info
Follow up issue to https://github.com/knative/pkg/pull/993#discussion_r373031188

[2020-02-04 13:34] skaslev commented on #1020
`MustNewKey` is defined in the `go.opencensus.io/tag` package which seems to be missing from your project.

Knative is not using go modules yet which might explain why what you have above doesn't work.

[2020-02-04 17:45] dprotaso opened #1044 "Webhook should update K8s service info for various callback configurations"
## Expected Behavior
Context: https://github.com/knative/serving/pull/6566#discussion_r374769140
Currently the webhook only updates the CA cert bundle & the webhook path. But it's aware of the fronting service.

## Actual Behavior
The webhook should update the K8s service config for Mutating/ValidatingWebhookConfigurations & CRD conversion webhook config

[2020-02-04 20:11] chmouel opened #1047 "webhook controller has a lot of messages error messages about missing cacert"
a lot of error messages due of missing cacert have started to appears in  the `tektoncd-webhook` pod logs, this has been happenning since we did a bump to use knative.pkg-0.12  in here https://github.com/tektoncd/pipeline/pull/1894 :

[code]

They seem harmless and only shows up at boot time and for the `webhook` controller but there is quite a few of them (55) and they may look quite worrisome fo

[2020-02-04 20:12] chmouel commented on #1047
oh `prow` parses the comments 🤦‍♂

[2020-02-04 21:27] pmorie opened #1048 "Adopt health checks in sharedmain"
Currently, we do not use health checks in our controllers descended from `sharedmain`. Adopting health checks will allow us to begin reporting controllers as unhealthy so that they are restarted by the kubelet. For example, we will be able to use the leaderelection health checker to begin reporting unhealthy after the leader election timeout elapsed when renewing the leader election lease.

/kind

[2020-02-06 14:38] dprotaso opened #1057 "apis.Convertible has confusing function names"
What `ConvertUp` & `ConvertDown` should do isn't immediately obvious.

https://github.com/knative/pkg/blob/79f10450c2609c682a2dae3762adb867c504f15b/apis/interfaces.go#L37-L45

Suggested Alternative
- `ConvertTo` & `ConvertFrom`

[2020-02-06 14:38] dprotaso commented on #1057
cc @mattmoor @vaikas @n3wscott @vagababov

[2020-02-06 14:50] mattmoor commented on #1057
I think my original suggestion was `UpFrom` and `DownTo`.  I agree that including a qualifier to indicate the asymmetry would be useful.

https://github.com/mattmoor/serving/commit/a1a18f7a190cd1bd7366779917ab300fb180da88#diff-f9e008c1b737ef87f37530e188421665R136

[2020-02-06 18:02] n3wscott commented on #1057
+1 on `xFrom` and `xTo`

I like `ConvertTo` & `ConvertFrom` because it reads to me as it is doing a conversion. I understand this, I understand `UpFrom` less

[2020-02-06 18:04] vaikas commented on #1057
+1 was super confusing and had to go digging and read with care :) make it so.

[2020-02-06 18:10] n3wscott commented on #1057
`ConvertUpTo` and `ConvertDownTo`

[2020-02-06 18:15] dprotaso commented on #1057
Are we ok with a breaking change?

On Thu, Feb 6, 2020 at 1:10 PM Scott Nichols <notifications@github.com>
wrote:

[2020-02-06 18:17] vagababov commented on #1057
I can go with `ConvertUp/DownTo`.
We can do two step wherein we have both names for 2 releases.

[2020-02-06 19:52] dgerd commented on #1057
+1 on `ConvertTo` and `ConvertFrom`. I am not sure it is worth a change if we are just adding `To` to the end of the existing functions.

I am okay with a breaking change here, but we should have the fixed dependencies ready with [WIP] PRs before checking this into pkg to limit time of breakage.

[2020-02-06 20:27] yolocs opened #1060 "duck.CreatePatch cannot handle "remove" properly in some cases"
## Problem

https://github.com/knative/pkg/blob/master/apis/duck/patch.go uses `github.com/mattbaird/jsonpatch` which cannot handle json object removal properly and is no longer maintained upstream.

For example if I two podspec:

[code]

## Expected Behavior

I expect patch generated is something like

[code]

## Actual Behavior

Actual patch

[code]

This is not a valid patch because both contai

[2020-02-06 21:25] yolocs commented on #1060
This seems like a popular json patch lib: https://github.com/evanphx/json-patch. But it only supports generating merge patch.

[2020-02-06 21:33] pmorie opened #1061 "Stateless webhooks"
Webhooks should be stateless, but currently our webhooks are factored to reconcile resources as well as serve admission requests. This issue is to factor reconciliation out of webhooks and provide distinct entrypoints in shared main code for webhooks and reconciling controllers. This is motivated by a desire to leader elect controllers and not leader elect webhooks.

/kind cleanup

## Expected Beh

[2020-02-07 23:12] n3wscott opened #1065 "[Discussion] Let’s talk about finalizers."
There are (at least) two camps:

1. if your controller will use a finalizes, then slap it on the resource first thing for the entire life of that resource regardless of reconciliation requirements

2. when your controller does an action that requires intervention to undo (cluster external or whatever), it then adds a finalizer to that resource.

`1.` is way easier to implement

`2.` is (in my humb

[2020-02-08 00:25] grantr commented on #1065
I think I prefer 1. The case you mention where 2 is better is deleting an object that doesn't need to finalize right? In that case deleting the finalizer is very fast. Doesn't seem worth a more complicated api.
But if you can make 2 work with a simple api, go for it :)

[2020-02-08 14:48] antoineco commented on #1065
I agree that finalizers should be there for a reason, so leaning towards **2.**.
Like Grant, I'm unconvinced about the speed argument, so I wouldn't sacrifice on simplicity for that only reason.

[2020-02-10 14:49] lionelvillard commented on #1065
@antoineco Do you mean leaning toward `1`? `1` is the simple, safe case.

[2020-02-10 15:05] antoineco commented on #1065
@lionelvillard No, I really meant **2**, which sounds more correct to me. By "there for a reason" I meant that I'm not expecting a finalizer to exist on an object unless its controller has a good reason to put it there (which is rarely the case).

On the other hand, I understand that **1** is the simpler option, so I don't mind if @n3wscott finds out after some tinkering that the implementation of

[2020-02-10 15:15] lionelvillard commented on #1065
I usually lean towards safety and simplicity, especially for controllers. +1 for `1`.

[2020-02-10 15:36] n3wscott commented on #1065
I am going to take a look at implementing this today, it is required for a lot of eventing components. To be clear, I would not opt in all things to use finalizers for 1, the diff is the controller could opt in and then if it does, it would get a finalizer or not. Let me dig in and see where I end up.

[2020-02-11 03:46] #1065 closed

[2020-02-11 20:29] n3wscott commented on #1065
Went with 1.

[2020-02-11 20:40] ian-mi opened #1076 "Support jaeger collector"
## Expected Behavior
knative components should be able to export telemetry in jaeger's native collector format.

## Actual Behavior
knative users wishing to export telemetry to jaeger must use the zipkin format.

[2020-02-11 21:22] ian-mi opened #1077 "Support jaeger agent"
## Expected Behavior

Knative components should be capable of exporting telemetry to jaeger agents.

## Actual Behavior

Only stackdriver and zipkin trace endpoints are currently supported.

[2020-02-11 21:59] yolocs commented on #1060
This https://github.com/gomodules/jsonpatch looks like a improved implementation. With the example above, it generates the following patch, which looks correct.

[code]

[2020-02-11 22:06] anniefu commented on #842
Closing this issue since it will become obsolete with the new metrics plan to use the opencensus agent exporter to export to the OpenCensus collector service: https://github.com/knative/pkg/blob/master/metrics/README.md

[2020-02-11 22:06] #842 closed

[2020-02-12 10:36] markusthoemmes opened #1082 "Generate reconcileFuncs"
The generated reconcilers/controllers had me so hyped up, that I now want to generate all the things 😂.

In all seriousness: What if we could generate the `Reconcile${Type}` functions as well? They usually follow a common schema:

[code]

They do have diverged quite a bit in Serving though. I looked a bit through all of our instances of such functions and noticed a few (maybe key) differences betw

[2020-02-12 10:41] markusthoemmes commented on #1082
/cc @vaikas @n3wscott @mattmoor

[2020-02-12 11:53] vaikas commented on #1082
As discussed in slack, I think this is a great idea!!
Couple of thoughts, wonder if we should diff labels/annotations as well since at least some of the resources utilize those and it would be good to get them updated properly.
I think Event being returned would be good escape hatch to return information that the reconciler might want to act upon, as you touch, sending an event is a good one for s

[2020-02-12 16:27] #1060 closed

[2020-02-13 04:45] Uvindu96 commented on #1020
Thank you, I think this resolved my issue.

[2020-02-13 04:45] #1020 closed

[2020-02-15 21:16] mattmoor opened #1098 "First-class support for class-based reconcilers."
/area API
/kind bug
/kind feature

There is a bug today with `// +genreconciler`-based reconcilers that using finalizers and are class-based.  Essentially we have no way to keep the wrong class' reconciler from adding finalizers to resources they shouldn't handle or (worse!) removing them from resources they shouldn't handle.

We know in general which resources we define are going to be class-base

[2020-02-16 03:26] n3wscott commented on #1098
Can we add that to the optional stuct?

[2020-02-16 03:27] n3wscott commented on #1098
Or!! How about allow a options filter function callback to be passed back!!

[2020-02-16 16:13] mattmoor commented on #1098
I think what I suggest above is harder to hold wrong because it requires a different signature iff it is class-based.  I think adding stuff to the options struct that is only used for class-based stuff gets confusing (what if I specify it when I'm not using a class-based type?!?).

[2020-02-18 15:04] n3wscott commented on #1098
ok I like the args idea. I will give it a try

/assign

[2020-02-19 16:38] #1098 closed

[2020-02-24 17:44] #1057 closed

[2020-02-26 15:36] mattmoor opened #1129 "genreconciler should tag its loggers in a sane way"
/area API
/kind bug

The logger attached to context when ReconcileKind is called should allow us to distinguish between the running controllers.  A few options come to mind here:
1. Use the Type (doesn't work for class-based)
2. Use the Type *and* a class key (for class-based)
3. Use the `%T` of the typed reconciler implementation passed into `fooreconciler.NewImpl`

We could also forgo Name altog

[2020-02-26 17:26] n3wscott opened #1130 "Generate OpenAPI for CRDs in Knative."
From Eventing WG notes:

[n3wscott] Dropped handwritten OpenAPI in CRDs (some), 0.14 will bring it back with automation. Looking for someone who wants to work on this (with me?).
Still have validating webhooks, so no behavior change
Hard to maintain without generation (like controller-tools)
 - [aslom] If schema isn't there, users won't know how to create objects without reading the docs
 - [lione

[2020-02-26 21:07] dprotaso commented on #1130
Related: https://github.com/knative/serving/issues/912

[2020-02-26 21:12] dprotaso opened #1131 "[webhook] logger in context should be annotated with webhook type"
### Issue

When debugging some defaulting webhooks instrumenting `SetDefaults` on some types had the side-effect of logging invocations from the conversion webhook.

It was not obvious which webhook was doing the invocation of `SetDefaults` when looking at the logs.

[2020-02-26 21:18] lionelvillard commented on #1130
can we leverage this code: https://github.com/kubernetes-sigs/controller-tools/tree/master/pkg/crd ?

[2020-02-28 17:27] pmorie commented on #1007
Haha, we're not done. Next steps here:

- Determine how to horizontally scale webhooks
- Determine whether to separate reconcilers and webhooks for the same resource
- #1048

[2020-02-28 17:51] vagababov commented on #1007
Do I miss something about Webhooks just being naturally Horizontally scalable by virtue of being stateless (well modulo certs)

[2020-02-28 19:41] pmorie commented on #1007
@vagababov The webhook parts are naturally horizontally scalable. We have adopted an idiomatic architecture of running the reconcilers and webhooks for resources in the same process. We decided to introduce the additional main methods to insulate webhook binaries from the leader election changes for now. Personally, I would rather migrate the reconcilers into the main controllers and disentangle t

[2020-02-28 21:16] vagababov commented on #1007
Ah, I didn't know you run them combined :)

[2020-03-03 14:48] dprotaso opened #1137 "genreconciler should be able to override the controller agent name"
## Expected Behavior
The [Serving's GC reconciler](https://github.com/knative/serving/blob/b79fef014aaf1dd7bc06574cd2bfdc08a2aaad0f/pkg/reconciler/gc/controller.go#L36) has a controller agent name of [configuration-controller](https://github.com/knative/serving/blob/master/pkg/client/injection/reconciler/serving/v1/configuration/controller.go#L38)

It's used in the event broadcaster [here](https:/

[2020-03-04 16:04] dprotaso opened #1140 "[webhook] support distribution authors who want to add their custom defaulting and validation"
## Expected Behavior
As a distribution author it should be easy to include additional defaulting & validation logic without modifying the core API types

## Actual Behavior

It's actually non-trivial to add a vendor specific default & validation. We want to avoid [leaking things in the upstream API types](https://github.com/knative/serving/pull/7038#issuecomment-592171078).

A potential workaround

[2020-03-04 19:45] dprotaso commented on #1140
cc @whaught @trshafer

[2020-03-04 23:46] #1007 closed

[2020-03-10 17:01] liu-cong opened #1149 "genreconciler should support Filtering"
/kind feature

## Context
The eventing broker resource can have multiple controllers, each controlling a specific `brokerclass`. Ideally, we should apply filters for the `brokerclass` so that only interested broker objects are enqueued to a specific controller.

However, the enqueue can be invoked by events of other resources such as an update in trigger, making it hard to apply the filter. Curren

[2020-03-10 20:19] dprotaso opened #1152 "[webhook] reduce memory usage of the webhook"
## Expected Behavior
Webhook memory usage should remain somewhat linear with the resources that are being **_watched_**

## Actual Behavior
@sravankumar777 reported high memory usage here: https://github.com/knative/serving/issues/7195

I think it's because our informers are watching _all_ secrets here: https://github.com/knative/pkg/blob/master/webhook/certificates/controller.go#L59

## Steps to

[2020-03-10 22:48] vaikas commented on #1149
It should already work?
https://github.com/knative/pkg/tree/master/injection#annotation-based-class-filters

[2020-03-10 23:08] liu-cong commented on #1149
The annotation based filter can solve the broker problem with an caveat: https://github.com/knative/eventing/pull/2737#discussion_r390661347

However, I still think the `FilterKind` approach is desired since it solves a generic filtering problem.

[2020-03-11 15:39] mattmoor commented on #1152
There is an injection context function that can be used to scope the injected informers to a single namespace.  I think we'll also want the capacity to do this per-type as there are contexts where I could see us doing this for some types (Secrets, ConfigMaps) and not for others (Bindings).

[2020-03-11 15:39] mattmoor commented on #1152
It would be good to get a heap profile of what's going on in these situations too rather than just guessing 👼

[2020-03-11 18:32] bbrowning commented on #1152
Here's a screenshot of a heap profile for a case I recently ran into. If I'm reading it right, about 83% of the in_use heap space is from reading secrets from all over the cluster?
![Screenshot from 2020-03-11 14-29-49](https://user-images.githubusercontent.com/56071/76451007-21708f80-63a5-11ea-9c4a-87d4843fd62a.png)

[2020-03-13 03:44] dprotaso opened #1159 "[webhook] Don't depend on system.Namespace"
But also we can only use it for the system namespace, I can't limit it to any other (which we might want at some point, maybe).

_Originally posted by @vagababov in https://github.com/knative/pkg/pull/1158_

[2020-03-13 18:11] dprotaso commented on #1140
## Background

To elaborate on the issue our defaulting and validating webhooks are tightly integrated with the `resourcesemantics.GenericCRD` interface

https://github.com/knative/pkg/blob/1893541a0fac5885032c8ec170fd81234de13f4a/webhook/resourcesemantics/interface.go#L26-L30

https://github.com/knative/pkg/blob/1893541a0fac5885032c8ec170fd81234de13f4a/apis/interfaces.go#L27-L35

This works fine

[2020-03-13 18:11] dprotaso commented on #1140
cc @mattmoor for some thoughts

[2020-03-13 19:25] mattmoor commented on #1140
Couple thoughts:

---

I'd be cool with trying to split up `GenericCRD` so that what's required is closer (or equal) to `apis.Defaultable` and `apis.Validatable`, in the respective resourcesemantic controllers. It would be kinda nice to not require both, especially if a type can rely on the new OpenAPI stuff.

---

It might be useful to decorate the context with whether we're in a DryRun or not.

[2020-03-18 00:29] whaught commented on #1140
/assign

[2020-03-31 04:13] mattmoor commented on #1152
@bbrowning can you confirm that this is fixed at HEAD?

[2020-03-31 04:48] mattmoor opened #1181 "RFC: Per-reconciler leader election (and leader-aware reconcilers)"
/area API
/kind cleanup

I've been thinking a bit about leader election, and the way we run things today we basically allocate N backup pods that wait to become the leader and effectively do nothing until they become the leader, they are essentially there as scheduling reservations.

How we achieve this is by wrapping the *entire* controller bootstrap process in a giant resource lock, which kicks

[2020-03-31 13:51] lionelvillard commented on #1181
Here some random thoughts:
- how long does it take for a pod with 10 controllers to be functional? If it less than 2 or 3 seconds, then plain k8s pod restart might be faster than Knative HA feature. Do we know?
- for worker node upgrade scenario where graceful pod termination is possible, the active pod can wait for the passive pod to become active before terminating. In that case, there is no nee

[2020-03-31 13:55] markusthoemmes commented on #1181
@lionelvillard they do via leader election. There's more to it apart from just hot failover though. For instance, it "reserves" (as-in: runs) a second pod to make sure capacity constraints don't cause the pod to not be able to come up again after a crash.

[2020-03-31 14:20] mattmoor commented on #1181
This is what we have today (disabled by default), and part of my concern is that this is strictly more expensive than a global resync.

This cannot possibly be true because when the Pod restarts it needs to start the same 10 controllers.

This is orthogonal, but plausible.  I think we could achieve this by directing the leaderelection code to have the leader stop renewing its lease once it gets th

[2020-03-31 14:44] lionelvillard commented on #1181
By faster I meant that k8s pod restart kicks in before Knative leaders have time to react. I did some experiments with the MT ping source adapter, reconciling 1000 resources (fairly small I admit), and most (all?) of time the passive pod never becomes active after the active pod is gracefully killed.

Should I open an issue for the worker node update scenario?

[2020-03-31 17:32] vagababov commented on #1181
In general, this makes sense.
Though the way losing lease now leads to a restart makes it a bit awkward (do we still restart? but the other controllers did not lose their lease? etc).
Also we can probably move all this to codegen to generate regular and failover aware controllers.

[2020-03-31 21:44] mattmoor commented on #1181
Losing the lease would just revert to the same behavior as before we acquired it.

[2020-04-03 22:15] mattmoor opened #1195 "Mutating webhooks should set the ReinvocationPolicy to IfNeeded"
Not sure what the default value is here, but we should make sure that our mutating webhooks are configured to get reinvoked until the mutations close.

cc @dprotaso

[2020-04-06 13:50] lionelvillard opened #1199 "[HA] Should have no downtime when active component is gracefully terminated"
/kind feature

## Expected Behavior

When a component is HA enabled and when the active component is gracefully terminated, the passive component should become active before the actual termination of the active component.

## Actual Behavior

There is some downtime before the passive or a new active component is back online.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2020-04-06 22:44] mattmoor commented on #1199
Maybe this could be achieved for rollout, but it doesn't seem practical for failover cases.

[2020-04-06 22:45] mattmoor commented on #1152
cc @markusthoemmes

[2020-04-06 22:46] mattmoor opened #1200 "Virtually every sources is defining the same SecretValueFromSource type"
/area API

[code]

We should probably hoist this into `pkg/apis`?

/assign @n3wscott

[2020-04-07 06:27] markusthoemmes commented on #1199
I *think* that's what `ReleaseOnCancel` in the `RunOrDie` config is for!

	// when the run context is cancelled. If you set this to true, you must
	// ensure all code guarded by this lease has successfully completed
	// prior to cancelling the context, or you may have two processes
	// simultaneously acting on the critical path.

So we "just" need to make sure that on context cancel, all of our co

[2020-04-07 14:08] lionelvillard commented on #1199
@markusthoemmes Do you have cycles to look at this in more details?

[2020-04-07 14:23] mattmoor commented on #1199
https://github.com/knative/pkg/issues/1181 👀

[2020-04-08 23:31] juliaguo opened #1207 "Validating Webhook Configuration rules should include callback operations"
## Expected Behavior
The `Rules` field in `ValidatingWebhookConfiguration` should include additional verbs supported in callbacks (such as the `Delete` operation), along with the default verbs `Create` and `Update`.

## Actual Behavior
The `ValidatingWebhookConfiguration` only contains rules for `Create` and `Update`, so requests with a `Delete` operation are never validated even if they have a ca

[2020-04-08 23:46] mattmoor commented on #1207
What does it mean to validate a CRD you are deleting?

Is the objective to allow the `Validate(ctx)` function to inspect the context, see DELETE and disallow the deletion?

[2020-04-08 23:47] vagababov commented on #1207
Perhaps additional side actions?

[2020-04-10 15:37] n3wscott opened #1216 "Push the core logic of Source validation into the ducktype."
you are using the helper 😆 sorry. But the question likely comes from the pointer type and having more logic here than needed. We can look into pushing some of the source spec validation into the ducktype too next release to help this.

_Originally posted by @n3wscott in https://github.com/knative/eventing-contrib/pull/1120/review_comment/create_

[2020-04-10 21:31] juliaguo commented on #1207
For this issue, I was just focusing on the fact that requests with a Delete operation never make it to the callback step (even though callbacks handle delete operations) because the webhook config rules currently filter out all requests besides Creates and Deletes. I wanted to validate a CRD using a callback function I defined, blocking the deletion if a condition on the CRD is true. I could also

[2020-04-14 14:31] dprotaso opened #1222 "[webhook] logs include raw bytes for patches"
See: ```webhook/admission.go:93```

[2020-04-16 22:41] mattysweeps opened #1225 "Init counter messages should use logger"
## Expected Behavior
Logs should use the logger

## Actual Behavior

https://github.com/knative/pkg/blob/08b31df9e66a7ed7dbbfaf65de817f09d66cb79d/injection/sharedmain/main.go#L139
https://github.com/knative/pkg/blob/08b31df9e66a7ed7dbbfaf65de817f09d66cb79d/injection/sharedmain/main.go#L216

These lines:
[code]

Log some counts straight to stderr.

OR

These lines shouldn't be logged at all.

## Ad

[2020-04-17 17:52] grantr opened #1226 "ObservedGeneration should only be set if Status is fully updated"
## Expected Behavior
_Followup from [this thread in Slack #serving-api](https://knative.slack.com/archives/CA4DNJ9A4/p1586958789227800)_

If ObservedGeneration == Generation, I expect that the object's Status reflects the actual status of the resource.

## Actual Behavior
If the reconcile is written to return errors early, then the Status may not be fully accurate.

Example from @mattmoor:
[code]

[2020-04-19 19:33] mattmoor commented on #1226
This isn't entirely accurate.  The proposal in the thread was scoped to `conditions`, and `lastTransitionTime`'s use of `apis.VolatileTime` combined with how we guard status updates is specifically designed to avoid timestamp churn.

A while back I actually tried to do this and uncovered a few places in Serving that have a pretty hard dependency on the imperative use of Status as state, so I gave

[2020-04-20 14:56] lionelvillard opened #1227 "genreconciler should be able to override the finalizer name"
## Expected Behavior

The MT GitHub source sets 2 finalizers, one by the control-plane component to delete the external webhook and one by the data-plane component to make sure the internal cache is properly synchronized.

## Actual Behavior

Only one finalizer can be set.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2020-04-20 18:09] lionelvillard commented on #1227
@n3wscott @mattmoor what do you think would be the best way to implement this feature?

For now I'm thinking of adding a new field (eg  `finalizerName`) in the generated `reconcilerImpl`. This field would be added only when the genreconciler is configured, via a gen tag, to allow overriding the finalizer name.

[2020-04-21 10:31] markusthoemmes commented on #1227
I have a similar need: I have a downstream reconciler that reconciles ingresses in parallel to one of the net-* reconcilers. My downstream reconciler adds another finalizer though to make sure it can clean up correctly as well.

I though about going a slightly different route than @lionelvillard though: Could we add a "FinalizerName" field to the reconcilerImpl that defaults to the default value a

[2020-04-21 11:37] markusthoemmes commented on #1199
Found some time to look at this.

1. "Fix" is here: #1229
2. The actual early release is currently broken due to kubernetes/kubernetes#88192.

[2020-04-21 12:05] markusthoemmes commented on #1227
Cooked up a prototype over in #1230.

[2020-04-21 12:30] lionelvillard commented on #1227
To be clear, the only role of the gen tag is to generate the `FinalizerName` field, not to set its value. I personally think this tag not needed and I'm happy to always have the `FinalizerName` field in `reconcilerImpl`.

[2020-04-21 13:25] lionelvillard commented on #1199
Thanks @markusthoemmes! When the lease is released, does the active component wait for the passive component to become active?

[2020-04-21 13:28] markusthoemmes commented on #1199
Shouldn't no. I think it just kicks the lease and thus forces the passive component to immediately go check it and reelect.

[2020-04-21 17:09] lberk opened #1232 "psbinding webhook leaks inclusion/exclusion lables"
## Expected Behavior
Once all podspecable bindings are removed from a namespace, the webhook should remove the label to ensure we don't pollute the namespace

## Actual Behavior
The psbinding reconcile leaves a `bindings.knative.dev/include: true` label on namespaces it touches

## Steps to Reproduce the Problem

1. create a compliant knative source & sink
2. `k get ns -oyaml | grep
3.

## Additio

[2020-04-21 17:11] lberk commented on #1232
One approach might be to ensure matching labels are removed if there are no remaining `psObj`'s in the subject's namespace?
/cc @mattmoor

[2020-04-21 17:24] lberk opened #1233 "webhook binding labels should be more finely grained"
As @mattmoor described in #1208, we face a growing number of bindings.

[code]
the webhook should implement this

[2020-04-22 18:48] pmorie commented on #1181
One principle I think we should adopt: I am game to evaluate this possibility, but I think we should agree not to write our own LE utilities.

I am not personally aware of anyone who has used the upstream LE code from `client-go` in this manner. Does anyone have examples? I have only seen (that I can readibly remember) the pattern I recreated in the `sharedmain` pkg where the controller exits once

[2020-04-22 18:50] pmorie commented on #1181
Also, would we be trying to solve this problem if we had not adopted the pattern of running the stateful reconciler and stateless webhook for the same resource in the same process?

[2020-04-22 20:16] shashwathi commented on #1222
/assign @andrew-su
/assign @shashwathi

[2020-04-22 20:20] shashwathi commented on #1222
@dprotaso : Is there value in printing all fields in `reviewResponse ` object?

We are asking this to see if we should proceed with just eliminating Patch field or iterate through individual fields and print the value to retain current behaviour ?

[2020-04-22 20:31] shashwathi commented on #1131
@dprotaso :  Can you provide details on which type has logging in `SetDefaults` function?

[2020-04-22 21:16] shashwathi commented on #1137
/assign @andrew-su
/assign @shashwathi

[2020-04-22 21:55] #1227 closed

[2020-04-23 02:18] dprotaso commented on #1152
PR that has the fix: https://github.com/knative/pkg/issues/1152 which is part of 0.14 serving release

[2020-04-23 16:53] dprotaso commented on #1222
I guess my intent for the issue was to print the string representation of the patch

[2020-04-23 17:17] dprotaso commented on #1131
I was adding the logging myself while debugging something. That's where I noticed there are multiple calls originating from different webhooks endpoints and I couldn't disambiguate between them

[2020-04-23 20:03] #1222 closed

[2020-04-24 04:13] mattmoor commented on #1181
I figured we'd start here, but we can always get smarter.

Very possibly.  The way I see leaderelection as we have it, we gain effectively nothing by horizontally scaling the controllers other than prescheduling pods.  The goal of the proposed mechanism is to reduce the scope of failovers to a subset of reconcilers running on failed nodes, and to enable us to "warm up" a lot more of our controller

[2020-04-24 17:55] #1225 closed

[2020-04-25 16:51] mattmoor commented on #1181
I have a POC of this working with Serving's webhook (currently just hacked into vendor).  I've tested it with LE-disabled, LE-enabled unscaled, LE-enabled scaled to 10, and LE-enabled scaled to 10 with the reconcilers forced across multiple pods (see below).

Note that the `webhook-8584d54c6-f8jzv` prefix is the Pod name:
[code]

If I kill just that one pod, only that leader changes:
[code]

Looki

[2020-04-26 01:56] mattmoor commented on #1181
Ok, I've written up a sketch of what this would look like [here](https://docs.google.com/document/d/1i_QHjQO2T3SNv49xjZLWlivcc0UvZN1Tbw2NKxThkyM/edit).

I'll also toss it on the agenda for API WG Weds to discuss more f2f.

[2020-04-27 18:16] juliaguo commented on #1207
This issue was fixed in #1219

[2020-04-27 18:16] #1207 closed

[2020-04-30 15:48] antoineco opened #1266 "Implement retryable API events in injected Reconcilers"
/area API
/kind feature

I like the way generated Reconcilers can extract an event from the returned error and record that event via the injected EventRecorder. 👍

Unfortunately, there is no way to return an "error" event _and_ retry the reconciliation. What I want is to be able to return an actual error while still being able to provide a better classification than "InternalError".

I suggest we

[2020-04-30 19:31] whaught commented on #1226
I tried to take a stab at this issue with PR #1261

The idea here is that rather than reset all conditions, we include logic in gen-reconciler to bump observed generation. If we've bumped generation with an error and detect that the readiness status is unchanged, we move it to unknown with a warning.

This avoids the need to reset all conditions and might be a little more easily backwards compatib

[2020-04-30 21:28] mattmoor commented on #1199
@markusthoemmes so is this done?

[2020-04-30 21:29] mattmoor commented on #1266
cc @n3wscott

This sounds reasonable to me :D

[2020-04-30 21:33] mattmoor opened #1269 "Components that are eligible for leaderelection should use anti-affinity"
/area API
/kind feature
/kind good-first-issue

I noticed this in Contour's controller yaml, and I think it's probably a good pattern to follow:
[code]

Basically, if one of the HA scenarios you want to handle is disruptions due to node failures, then we should make sure that replicas of each component aren't scheduled on the same node as one another.

cc @pmorie for thoughts / alternatives
cc @li

[2020-05-01 18:38] anniefu opened #1273 "Post-OpenCensus/OpenTelemetry-Collector-Service metrics migration cleanup"
This is an umbrella issue to capture any cleanup or fixes that are blocked on landing the new [OpenCensus/OpenTelemetry Collector Service Metrics plan](https://github.com/knative/pkg/blob/master/metrics/README.md#the-plan).

Loosely bucketed by metrics file:

exporter.go
- Enforce that [ExporterOptions SecretFetcher](https://github.com/knative/pkg/blob/master/metrics/exporter.go#L77) field is non-

[2020-05-01 18:45] anniefu commented on #1273
/remove-good-first-issue
/remove-area api
/remove-area networking
/remove-area test-and-release
/remove -kind feature
/remove-kind doc
/remove-kind question

[2020-05-01 21:51] whaught commented on #1226
/assign

[2020-05-03 01:33] andrew-su commented on #1137
/reopen

The change is only in pkg right now, still need to be updated in serving

[2020-05-04 11:42] zroubalik opened #1280 "bump k8s to 1.18"
Is there a plan to bump k8s version to 1.18 in near future? Signatures on methods in generated clientsets, dynamic,... clients have been modified to include `context.Context`.

## Additional Info
https://v1-18.docs.kubernetes.io/docs/setup/release/notes/#client-go

[2020-05-04 17:31] lionelvillard opened #1281 "Source metrics does not support reporting client error"
## Expected Behavior
The source stats reporter should have tags for representing client errors (eg. when `http.Client.Do()` returns an error, or other client, like Kafka...).

## Actual Behavior
No such tags.

[2020-05-04 19:26] n3wscott commented on #1281
why is this in PKG?

we do this already in eventing: https://github.com/knative/eventing/blob/master/pkg/adapter/v2/cloudevents.go#L113

[2020-05-04 19:39] lionelvillard commented on #1281
this is adding additional metric labels. The current code does not generate stats all kind of errors, like timeout.

See https://github.com/knative/eventing/pull/3081 for more details.

[2020-05-04 21:56] ian-mi opened #1286 "Support Informer Injection with Wire"
It would be useful to support injecting informers using a dependency injection system such as wire instead of through context.

### Benefits of Supporting a Dependency Injection Framework
- The context injection relies on init based registration which adds action at a distance. It is easy, for example, to introduce a dependency in a data plane component on a reconciler constant and start a number

[2020-05-04 22:17] vagababov commented on #1286
Oooh, it's spring :)

[2020-05-04 23:19] ian-mi opened #1287 "update-codegen.sh doesn't work outside GOPATH"
## Expected Behavior
hack/update-codegen.sh should work outside of GOPATH

## Actual Behavior
update-codegen either does nothing or uses an incorrect pkg version.

## Steps to Reproduce the Problem

1. Move repo outside of GOPATH.
2. Make a change to the injection generators.
3. Run ./hack/update-codegen.sh
4. Observe no change to generated code.

[2020-05-05 14:01] antoineco commented on #1287
I'd love to see this happen too. Unfortunately this has to be tackled in the Kubernetes generators directly. The issue is that those generators always output to `{{output-base}}/{{output-package}}/`.

Technically, it _does_ work outside of the GOPATH, but your repo needs to be cloned is a directory matching `-output-package` _exactly_. For example, if your code is inside `~/my-knative-eventing` an

[2020-05-05 16:17] lionelvillard opened #1291 "Update prometheus client to v1.5.1 or latest"
We are using v1.0.0 and I'm seeing this error:

[code]

which has been fixed in v1.5.1: https://github.com/prometheus/client_golang/tree/v1.5.1

/area monitoring

[2020-05-05 17:55] ian-mi opened #1294 "update-codegen.sh produces inconsistent output"
## Expected Behavior
Checking out master and running ./hack/update-codegen.sh should produce no changes.

## Actual Behavior
Running ./hack/update-codegen.sh produces changes to the generated controllers.

## Steps to Reproduce the Problem

1. Checkout the master branch.
2. Run ./hack/update-codegen.sh

## Additional Info
Using go 1.14.2

[2020-05-05 21:50] #1294 closed

[2020-05-08 16:49] n3wscott opened #1314 "Refactor the reconciler event logic out of the generated code and into the common reconciler helpers"
Let's follow up by moving the reconciler event logic out of the generated code and into the reconciler base that @whaught is working on.

[2020-05-08 16:49] n3wscott commented on #1314
https://github.com/knative/pkg/pull/1289/files#r422249732

[2020-05-08 17:09] #1266 closed

[2020-05-09 16:23] mattmoor opened #1319 "Move leaderelection away from enableComponents"
/area API
/kind cleanup

In hindsight, this was a poor choice for how to enable leaderelection, since it doesn't follow our paradigm of supporting hot reloads.

A few problems top-of-mind:
 - Enabling it for components doesn't restart the components (this leads to fragile trickery like scaling down/up deployments to force restarts after patching the configmap).
 - The field validation for this hin

[2020-05-09 16:24] mattmoor commented on #1319
I'm thinking that a flag defined by `sharedmain` would solve things, but wondering what others think.

[2020-05-11 07:14] mgencur commented on #1319
How would the user enable/disable leader election with the flag? By editing the controller's Deployment and changing the `args` section?
I'm thinking that it's not necessary to give the user options for enabling/disabling each controller (autoscaler, autoscaler-hpa, controller, etc.) separately. Having an option for setting this for `all` components that we support seems sufficient to me.
The Conf

[2020-05-11 07:20] mgencur commented on #1319
OTOH, having leader election enabled by default with only one pod for the given deployment would be an option too. With just one pod it doesn't have effect so this could be safe. I can try a test PR with this to let all test suites run.

[2020-05-11 15:51] mattmoor commented on #1319
IMO we should move the currently supported components to this model, but we need a way for components that don't yet support it (e.g. autoscaler) to be able to opt-out.

[2020-05-11 20:08] grantr commented on #855
Looks like OpenTelemetry Go SDK is in beta now: https://github.com/open-telemetry/opentelemetry-go

[2020-05-12 20:35] nickgerace commented on #1280
Would like to bump this if that's alright. Hitting this issue when updating client-go in some repos.

[2020-05-12 20:41] vagababov commented on #1280
We're now at 16, should we first go 17?

[2020-05-12 21:09] nickgerace commented on #1280
If it's possible, 18 would be great. The [Tekton Pipeline release v0.12.0](https://github.com/tektoncd/pipeline/releases) uses 18, which caused build failures when using their API due to its dependency on knative/pkg.

Granted, that's an issue to file with Tekton, not knative/pkg in particular. Just thought I'd mention it for context.

[2020-05-13 17:29] #1281 closed

[2020-05-19 17:03] whaught commented on #1226
/close

I'm closing this issue - the work should be finished in /pkg to allow for this new behavior. I will be referencing issue https://github.com/knative/serving/issues/4937 as I ensure /serving is using the new behavior and I've opened https://github.com/knative/eventing/issues/3099 to begin implementation for eventing

[2020-05-19 17:03] #1226 closed

[2020-05-26 19:41] vagababov opened #1358 "Add fuzzer to the tests of pkg.Status.Conversion"
We added a field and then didn't add conversion and that broke downstream.

So we need to add fuzzers that will ensure this doesn't happen.

/cc @dprotaso @mattmoor

[2020-05-28 03:53] coryrc commented on #907
knative/serving#6976 and knative/serving#6978 were to be big steps toward doing this.

Using `gotestsum` would also address a subset of these issues; install it in https://github.com/knative/test-infra/blob/master/images/prow-tests/Dockerfile then update the shell scripts [where they call `go test`](https://github.com/knative/test-infra/blob/5ba38edc41ae0dd0c9a3eb7bd6b8577ed8b60fb0/scripts/library

[2020-05-28 03:56] coryrc commented on #883
knative/serving#6976 could be completed if the repos at [glog](https://github.com/coryrc/glog) and [klog](https://github.com/coryrc/klog) were brought into knative-sandbox.
/unassign

[2020-05-28 04:06] coryrc commented on #441
This is probably done because #1022 introduced a controllable parameter for verbosity level; if these messages are still present than make them a lower level or set your level when you run to be more strict.

So, I think it is done, but I have not verified. Sorry.
/unassign

[2020-05-28 18:00] antoineco opened #1364 "controller package tests take over 12s to complete"
## Expected Behavior

Tests inside `./controller` take less than 5s to complete.

## Actual Behavior

They take about 12s to complete.

## Steps to Reproduce the Problem

[code]

## Additional Info

I noticed this while working on #1363, will investigate later.

[2020-05-28 18:00] antoineco commented on #1364
/assign

[2020-05-28 18:16] antoineco commented on #1364
Slow tests:
* `TestEnqueues` (!)
* `TestEnqeueAfter` (!!)
* `TestEnqeueKeyAfter` (!!)
* `TestStartAndShutdownWithErroringWork` (!!)
* `TestStartInformersFailure` (!!)
* `TestRunInformersFailure` (!!)
* `TestRunInformersEventualSuccess` (!!)
* `TestImplGlobalResync` (!!!)

Breakdown:

[code]

[2020-05-29 22:46] mattmoor opened #1368 "Port the webhook reconcilers to use genreconciler"
These predate our ability to do genreconciler on K8s types.

[2020-06-03 16:41] whaught commented on #1140
/unassign

We've created a hook for unstructured, but there are some more good ideas about how to go further here.

[2020-06-04 03:22] duglin opened #1379 "allow for webhooks to exclude certain namespaces"
**Problem**
Some webhooks such as: https://github.com/knative/eventing-contrib/blob/master/kafka/source/config/500-webhook-configuration.yaml#L18 do not limit themselves to just certain namespaces. This can be problematic if that webhook is acting up (e.g. the service is not responding), and the request that is being processed is not related to Knative at all but instead could be something critica

[2020-06-04 03:44] mattmoor commented on #1379
Moving to knative/pkg.

[2020-06-04 14:51] mpetason commented on #1379
/assign

[2020-06-04 15:35] duglin commented on #1379
yup - I'd look at a "not" selector though since I doubt we can rely on people adding it to all NSs - so more of an opt-out model.

[2020-06-04 21:50] pmorie commented on #1319
I agree the current implementation isn't optimal - a CLI flag sounds okay to me.

[2020-06-06 21:06] mattmoor commented on #1379
I suspect that enabling HA webhooks that can be horizontally scaled would help here too.  I'm hoping we get that in for 0.16: https://docs.google.com/document/d/1emXelQiY0-cItq78QF5ZPvfpT6LD3KwXT0sCWM5cLy0/edit#

[2020-06-06 21:12] duglin commented on #1379
Help yes, but I think it's not a guarantee if the containers keep doing something like crashing.  I'm not 100% sure but I think we've seen cases where the containers kept OOM'ing and we had a heck of time recovering.

[2020-06-06 22:47] mattmoor commented on #1379
Ack, I'm just saying the most common reason for the webhook being down is rolling out a new version since we run a single pod that prior to 0.15 didn't have any readiness mechanism to drain gracefully.  😉

[2020-06-07 00:43] alvaroaleman opened #1387 "package apis/duck/v1beta1 imports a client, forcing consumers onto the same kube version"
/area api
/kind bug

The `apis/duck/v1beta1` imports the `apis/duck` package which contains a custom build informer (`apis/duck/typed.go`). This means that each and every consumer of this package is forced to use the same version of the kubernetes dependencies as this project and that its impossible to use a downstream generated client or dynamic client and then freely choose whatever kube version

[2020-06-07 23:08] trshafer opened #1389 "Abstract common TableTest Factory and Lister code"
Both serving and eventing share a lot of common logic for generating a `Factory`. which doesn't seem completely specific to either serving or eventing. It would be helpful if `knative.dev/pkg/reconciler/testing` added additional abstractions for the common code. This will be especially useful for adding a new factory and lister for the operator. Any reconciler generated with the pkg reconciler wil

[2020-06-07 23:10] trshafer commented on #1389
/cancel area api
/cancel area monitoring
/cancel area networking

/cancel kind questions
/cancel kind bug
/cancel kind good-first-issue

[2020-06-07 23:11] trshafer commented on #1389
/remove-area api
/remove-area monitoring
/remove-area networking

/remove-kind questions
/remove-kind bug
/remove-kind good-first-issue

[2020-06-07 23:12] trshafer commented on #1389
/remove-kind question
/remove-kind feature
/remove-kind doc

/area test-and-release
/kind cleanup

[2020-06-08 10:35] sravankumar777 commented on #1152
@dprotaso & @mattmoor, looks like the issue for webhook pod memory usage is not resolved with knative-serving v0.14.0 release.

Below are the memory usage dashboard for two different environment, on which knative-serving is deployed.

<img width="1340" alt="webhook-memory-usage-1" src="https://user-images.githubusercontent.com/18139717/84020949-ac6e1f80-a9be-11ea-88b5-95690e3992e3.png">
<img width

[2020-06-09 04:29] whaught opened #1394 "Move LastTransitionTime grooming to reconcile post-process"
## Expected Behavior
When updating conditions, we want to ensure that LastTransitionTime does not change if a condition is set but otherwise keeps the same value. Currently we use the ConditionManager to do so on each modification of a condition.

## Actual Behavior
Some implementers might reset the conditions or switch between conditions within the same reconciliation. On write-back this can caus

[2020-06-09 17:38] whaught commented on #1394
/assign

[2020-06-10 06:05] toVersus opened #1397 "Change log level to debug in admission webhook response details"
I'm building my own mutating webhook based on [knative webhook library](https://github.com/knative/pkg/tree/master/webhook), which injects the sensitive data from external secret store to K8s Secret object. I like the idea of generating/rotating CA and server certificates for webhook on its own and currently it's working as expected. However, I'm unhappy with the admission log output, which contai

[2020-06-11 17:50] dprotaso commented on #1152
Thanks for the update @sravankumar777

Is there anything happening in your cluster over that duration? ie. I believe @bbrowning's saw a similar issue when creating many namespaces.

[2020-06-11 20:58] dprotaso opened #1401 "We should always InitializeConditions when reconciling"
## Expected Behavior

We need to initialize conditions prior to reconciling in case new conditions are added/defaulted across releases

## Actual Behavior

We actually skip initializing conditions if gen == observed gen
https://github.com/knative/pkg/blob/2ddcfef739a2e0ad5af446bffa0ecd6ce49b760e/reconciler/reconcile_common.go#L29-L41

[2020-06-11 21:05] whaught commented on #1401
Do we also want to move defaulting here and do it for all resources?

[2020-06-11 21:10] whaught commented on #1401
/assign

[2020-06-11 21:47] vagababov commented on #1152
I verified that number of namespaces does not trigger this.
https://github.com/knative/pkg/pull/1158  — is definitely part of 0.14 branch.
Can you check that you indeed run 0.14 or newer?
Otherwise can you share what is done to the cluster? I.e. do you create lots of services or revisions or some other objects?

[2020-06-11 23:46] sravankumar777 commented on #1152
@dprotaso & @vagababov, as mentioned earlier we do definitely around 300+ namespaces.
Apart from this, we do run e2e serving test continuouly from a testing namespace to monitor working of management components.

e2e serving test:
1. Create KSVC
2. Pod Autoscaling based on 30QPS on a KSVC.
3. Delete KSVC.

This KSVC is always created with a random name on every instance.
Plan to upgrade to v0.15.0

[2020-06-12 00:05] vagababov commented on #1152
I've just created 200 namespaces and noticed 0 uptick in memory. Let me try to do the same with creating a service in each.

[2020-06-12 18:15] vagababov commented on #1152
Did the same with creating a service in each
Still no memory change. I don't think this is knative specific issue (at least at head).

[2020-06-13 20:44] trshafer opened #1405 "Support PreConditions in TableRow"
Currently there are only `PostConditions`. It would be helpful to add support for `PreConditions` for pre-reconcile expectations.

This would allow for tests to look like
[code]

Thanks! Thoughts?

[2020-06-15 16:42] antoineco opened #1407 "Add constants for supported duck labels and annotations"
**Problem**
We don't have any constant set for common labels and annotations such as
* duck.knative.dev/addressable
* duck.knative.dev/source
* ...

This can lead to repetition in the code base, especially in projects that use Knative as a dependency.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributors

**Exit Criteria**
Supported labels and annotations a

[2020-06-15 19:43] dprotaso opened #1408 "Our logger framework should capture pod name (or something else) to disambiguate components that are horizontally scaled"
From: https://docs.google.com/document/d/1emXelQiY0-cItq78QF5ZPvfpT6LD3KwXT0sCWM5cLy0/edit?disco=AAAAJp40688

[2020-06-16 01:11] dprotaso commented on #1379
Should we always exclude `kube-system`?

[2020-06-16 01:11] #1379 closed

[2020-06-16 04:05] mattmoor commented on #1394
So yes and no.  This is why VolatileTime was introduced, so that during Reconcile a condition can flip/flop and so long as the reconciliation returns Status to the same state (except LTTs) then the status update is elided.  One of the symptoms without this was the potential for infinite reconciliation where each Reconcile simply "touches" the timestamp.

It is still possible for LTT to move forwar

[2020-06-16 05:14] whaught commented on #1394
I  believe that would only be the case if the reconciliation did not modify anything else in status except for the single condition in question.

Scheduled for the API call.

[2020-06-16 21:26] danielhelfand opened #1414 "Provide More Details in Error Message for Decoding Errors"
Classify what kind of issue this is:

/kind question
/kind feature

## Expected Behavior

As detailed in https://github.com/knative/eventing/issues/2714, the error message from [`defaulting.go`](https://github.com/knative/pkg/blob/086ff43956418f32abedde99deb4fab952de69f5/webhook/resourcesemantics/defaulting/defaulting.go#L231) for decoding can produce an error that could provide more detail to hel

[2020-06-16 21:34] vagababov commented on #1414
The error is returned by the parser, which is standard library, which I think stops at the first error.

[2020-06-16 21:44] danielhelfand commented on #1414
Sure, think it makes sense as far as sticking with the standard library error, but wondering if augmenting with, for instance, a line number would be worthwhile.

[2020-06-16 21:47] vagababov commented on #1414
But that means we need to get the line number. What will provide it?

[2020-06-16 22:33] danielhelfand commented on #1414
Yeah, maybe the better route would be some other tool like kn to validate resources before being created or after an error occurs. But to your point, there isn’t much more additional context that could be provided here.

[2020-06-16 22:33] #1414 closed

[2020-06-17 19:42] #1401 closed

[2020-06-18 17:14] mattcui opened #1426 "Need to add json tag in VolatileTime struct"
## Expected Behavior
Our controller is based on operator-sdk, and we use duck condition in our controller. We expect to upgrade to operator-sdk 0.17.1 without any problem.

## Actual Behavior
But it failed at `operator-sdk generate crds` step
[code]

## How to fix
I think an easy way to fix it is to add json tag for VolatileTime struct at https://github.com/knative/pkg/blob/master/apis/volatile_ti

[2020-06-18 18:46] #1394 closed

[2020-06-18 18:52] dprotaso opened #1427 "Why not use coordination.Lease v1 API exclusively for leader election locks"
https://github.com/knative/pkg/blob/d5043a43329217814d1e3e2095c969ef890120df/leaderelection/config.go#L33

I saw the leader election allows using different resource locks - I was curious why this needs to be exposed to operators and why we don't just use coordination.Lease v1 exclusively.

/assign @pmorie

[2020-06-18 19:32] dprotaso commented on #1427
Found out that client-go lease locks for leader election weren't around until 1.16.

So we should be able to switch to leases exclusively for our next release since we've bump our k8s deps to 1.17.6

[2020-06-18 19:37] dprotaso commented on #1427
Meaning we should be good to exclusively use leases only

/unassign pmorie
/good-first-issue

[2020-06-19 05:20] Cynocracy commented on #1287
/assign Cynocracy

I didn't see this before hitting the corner case myself :) I have a hacky attempt at a fix in knative.dev/networking, if it works I can upstream it into library.

[2020-06-19 14:04] dprotaso commented on #1280
We've technically _just_ bumped our K8s dependency to 1.16/1.17 for the next release.

Although our [release principals](https://knative.dev/community/contributing/mechanics/release-versioning-principles/) mention we should be on 1.18 for the next release the reality is most providers don't offer it in stable release channels.

ie. GKE stable is only on 1.16. EKS is 1.16, Azure will GA 1.17 in Jul

[2020-06-19 14:08] mattmoor commented on #1287
cc @n3wscott @ImJasonH

[2020-06-19 14:46] n3wscott commented on #1287
This is a bug in gengo upstream in Kubernetes.

[2020-06-22 13:58] #1407 closed

[2020-06-22 17:29] whaught opened #1434 "Eliminate VolatileTime"
# Summary
- VolatileTime is used to ignore timestamps in conditions when doing a go comparison.
- Timestamps are now kept stable in post-process

We should no be able to eliminate this library which simplifies the struct. This library can be confusing because users must use the correct comparison.

This is a follow-up to: https://github.com/knative/pkg/issues/1394

[2020-06-26 00:26] whaught commented on #1426
I think adding the json tag will work for your purpose. That said I have a related PR to remove VolatileTime which will also make this go away, but there's a little bit of legwork to get that done. If it's urgent we can just add in the json tag.

[2020-06-29 16:33] whaught commented on #1434
/assign

[2020-06-29 18:41] whaught commented on #1426
This struct uses a custom marshal/unmarshal override to inline this field, what are you using that is expecting every struct field to contain a json tag? Your suggesting would name the field 'inner' but we are expecting this type to be transparently omitted from json.

It would be nice to be able to have `json:",inline"` but I don't think that's a mainline go feature

[2020-06-29 19:57] #1427 closed

[2020-06-30 20:59] whaught opened #1461 "We should inject a fake clock and mock Now()"
## Problem
We have used VolatileTime to ensure condition times are kept stable and are not considered for equality. This makes testing easier, but it is difficult to ensure times are really being stamped at all.

In our unit tests we do occasionally mark other timestamps. Eg:
https://github.com/knative/serving/blob/24d679dcb8d62f87b68bdb17abe894540bf046e3/pkg/reconciler/labeler/labeler_test.go#L50

[2020-06-30 21:12] whaught commented on #1461
I found a neat workaround

In the code:
var nowFunc = time.Now

In the test:
nowFunc = func() time.Time { return mockedResponse }

We could go further, but this works for now.

[2020-06-30 21:12] #1461 closed

[2020-06-30 21:27] vagababov commented on #1461
We should use k8s.io/apimachinery/pkg/util/clock/clock.go (and its test equivalents) and inject it into the constructor.
We _do_ that in a few places, I think.

[2020-06-30 21:28] vagababov commented on #1461
e.g. https://github.com/knative/serving/blob/master/pkg/reconciler/route/controller.go#L58

[2020-06-30 21:33] whaught commented on #1461
Oh cool! I might look into that if its a canonical solution

[2020-07-01 00:07] Cynocracy opened #1462 "Knative doesn't pull in security fixes"
## Expected Behavior
Running update-deps.sh --upgrade pulls in minor version updates for all dependencies (or at least patches)

## Actual Behavior
Dependencies are only updated if strictly necessary by the use of new packages.

## Steps to Reproduce the Problem

1. Find a dependency with a security patch recently
2. Run update deps
3. Confused pikachu face
4. Realize you need to manually pull in

[2020-07-01 00:09] Cynocracy commented on #1462
/assign Cynocracy

Mostly just writing down the issue so that folks on my PR can see why I want to make changes.

[2020-07-01 09:22] mattcui commented on #1426
@whaught I think it should work for me if you add inline json tag. Thanks.

[2020-07-01 17:33] whaught commented on #1434
I've played with this a bit. I think we'll want to make yet another duck version for it. We now have a lot of repos downstream of /pkg and making breaking changes like this can be costly.

[2020-07-08 05:12] JRBANCEL opened #1470 "AllowCustomMetrics=false and custom metrics are emitted"
# Or OpenCensus doesn't work as you think it does

## Expected Behavior
When `metrics.backend-destination` in `ConfigMap` is set to `stackdriver` and `metrics.allow-stackdriver-custom-metrics` is either not set or set to `false`, I am expecting no custom metrics to be emitted (e.g. `go_alloc`).

## Actual Behavior
These metrics are emitted.

## Steps to Reproduce the Problem
### Scenario 1
If a Po

[2020-07-10 22:20] mattmoor opened #1478 "Remove the EnabledComponents field."
/area API
/kind cleanup

Deprecated here: https://github.com/knative/pkg/pull/1476

We should remove it after stuff downstream is cleaned up.

[2020-07-11 00:49] #1387 closed

[2020-07-14 16:19] mattmoor opened #1488 "logstream doesn't work with HPA or chaos"
/area API
/area monitoring
/area test-and-release
/kind bug

## Expected Behavior

`logstream` should pick up new system pods and start streaming their logs.

## Actual Behavior

`logstream` doesn't pick up new logs (HPA) and often stops logging altogether when run with chaos.

## Crux

The crux of the issue is that pods are only listed at startup, so as pods are retired and new ones brought up ov

[2020-07-14 16:21] vagababov commented on #1488
/assign

[2020-07-14 16:41] vagababov opened #1489 "Serving `Generating ...` takes a long time on my not the weakest machines."
To run `./hack/update-codegen.sh` on serving takes a few minutes. I'd expect O(seconds).
Which seems _a bit_ high. Is there anything we can improve there?

/cc @n3wscott @mattmoor

[2020-07-14 16:43] markusthoemmes commented on #1489
ack, I always comment out the entire file when working on just protobufs. Or use the call to go make a fresh cup of coffee :joy:

[2020-07-14 16:45] vagababov commented on #1489
I found that I get distracted so much, that my ssh connection usually breaks :)

[2020-07-15 15:23] julz opened #1498 "Consider bumping DefaultConnTimeout back up"
We introduced [DefaultConnTimeout](https://github.com/knative/pkg/blob/6826f2137c31cbf0f03e6d7988985b353d17d883/network/network.go#L37) and set it to quite an aggressively low value to avoid a bug which was fixed in Kubernetes 1.14 (see https://github.com/knative/serving/pull/3794, https://github.com/kubernetes/kubernetes/pull/72534). We now have min k8s version 1.16, so I think it should now be s

[2020-07-15 23:51] vagababov commented on #1488
/close
This is done and should be merged to serving here https://github.com/knative/serving/pull/8643

[2020-07-15 23:51] #1488 closed

[2020-07-16 02:04] mattmoor opened #1505 "Implement a workqueue "slow lane"."
/area API
/kind feature

Today our shared controller infrastructure uses a `workqueue.RateLimitingInterface` to manage keys ([here](https://github.com/knative/pkg/blob/096656a2d4c88b8d6030feb2384da1d347fb3ccf/controller/controller.go#L189-L194)).

Most of the stuff that we stick onto the queue is driven by informer events, which point to specific resources and result in a single key being queued,

[2020-07-16 02:14] mattmoor commented on #1505
See also what we found [here](https://github.com/knative/eventing/issues/3591#issuecomment-659015098)

[2020-07-16 04:42] vagababov commented on #1505
/assign

[2020-07-16 13:10] lionelvillard commented on #1505
it seems what's you need a priority workqueue?

[2020-07-16 14:10] mattmoor commented on #1505
@lionelvillard that would work too, but I suspect we'd only use a handful of discrete priorities.

Where I'm torn here it between defining out own workqueue interface extension to allow for prioritization and juggling two workqueues.

[2020-07-16 14:13] mattmoor opened #1509 "webhook EOF errors"
/area API
/area test-and-release
/kind bug

## Expected Behavior

When we run our e2e tests with chaos there are no failures due to the webhook shutting down.

## Actual Behavior

We intermittently see failures like this: `Post https://eventing-webhook.knative-eventing-qh1fjbnng8.svc:443/resource-conversion?timeout=30s: EOF` ever since we enabled webhook chaos.

[2020-07-16 14:13] mattmoor commented on #1509
cc @vaikas

[2020-07-16 14:15] mattmoor commented on #1509
I already made two changed to try and mitigate this:
1. Bumped the terminationGracePeriodSecond in our webhook pods to `300` to give the webhook itself greater control over the drain duration.
2. Bumped the `network.DefaultDrainTimeout`: https://github.com/knative/pkg/pull/1501 to give the API Server more time to observe the endpoints change.

[2020-07-16 14:39] mattmoor commented on #1509
From the Go `http.Server` `Shutdown` documentation:

I wondered if this might be our problem, but we call `ListenAndServeTLS` here: https://github.com/knative/pkg/blob/f1b82401dc8a5951d6034be93a3a2423556a3104/webhook/webhook.go#L207-L210 and seem to properly check for `ErrServerClosed`

[2020-07-16 14:41] mattmoor commented on #1509
I started a thread in `#sig-api-machinery` here: https://kubernetes.slack.com/archives/C0EG7JC6T/p1594910493127400

[2020-07-16 23:41] mattmoor commented on #1509
Alright, so one of the things I have been wondering is around Keep-Alives and whether that might be a reason the API server takes so long to realize an endpoint is no longer good.  I noticed the following comment on [Go's `SetKeepAlivesEnabled`](https://golang.org/pkg/net/http/#Server.SetKeepAlivesEnabled):

... **emphasis** mine.

Now it turns out that Go's http logic is already smart about disab

[2020-07-17 17:52] mattmoor commented on #1509
We believe that @vaikas is still seeing some webhook failures that should be synced past the above change, so we aren't out of the woods yet.

[2020-07-18 04:22] mattmoor commented on #1509
The new "Drainer" handler in the linked PR uses a dynamic drain timeout where it waits for at least `network.DefaultDrainTimeout` **after the last request** before terminating the webhook.  With that constant set to 45s, let's see if there are any failures...  🤞

[2020-07-18 21:04] mattmoor opened #1519 "RFC: Consider adjustments to client-side rate-limits for event and lease calls"
/area API
/kind feature

Today `sharedmain` tries to adjust the default client-side rate limit of the `rest.Config` based on the number of registered controllers: https://github.com/knative/pkg/blob/e193c4be24bb02c4e427dfb836ecbb21eb6ecc89/injection/sharedmain/main.go#L197

The logic was that a "one size fits all" rate limit was probably inappropriate, so we simply scaled the rate limit based on t

[2020-07-18 21:17] mattmoor opened #1520 "Nop reconciliations should not emit events."
/area API
/kind bug
/kind cleanup
/kind good-first-issue

Generally nop/steady-state reconciliations (e.g. resyncs that do nothing) should be incredibly cheap.  In an ideally structured reconciler, the entire process is driven by informer caches and not a single API call is made for any purpose if nothing needs to change.

One of the reasons for this is to avoid having global resyncs (which are id

[2020-07-18 21:18] mattmoor commented on #1520
cc @vaikas @dprotaso @whaught too

We should probably also make sure that Tekton hasn't adopted this bad pattern anywhere.

[2020-07-19 14:29] mattmoor commented on #1509
One of the two flakes in eventing yesterday was this:
[code]

I need to track down whether that CI run had the drainer stuff in yet.

[2020-07-19 14:33] mattmoor commented on #1509
Hmm looks like it was at `239f7fc`, which includes the drainer.

[2020-07-20 15:32] mattmoor commented on #1269
We should probably also consider PodDisruptionBudget, but AIUI those create problems for single-replica controllers because they can no longer receive updates(?).

cc @tcnghia who IIRC hit this with Istio

[2020-07-20 17:53] yanweiguo opened #1523 "Add metrics for leader election"
/area API
/area monitoring

/kind feature

As this [feature track doc](https://docs.google.com/document/d/1emXelQiY0-cItq78QF5ZPvfpT6LD3KwXT0sCWM5cLy0/edit?ts=5ee82603#heading=h.n8a530nnrb) proposes, we need to add some metrics about leader election for observability.

[2020-07-20 20:19] mattmoor commented on #1520
/assign @n3wscott

[2020-07-21 00:05] n3wscott commented on #1520
As a proof of concept, I have been hacking at sample controller and came up with this: https://github.com/knative-sandbox/sample-controller/pull/305/

Can I get a little feedback on that before I make it generate-able. @whaught @dprotaso @mattmoor @vaikas

[2020-07-21 01:53] mattmoor commented on #1520
looks like net-istio has this problem: https://github.com/knative-sandbox/net-istio/blob/1ff9aa86e8e5db6a573fe9fa820427320ab65ee5/pkg/reconciler/ingress/ingress.go#L107

[2020-07-21 04:23] yanweiguo commented on #1523
/assign

[2020-07-21 15:41] vaikas commented on #1509
Tomorrow I'm going to add a workaround for this by using Retry loops, just like we do for when pod creates (or configmaps fail) with very specific error cases. This will be a workaround for now hopefully so that we'll be able to not get tests that fail if they hit this condition. Reconcilers should be resilient to this, but tests that use create*orFail will not, so this will at least cut down some

[2020-07-21 15:55] markusthoemmes commented on #1509
Still happening in serving too I believe: https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-continuous/1285454712115564545

[2020-07-21 16:39] mattmoor commented on #1509
It definitely is.  Open to suggestions on how we might keep chipping away at this / instrument / debug / ...

[2020-07-22 08:35] slinkydeveloper opened #1536 "Port forward in monitoring should log errors"
/area test-and-release

## Expected Behavior
The code that performs the port forwarding doesn't log any info. We need it in order to diagnose https://github.com/knative/eventing/issues/3570

## Actual Behavior
Nothing is logged from `kubectl port-forward` process started in background

## Additional Info
We might think to use directly the client-go to perform port forwarding https://godoc.org/k8s.

[2020-07-22 08:35] slinkydeveloper commented on #1536
/assign

[2020-07-22 08:45] slinkydeveloper commented on #1536
Example on how to perform port forwarding https://github.com/gianarb/kube-port-forward/blob/master/main.go

[2020-07-22 13:34] vaikas opened #1539 "Should we be creating events for successful modification of finalizers?"
As we've been enabling chaos and going through various Events with various controllers, I was wondering if we really want to be emitting events for when we modify finalizers. I think we should emit on failures, I'm thinking about emitting events during success?

For example here:
https://github.com/knative/eventing/blob/master/pkg/client/injection/reconciler/eventing/v1/broker/reconciler.go#L410

[2020-07-22 14:08] mattmoor commented on #1539
I think it's probably overkill, but they are sparse enough that it probably doesn't matter.

[2020-07-22 15:10] mattmoor commented on #1509
I had an idea chatting with @markusthoemmes a bit on slack.

Right now there's a lot of machinery standing between us and the EOFs that it is making them harder to debug than they should be.  The thought is: can we have a more dedicated probing process that we can use to reproduce this (maybe more consistently)?

[2020-07-22 15:16] markusthoemmes commented on #1509
I think we should work on getting a small reproducer of this. Create a small webhook, create a ton requests and churn through them quickly or something.

[2020-07-22 16:51] vaikas opened #1541 "Turning on logging will give twice the output."
## Expected Behavior
Enabling logging for controllers using -v 7 (for example) to get HTTP logs would give me logs.

## Actual Behavior
It does, but it gives them twice. Looks like this change was unnecessary and now we wrap things twice so you get twice the logs:
https://github.com/knative/pkg/pull/1515

## Steps to Reproduce the Problem

1. Start your controller with a -v 7 (for example)
2. look

[2020-07-22 17:13] #1541 closed

[2020-07-22 23:40] evankanderson commented on #1539
The [Kubernetes API Convertions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#events) suggest:

I suspect "normal" addition (and possibly removal) of a finalizer doesn't cross the bar of "a user wants to see this in `kubectl describe` output".

[2020-07-26 17:32] mattmoor commented on #1509
So I created a tiny little Go binary that uses vegeta to load the Serving resource-validation webhook, and found something interesting that may be related.

If I have vegeta send 1 request every 20ms for 3 minutes, then everything completes successfully, and there's an average latency of 18ms (typically).  This remains true even when run under chaos.

If I have vegeta send 1 request every 10ms for

[2020-07-26 17:36] mattmoor commented on #1509
Interestingly without chaos I see a *higher* average/max latency (28s / 59s respectively), probably in part because the pod shutdown is graceful and we briefly get an additional pod of capacity 🤔

[2020-07-26 17:46] vagababov commented on #1509
/assign
I'll look next week to see what it is.

[2020-07-26 17:54] mattmoor commented on #1509
At 1 request per 5ms for 10 minutes:

[code]

Not sure if this is what we're seeing, but it's the best lead I've seen 😅

[2020-07-26 17:55] mattmoor commented on #1509
That's with chaos running btw.

Also cc @tcnghia as he was chasing webhook timeouts at one point, and this finding is related 😉

[2020-07-27 13:04] nak3 commented on #1397
I think that the change makes sense.

@evankanderson @dprotaso @antoineco What do you think? It is different reason but similar to another request on slack https://knative.slack.com/archives/C93E33SN8/p1595308110264500

[2020-07-27 14:46] evankanderson commented on #1397
I think it makes sense to cast a critical eye at our logging in general, which is pretty noisy in the "happy case" when things are stable.

[2020-07-27 20:04] dprotaso opened #1563 "Improving our conformance support story"
### Background

We've been piggy backing off of golang's [testing](https://golang.org/pkg/testing/) package along with some bash scripts as our conformance test driver. We've also built up some tooling in [knative.dev/pkg/test](https://github.com/knative/pkg/tree/master/test) to support this effort. We're at a point now where we have enough insight and experience with conformance testing that we c

[2020-07-27 20:59] evankanderson commented on #1563
I was wondering if "tags" would be a solution to both of these. Looking at the current signature-based solution to 2 & 3, it seems like expressing Beta + Must would require nesting the two. What would you think of using build tags instead, like so:

[code]

This would indicate that these tests should run against v1 "should" tests for beta and would become a "must" for stable.

Drawback: tests for

[2020-07-27 21:16] evankanderson commented on #1563
I wonder if `RunConformance` could be built using `go generate` to store a slice of all the functions and then iterate over the slice in `RunConformance`.

[2020-07-27 21:18] evankanderson commented on #1563
Additional drawback: build flags won't show up if we do a reflection-based `RunConformance`.

[2020-07-27 21:19] dprotaso commented on #1563
I thought about build tags but decided it's not a good fit for the following reasons

1) Because we need to package our tests in a library (thanks go.mod) we need an entry point that coalesces all the tests together. Thus we need to be able to reference all the test funcs at compile time no matter the flags. With build flags we'll need noop tests when those tags aren't enabled. You could write a t

[2020-07-27 21:26] dprotaso commented on #1563
Maintaining the list manually isn't ideal but not troublesome at this point. Annotations or decorators would be nice here.

This could be a future improvement.

[2020-07-28 01:07] dprotaso commented on #1563
This is interesting I would think I'd prefer requirements levels to be stable across feature states. This would signal the final intent to implementors earlier on

[2020-07-28 07:40] Cynocracy commented on #326
https://docs.google.com/document/d/1fkZOpl6X9JcHRsYT3VLQI2F4xVSBmwPh16XMSakfgm4/edit#

[2020-07-28 07:40] Cynocracy commented on #326
I have a proposal for this, I think we should do it.

[2020-07-28 07:41] Cynocracy commented on #326
Which is to say, I would love to hear folks thoughts on the proposal, I think that semvers would be very beneficial and can be done in a lightweight way.

[2020-07-28 17:42] dprotaso commented on #1397
Feel free to change the level.  Another option may be to reduce the properties being logged on Info and include them on debug.

[2020-07-29 03:28] dprotaso commented on #1509
[code]

FYI - this triggers PodSpec dry-run which is enabled by default in serving

[2020-07-29 03:32] dprotaso commented on #1509
Do you see timeouts?

[code]

[2020-07-29 03:36] dprotaso commented on #1509
Some data from me

1) PodSpec dry-run disabled

2020/07/29 03:30:25 Completed with 2832/36000 errors (average latency: 11433ms).

2) PodSpec dry-run enabled
2020/07/29 03:20:16 Completed with 29582/36000 errors (average latency: 87396ms)
2020/07/29 03:09:51 Completed with 28229/36000 errors (average latency: 78468ms).

I bumped the webhook memory to 1Gi and allocated 1 CPU (1000m). I also disabled

[2020-07-29 05:39] vagababov commented on #1509
The profile I had mostly shows usage in TLS client, so I guess that is in line with what you see.
May be we need to cache those connections

[2020-07-29 13:25] dprotaso commented on #1509
To avoid timeouts completely I needed to bump my CPU limit even higher - memory was flat

![Screen Shot 2020-07-29 at 9 20 04 AM](https://user-images.githubusercontent.com/18562/88805076-b6b9c800-d17c-11ea-8f96-7997fd168c49.png)

The result:
2020/07/29 13:09:41 Completed 36000 requests without errors (average latency: 12ms).

Turning on PodSpec dry-run resulted in memory climbing and eventually th

[2020-07-29 13:47] dprotaso commented on #1509
I don't think this explains eventing's use case though - I'll change the runner to do conversions

[2020-07-29 13:52] markusthoemmes commented on #1509
It doesn't explain Serving's either, does it? We'd see errors without the chaos otherwise too I'd think.

[2020-07-29 14:01] dprotaso commented on #1509
I was referring to eventing not performing PodSpec dry-runs

What do you mean?

I'm actually just testing with a single webhook instance.

[2020-07-29 17:43] julz commented on #1563
high level comment on first reading: I like it!

small low level comment: I wonder if we can avoid changing the test signature and wrapping testing.T, 'cos that'll break tooling a bit and make the tests a little non-idiomatic-seeming, and instead do something similar to mux.Var, i.e. just take `T` as an argument to a package-level function. So `conformance.Must(t, func() { .. })` instead of `t.Mus

[2020-07-29 17:45] whaught commented on #1563
This would be really helpful for me. The current solution to turn on a feature inside of the e2e-tests.sh script means there's an odd dependency for the test to run properly (and we put the test in its own package/path to make this easier to run). https://github.com/knative/serving/blob/0633c628d3e0a3b25511217351564960bc777b42/test/e2e-tests.sh#L115

Currently I'm looking at testing Garbage Collec

[2020-07-29 18:48] vagababov commented on #1509
So I replaced prober to probe routes rather than services
`Completed 18000 requests without errors (average latency: 12ms).`
Probing service
`Completed 6000 requests without errors (average latency: 28112ms).`
With last requests taking about 58s to complete.

I am getting more and more convinced that it is the dry run validation client ratelimiting.

/cc @whaught

[2020-07-29 19:16] whaught commented on #1509
If dry-run is implicated but not well understood, we should move the feature to `Disabled`. With Beta features the standard should be to roll-back first and ask questions later.

[2020-07-29 19:23] vagababov commented on #1509
Logging time it takes to call:
`err = c.client.Post().Namespace(c.ns).Resource("pods").VersionedParams(&opts, scheme.ParameterCodec).Body(pod).Do().Into(result)`
it definitely shows linear growth that the time to make the call takes.
Route, not requiring this call, is pretty consistently constant at even higher loads.

[2020-07-29 19:39] vagababov commented on #1509
The other thing is that 100QPS requires  CPU~600m (56X top shows) even for simple requests.

[2020-07-29 20:47] evankanderson commented on #1509
As an additional point, since this is behind a feature flag, it should be *very* easy to flip the flag to disabled and see if it changes the shape of the curve and either confirm or rule out the feature as a culprit. (The culprit still could be in the scaffolding code.)

[2020-07-29 22:03] evankanderson commented on #1563
What about a helper at the beginning of each function?

[code]

Ref: https://golang.org/pkg/testing/#T.SkipNow

[2020-07-29 22:31] devguyio commented on #1563
first of all, thanks for doing this. I believe this is very needed and I'll share my thoughts about it
1. I think your head is in the right place, this is the direction Knative should head towards and the requirements generally seem to capture the essence of what we need to give our users and downstream implementors.
1. Conformance tests in eventing are tied to two aspects, a test context (i.e. gi

[2020-07-30 06:19] markusthoemmes commented on #1509
While this seems like an issue in itself, I'm still not seeing how it's related to the chaos duck, unless the maximum latency surpasses 300s, which is the time the webhook is allowed to take before harshly killed. The drain time shouldn't matter as that's only a timer to wait for accepting new connections. Existing connections should be just fine and handled by the `Shutdown` call :thinking:.

Tha

[2020-07-30 06:26] vagababov commented on #1509
It might not be related to chaosduck per se. But with this out we can re-try chaos duck.

[2020-07-30 13:21] dprotaso commented on #1563
@julz @evankanderson  re: package level functions & being non-idiomatic

So we're currently non-idiomatic because we're moving test funcs into non-test files. This is necessary for the tests to be consumed downstream. If we were to have package level functions then we'd need to access the test config (ie. what requirement levels & feature states are to be exercised) as a global and that's somethin

[2020-07-30 13:59] dprotaso commented on #1509
webhook timeout's have happened in serving prior to chaos and we bumped the request limits https://github.com/knative/serving/pull/8048

I think the eventing webhook is even more under-provisioned. I'll make a PR

[2020-07-30 14:01] dprotaso commented on #1509
To clarify I don't disagree with

[2020-07-30 18:42] dprotaso commented on #1563
You could use the config as an extensions point to provide specific functionality

ie.
[code]

Downstream you could have

[code]

Thus I prefer tests don't reach for globals

[2020-07-30 22:01] raushan2016 commented on #1426
We also have similar requirement where we want to leverage the `Status`. We have a controller generated using kubebuilder 2.3

[code]
Currently the code generator fails

/home/raushank/go/bin/controller-gen "crd:trivialVersions=true" rbac:roleName=manager-role webhook paths="./..." output:crd:artifacts:config=config/crd/bases
/home/raushank/go/pkg/mod/knative.dev/pkg@v0.0.0-20200730180200-bd4b7612

[2020-07-31 00:14] #1426 closed

[2020-07-31 02:56] nak3 commented on #1397
@toVersus would you mind working on it?

/assign @toVersus

[2020-07-31 16:35] vagababov commented on #1509
I have under load.

[2020-08-04 02:21] mattmoor commented on #1509
Yes, which is why we disabled the chaosduck on the webhook.

Hmm, you are right.  I was attempting to drive the latency up to 45s (`network.DefaultDrainTimeout`), but for my theory to have held water it should have taken until `300s` and the queued calls should have drained gracefully via the shutdown...  🤔

[2020-08-04 17:48] dprotaso commented on #1509
I've got a few runs where I see the EOF in eventing here: https://github.com/knative/eventing/pull/3758 if anyone cares to take a look.

I didn't see anything in the webhook logs that would suggest why the EOF happened. It'd be nice to have API server logs

[2020-08-04 17:48] dprotaso commented on #1509
I'll poke at manually hitting the eventing webhook

[2020-08-05 01:12] dprotaso commented on #1509
running things manually - eventing webhook seems to falls over due to liveness/readiness probes latency (similar to serving)

when I disabled those it ran fine - this is with the limits raised to 500m & 500Mi

![Screen Shot 2020-08-04 at 8 51 43 PM](https://user-images.githubusercontent.com/18562/89359650-5521be00-d694-11ea-971a-9ce1a3f58670.png)

[2020-08-05 10:01] julz opened #1583 "Automatically set GOMAXPROCS in sharedmain"
## Expected Behavior

GOMAXPROCS for controllers is correctly set when deployed in a container with a cpu limit.

## Actual Behavior

Container GOMAXPROCS are set as if they have access to all the cpus on the host

## Steps to Reproduce the Problem

1. Deploy e.g. knative serving
2. Check GOMAXPROCS of e.g. autoscaler (which has [cpu limit of 300m](https://github.com/knative/serving/blob/master/co

[2020-08-05 17:49] vagababov commented on #1583
well, since you assigned to me — me gonna just do it? 😃
This seems reasonable enough to just use automaxprocs, until golang is fixed itself.

[2020-08-05 17:56] julz commented on #1583
ha! well I have a PR ready, I was assigning for people to tell me it's a bad idea before I send it :)

[2020-08-05 18:14] julz commented on #1583
Pushed the PR :) https://github.com/knative/pkg/pull/1585

[2020-08-05 18:32] vagababov commented on #1583
💭

[2020-08-06 17:42] mattmoor commented on #1563
I mentioned this on the call, but I'd also love it if this enabled downstream to run higher iteration counts.

In net-contour I added this: https://github.com/knative-sandbox/net-contour/blob/677e434bcac7521d6884c0f11d428af40090ba14/test/conformance/ingress_test.go#L34-L39

However, this groups things on testgrid as: `TestIngressConformance/4/hosts/multiple`, where the grouping I *really* want is:

[2020-08-06 17:55] mattmoor commented on #1319
This is done

[2020-08-06 17:55] #1319 closed

[2020-08-06 17:55] vagababov commented on #1505
/close

[2020-08-06 17:56] #1505 closed

[2020-08-06 17:56] mattmoor commented on #838
this is now done

[2020-08-06 17:56] #838 closed

[2020-08-06 19:55] n3wscott opened #1590 "Knative is unable to be deployed to Azure Kubernetes Service 1.17+"
Azure seems to have added a mutation webhook for validating and mutating webhooks that adds the following:

[code]

Ref: https://docs.microsoft.com/en-us/azure/aks/faq#can-i-use-admission-controller-webhooks-on-aks

The result is our webhook controller that also creates the COs for Validating and Mutating webhooks fights with this mutation webhook and it reconciles over and over again.

see:
[code

[2020-08-07 05:41] mgencur commented on #1319
OK. This is closed without even looking at the code in the linked PR? Sigh.

[2020-08-07 18:27] aslom commented on #1563
@dprotaso please take a look on initial draft of Requirements Gathering for Knative Enhanced Testing Task Force and add if there is anything missing (I tried incorporate your Requirements from this issiue - please add if anything is missing or comment): https://docs.google.com/document/d/1zuGSMLXGJlsjyZIpuNZXhMbbCtE2yFe8dxbQ03FZrS0/edit?usp=sharing
also linked from https://github.com/knative/event

[2020-08-07 21:23] #1590 closed

[2020-08-08 15:15] mattmoor opened #1597 "log status changes under codegen at debug"
/area API
/kind feature
/kind good-first-issue

I think that it would be a phenomenally useful debugging tool to have the codegen `logger.Debugf` the `kmp.SafeDiff` of the status updated it performs.

With logstream, this should give us a nearly perfect record of the state transitions all test resources make over the course of a test.

cc @n3wscott @whaught @vagababov @markusthoemmes

[2020-08-08 15:21] whaught commented on #1597
This would be a lot more useful that some of the existing logging that just writes on every execution (and tends to pollute the logs). eg: [dumping the route object on every reconcile](https://github.com/knative/serving/blob/e0107189599f1285db77f18dcafe9060b2f462b1/pkg/reconciler/route/route.go#L108)

[2020-08-08 15:23] mattmoor commented on #1597
... and consistent and free!  😎

This used to be in our boilerplate (pre-codegen) I don't recall why we removed it.

[2020-08-08 15:25] n3wscott commented on #1597
An overall pass of log levels in this code and adding trace and debug levels would be a huge help. They are a little too chatty at normal level and not enough chatty to debug weird stuff.

Sgtm

[2020-08-08 16:31] mattmoor commented on #1597
I may send a PR for this shortly, if I don't run into any unexpected problems :)

[2020-08-08 18:49] #1597 closed

[2020-08-10 09:00] #1583 closed

[2020-08-12 14:11] mattmoor opened #1615 "logstream errors abort all tests"
/area API
/area test-and-release
/kind bug
/kind cleanup

If you look at [this](https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-serving-contour-latest/1293407862143324160) continuous build, you will see that every single failure (that I clicked through) failed with the following:

[code]

This is because once `k.err` is set [here](https://github.com/knative/pkg/blob/530eac8757df9c6f

[2020-08-12 14:26] markusthoemmes commented on #1615
ack!

/assign

(unless you wanted to PR it)

[2020-08-12 15:31] #1615 closed

[2020-08-15 23:23] antoineco opened #1626 "MarkFalse always overrides the "happy" status condition"
tl;dr; with the current design, whichever `MarkFalse()` happens last _in the reconciliation loop_ takes precedence over the condition that happened last _by timestamp_.

---

In the code below, the "happy" condition is overridden instantly when `MarkFalse` is called, no matter if it is currently set to a condition with a newer timestamp.

https://github.com/knative/pkg/blob/2eaf40292b3112576be1fb3

[2020-08-16 19:46] mattmoor opened #1628 "Consider decorating the logger with generation and resourceVersion in genreconciler/controller"
/area API
/kind feature
/kind good-first-issue

Just seems like useful debug info.

[2020-08-19 00:41] tcnghia commented on #1280
@dprotaso @mattmoor it's been two months since https://github.com/knative/pkg/issues/1280#issuecomment-646654370.
 Has this changed? What is the latest client-go we can use?

[2020-08-19 01:18] mattmoor commented on #1280
I think we should consider migrating to the .18 client libs to start paying down the `ctx` migration costs, even if we're stuck at a 1.16 minimum version for now.  We can soft-bump to 1.17 like we did going to 1.16.

EKS definitely has 1.17, AKS probably does, and GKE has it in Rapid, so I'm hopeful that 1.17 will at least be available when we cut our .18 (that's not gonna be confusing!)

[2020-08-20 13:38] mattmoor commented on #1626
cc @n3wscott

Feels largely informational (vs. semantic), but I'd guess we'll need to stage things as it may break downstream unit testing.

@dprotaso is out, but FYI.

This may also cause some ripples for Tekton, cc @ImJasonH @vdemeester @afrittoli

[2020-08-20 14:05] n3wscott commented on #1626
The contract has always been "last set wins" for false beats unknown beats true.

You could add logic to your mark method to not call down to the manager if the condition is already set?

It is not clear how the api could change to allow this to work without assuming what the caller intends.

[2020-08-20 14:11] antoineco commented on #1626
I can understand "false beats true", but I'm having a hard time understanding why `MarkTrue` would propagate the _newest by timestamp_ to "happy" while `MarkFalse` does something different. My expectation was that I wouldn't have to compare conditions myself to always ensure "happy" reflects _latest False_.

[2020-08-21 17:02] cardil opened #1638 "Upgrade tests pluggable test suite"
## Problem
Upgrade tests are located in [Serving](https://github.com/knative/serving/blob/master/test/e2e-upgrade-tests.sh), [Eventing](https://github.com/knative/eventing/blob/master/test/e2e-upgrade-tests.sh), and also a merger of those in [Operator](https://github.com/knative/operator/blob/master/test/e2e-upgrade-tests.sh). All those utilize Bash scripts that perform upgrade & downgrade, invoke

[2020-08-23 16:43] arief-hidayat opened #1641 "webhook-certs data is not created"
## Expected Behavior
all pods including webhook pod should be running.

## Actual Behavior
webhook pod can't run due to `server key missing`
[code]

This could be due to `webhook-certs` data is not getting updated as it should be.
[code]

## Steps to Reproduce the Problem

apply knative-serving core from version 0.17.0
[code]

## Additional Info

WebhookCertificates said `Reconcile succeeded` but

[2020-08-24 10:34] cardil commented on #1638
Rply @coryrc:

In `_test.go` files only the main method would reside (like `TestOperatorUpgrades(t *testing.T)`). Other methods like `PreUpgradeTest(uc *UpgradeContext) error` would be located in regular code in package like [`knative.dev/eventing/test/upgrade`](https://github.com/knative/eventing/tree/3c5452b/test/upgrade). That would let us reuse them easily.

That is easy as well. The main test

[2020-08-24 15:44] mgencur commented on #1638
I like the first solution from @cardil which is specific for upgrades/downgrades. The skeleton of the upgrade/downgrade tests has evolved over time and doesn't seem to be changing that much.

It's important that users can debug/step through the source code of tests and the plugins so I'm not sure we can orchestrate the flow using Tekton.

Regarding kntest, it sounds like kntest could implement plu

[2020-08-24 16:44] mattmoor commented on #969
/lifecycle frozen

[2020-08-24 16:47] mattmoor commented on #1233
/lifecycle frozen

[2020-08-24 16:47] mattmoor commented on #1232
/lifecycle frozen

[2020-08-24 16:48] mattmoor commented on #1200
/remove-lifecycle stale

Ping @n3wscott @lionelvillard @nachocano @vaikas

[2020-08-24 16:48] mattmoor commented on #1195
/lifecycle frozen

[2020-08-24 16:49] mattmoor commented on #1195
/kind good-first-issue

[2020-08-24 16:49] mattmoor commented on #1129
I think that the logging here has been steadily improving.

/close

[2020-08-24 16:49] #1129 closed

[2020-08-24 16:52] mattmoor commented on #1082
/lifecycle frozen

I also think that this would be very useful, but we should ensure that it is able to capture the vast majority of our needs.

cc @ImJasonH @vdemeester @afrittoli too as an FYI.

[2020-08-24 16:52] #783 closed

[2020-08-24 16:53] mattmoor commented on #1181
Done

[2020-08-24 16:53] #1181 closed

[2020-08-24 16:53] mattmoor commented on #712
/lifecycle frozen

[2020-08-24 16:59] yanweiguo commented on #866
Given we're migrating to OpenCensus collector, we can close this.

[2020-08-24 16:59] #866 closed

[2020-08-24 17:19] vagababov commented on #411
/lifecycle frozen
/good-first-issue
This is super annoying

[2020-08-24 17:28] vagababov commented on #435
/close

[2020-08-24 17:28] #435 closed

[2020-08-24 17:28] vagababov commented on #484
/lifecycle frozen

[2020-08-24 17:29] vagababov commented on #514
We have validation in WH now, so this should not really be an issue.

[2020-08-24 17:29] vagababov commented on #514
/close

[2020-08-24 17:29] #514 closed

[2020-08-24 17:40] jjzeng-seattle opened #1645 "Metrics: add string constants to be referenced by other packages."
/kind good-first-issue
/kind cleanup
/area monitoring

In metrics pkg there are some places we use string literals to refer fields in config, and then use the same strings in other packages.
For example:  https://github.com/knative/pkg/blob/8ae01327905dab7dc0afe9319d8c91ccd2485f4b/metrics/config_observability.go#L90
and then the field is referenced in serving.

We should convert the strings into e

[2020-08-24 17:43] jjzeng-seattle commented on #1645
Another example is https://github.com/knative/pkg/blob/8ae01327905dab7dc0afe9319d8c91ccd2485f4b/metrics/config_observability.go#L84
and https://github.com/knative/pkg/blob/8ae01327905dab7dc0afe9319d8c91ccd2485f4b/metrics/config_observability.go#L87

Maybe we should just convert this whole block.

[2020-08-24 17:44] vagababov commented on #406
/assign @jjzeng-seattle @evankanderson
Is this still an issue or we can just close it out?

[2020-08-24 17:45] vagababov commented on #409
I think this possible to do with a simple filter?

[2020-08-24 17:47] vagababov commented on #557
/close
due to lack of activity

[2020-08-24 17:47] #557 closed

[2020-08-24 17:48] jjzeng-seattle commented on #406
Yes we should close it.   The plan is to move to only `opencensus` exporter by the end of the year.  There won't be any interleaved exporters.

[2020-08-24 17:48] vagababov commented on #807
/assign @jjzeng-seattle @evankanderson

Is this still an issue with the latest refactoring?