[2020-08-24 17:49] vagababov commented on #855
/lifecycle frozen
/assign @evankanderson @jjzeng-seattle

[2020-08-24 17:51] vagababov commented on #873
/assign @chizhg @chaodaiG
Do we still need this?

[2020-08-24 17:52] vagababov commented on #895
/close

We're up to 1.16 now, I think.

[2020-08-24 17:52] #895 closed

[2020-08-24 17:52] #542 closed

[2020-08-24 17:54] vagababov commented on #923
@capri-xiyue
is this still a desired improvement?

[2020-08-24 17:55] vagababov commented on #996
/good-first-issue
/lifecycle frozen
I find this a useful improvement for test debuggability.

[2020-08-24 18:01] capri-xiyue commented on #923
Yep. This is still a desired improvement.

[2020-08-24 18:01] capri-xiyue commented on #923
/remove-lifecycle stale

[2020-08-24 18:02] vagababov commented on #923
Are you going to work on it?

[2020-08-24 18:12] capri-xiyue commented on #923
I may not have cycles in a short time. If someone else have free cycles,  please feel free to pick up this tasks.
If not, I will revisit it when I have cycles.

[2020-08-24 18:14] evankanderson commented on #957
I think the switch to GitHub actions is getting us this "for free".

/close

[2020-08-24 18:14] #957 closed

[2020-08-24 19:16] vagababov commented on #320
That code is gone
/close

[2020-08-24 19:16] #320 closed

[2020-08-24 19:53] vagababov commented on #1358
/lifecycle frozen

[2020-08-25 03:01] arief-hidayat commented on #1641
I confirm the above issue is fixed when I add  `--disable-ha`
[code]

[2020-08-25 19:34] #891 closed

[2020-08-26 11:11] cardil commented on #1638
/assign

[2020-08-26 17:09] #1364 closed

[2020-08-27 01:47] mattmoor commented on #286
/close

[2020-08-27 01:47] #286 closed

[2020-08-27 04:31] vagababov commented on #286
There's some leftaround stuff, btw. I'll deal with it tomorrow

[2020-08-27 08:21] pierDipi commented on #185
/remove-lifecycle stale

[2020-08-28 03:40] mattmoor commented on #1368
/lifecycle frozen

[2020-08-28 16:30] vaikas opened #1660 "Document the ObserveKind"
## Expected Behavior
As discussed here, we should probably update the docs for genreconcilers:
https://github.com/knative/eventing-contrib/pull/1446#discussion_r479407258

https://github.com/knative/pkg/blob/master/injection/README.md

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2020-08-28 21:32] cathyzhyi opened #1663 "Check dependant CRDs are installed before start controllers"
## Expected Behavior
When starting up the controller, if any dependant CRDs are missing, print error message to the user and exit gracefully.

## Actual Behavior
When starting up the controller, with CRDs missing, the program can get stuck in an infinite loop with error message `the server could not find the requested resource` while the pod STATUS still shows running.

## Steps to Reproduce the P

[2020-08-28 21:34] cathyzhyi commented on #1663
@adamharwayne has proposed a potential fix under discussion https://github.com/Harwayne/knative-eventing/pull/51

[2020-08-29 15:20] mattmoor opened #1664 "VolatileTime churning updates"
/area API
/kind bug

## Expected Behavior

No updates when only VolatileTime changes

## Actual Behavior

I see the following in a test logstream:

[code]

I don't see this spinning, but I'd have expected this to have never reached this log statement...

cc @dprotaso @whaught @n3wscott

[2020-08-29 15:58] mattmoor commented on #1664
I'm pretty sure this is due to retries.

[2020-08-31 16:25] lionelvillard opened #1668 "ReAdd support for ObserveFinalizeKind"
I have a use case with 2 controllers, one setting finalizers, and the other one just observing that CRs have been marked for deletion. When the second controller sees the "marked for deletion" events, it updates some external state. The first controller checks this external state before removing finalizers.

The current reconciler framework does not support this use case anymore (see https://githu

[2020-08-31 18:52] mattmoor commented on #1663
The intent of the current design is to enable folks to repackage things pretty easily downstream, so that controllers can be combined or split relatively easily for different downstream "shrink wrapping".

That said, we pretty fundamentally expect types and rbac to exist for the set of controllers/informers linked into a particular controller process.  What happens if someone installs subscription

[2020-08-31 18:53] mattmoor commented on #1663
Could you elaborate at all on what you are trying to do and why, so that we understand the constraints you are trying to solve for a bit better?

[2020-08-31 19:47] cathyzhyi commented on #1663
So the original issue we had is https://github.com/google/knative-gcp/issues/1468 when installing knative-gcp customer should install both serving and eventing for now. We would like to give the customer a clear error message if one of them is missing.  Take eventing for example, we decided we can check if `broker` or `trigger` exist in order to tell if eventing is properly installed and if those

[2020-08-31 21:19] vagababov opened #1672 "TestMetricsExport is super flaky"
metrics/resource_view_test.go - TestMetricsExport flakes most of the time.

/assign @jjzeng-seattle @evankanderson

here's a good example: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/1666/pull-knative-pkg-unit-tests/1300475037081407489

[2020-08-31 21:26] mattmoor commented on #1672
cc @yanweiguo (community oncall)

[2020-09-01 17:14] pierDipi commented on #1149
/remove-lifecycle stale

[2020-09-01 22:53] #411 closed

[2020-09-02 08:47] nak3 opened #1679 "Clean up duplicated values in pkg repo and networking repo"
Select the appropriate areas for your issue:

/area networking
/kind cleanup

## Actual Behavior

Some values in `network/network.go` is duplicated in networking repo's `pkg/network.go`.
For example,  `ProbeHeaderName` is defined in both pkg repo and networking repo.

in pkg repo:

https://github.com/knative/pkg/blob/67e9bcf967f76db4e662685832ddaf0cc374fc17/network/network.go#L55

in networking re

[2020-09-02 20:30] yanweiguo commented on #1672
I ran the tests hundreds times with my own cluster and could only reproduce the timeout error once. I guess I have to send out a PR to run the CICD to debug.

[2020-09-03 16:27] cathyzhyi commented on #1663
Hey @mattmoor, hope https://github.com/knative/pkg/issues/1663#issuecomment-683999949 answers your question. Do you think it justifies the change or there might be a better way to achieve what we want to do? Thanks!

[2020-09-03 16:45] mattmoor commented on #1663
I'd really rather make install-time considerations like this an Operator concern than forcing each component to validate the cluster state at startup.

[2020-09-03 20:13] lionelvillard opened #1683 "Add controller options to set reconciler DemoteFunc"
## Expected Behavior
Being able to set DemoteFunc when creating a controller.

## Actual Behavior
Not possible.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

Receive adapter internal state must be updated when demoting a bucket

[2020-09-03 20:13] lionelvillard commented on #1683
/assign

[2020-09-03 20:15] lionelvillard commented on #1683
/cc @mattmoor

First step to remove the leader election fork in eventing.

[2020-09-07 17:39] mattmoor opened #1686 "Log line per conversion is very spammy"
/area API
/kind cleanup
/kind good-first-issue

Our test logs are filled with these relatively useless conversion logs:

[code]

I'd suggest we just eliminate this log line.

[2020-09-07 17:41] mattmoor commented on #1686
Here is the line: https://github.com/knative/pkg/blob/bfc0cee9456123e3660ca7a5fb034a4c0cf5ef0f/webhook/resourcesemantics/conversion/conversion.go#L133

[2020-09-07 17:55] #1686 closed

[2020-09-11 03:22] vagababov commented on #1152
Is this still an issue?

[2020-09-11 04:03] mattmoor commented on #1280
@mflendrich I have knative/networking staged in a PR, I think we'll try to land all of these tomorrow.

[2020-09-11 04:03] mattmoor commented on #1280
See: https://github.com/knative/networking/pull/152

[2020-09-11 12:59] pierDipi opened #1700 "Allow override QPS and Burst via flag"
The `sharedmain` package doesn't allow overriding client QPS and Burst via a flag and this forces doing convoluted logic to override it:

[code]

Also, this allows having a standardized way of configuring QPS and burst for all controllers.

## Proposal

- `--kube-api-qps <float32>` flag sets `Config.QPS`, default value `rest.DefaultQPS`
- `--kube-api-burst <int>` flag sets `Config.Burst`, default

[2020-09-11 13:05] pierDipi commented on #1700
/area API
/kind feature

[2020-09-11 14:54] #1280 closed

[2020-09-12 15:46] NEERAJAP2001 commented on #1645
@jjzeng-seattle sir, can you give up a code-sample so that I can work on. (I'm new to open source)

[2020-09-14 02:00] vagababov commented on #1408
We do this in activator. Should be possible to just do that in MainWithContext.
/assign

[2020-09-15 04:50] coryrc commented on #1638
Sorry I missed your response.

So the contents of all existing Test*(t) functions will be brought into non _test packages, then the Test*() will be one line calling the new function. You could miss coverage but it'd be easy to do and verbose to write but that sounds like golang.

That is my worry; today when serving needs to customize flow they can hack a bunch of scripts in /test. (Not ideal, but

[2020-09-15 05:46] mgencur commented on #1638
IMO, the framework has a great deal of flexibility in itself: Individual stages with tests are implemented in the repository under test (e.g. Serving) - they can customize which tests are running, or add more tests. I believe they could also customize the upgrade/downgrade by implementing their own version of the procedure rather than re-using a common impl.
OTOH, if there are more drastic changes

[2020-09-15 06:49] kallyshall opened #1708 "Allow customize DefaultThreadsPerController value"
## Expected Behavior

The **DefaultThreadsPerController** value can be customized through passing flags like  #1700 suggested or environment variable.

## Actual Behavior

https://github.com/knative/pkg/blob/master/controller/controller.go#L53
[code]
Currently, this value is fixed and can not be modified without changing the code.

[2020-09-15 06:50] kallyshall commented on #1708
/kind feature

[2020-09-15 07:33] slinkydeveloper commented on #1641
A complete reproducer using kafka channel webhook https://github.com/knative/eventing-contrib/issues/1554#issuecomment-692342180

[2020-09-15 07:35] slinkydeveloper commented on #1641
@pmorie any idea how ha is impacting on webhook certs?

[2020-09-15 07:40] markusthoemmes commented on #1641
/assign @mattmoor

[2020-09-15 15:29] mattmoor commented on #1641
Judging from the linked eventing issue, I think this is a bad interaction with the liveness probe.

This was [recently changed](https://github.com/knative/serving/pull/9215) in Serving to double the number of liveness probes needed to fail before restarting the process, but a `periodSeconds: 1` and defaults means the container has 3s to be up and functionally serving HTTPS, which is probably not v

[2020-09-16 08:37] kallyshall commented on #1700
Or can these values be overrode through given env variable?
I see now QPS and burst value can be given through kubeconfig file, but if in a shared cluster, the config will influence all containers within.

[2020-09-16 15:25] kallyshall commented on #1708
/area API

[2020-09-16 16:22] vagababov commented on #1708
It seems we had that before, but this seems reasonable in general.

[2020-09-16 16:22] vagababov commented on #1708
/assign
I'll try to look at it.

[2020-09-17 01:53] kallyshall commented on #1708
@vagababov thank you for looking at this.
I see now the QPS and burst value can be modified by changing kubeconfig file, but it will make these values have influence on every containers within cluster.

We have a shared cluster and just don't want to influence others, is it reasonable to customize the value using env variable, or by passing flags in deployment yaml : containers. args ?

[2020-09-17 22:52] #1408 closed

[2020-09-18 01:23] mattmoor commented on #1287
/lifecycle frozen

I believe there's a hack @scothis had that created a temporary GOPATH in `./hack/update-codegen.sh` that we could incorporate.

cc @Cynocracy

[2020-09-18 15:34] scothis commented on #1287
I first saw this pattern in kpack. It basically involves setting up a fake GOPATH for gengo

[2020-09-18 17:23] #1397 closed

[2020-09-18 18:55] dprotaso commented on #1137
this was done in https://github.com/knative/serving/pull/7116

[2020-09-18 18:55] #1137 closed

[2020-09-18 18:56] dprotaso commented on #1159
/remove-lifecycle stale

[2020-09-18 18:56] dprotaso commented on #1131
/remove-lifecycle stale

[2020-09-18 18:57] dprotaso commented on #1130
/remove-lifecycle stale

[2020-09-18 19:01] dprotaso commented on #1038
/remove-lifecycle stale

[2020-09-18 19:01] dprotaso commented on #1038
curious if @yanweiguo has any opinions?

[2020-09-18 20:05] #1638 closed

[2020-09-18 21:10] yanweiguo commented on #1038
I don't have much knowledge about this. Conversion request count? Success rate?

[2020-09-18 22:09] Cynocracy commented on #1287
Does this still repro with the new k8s version? I was really hoping it did not :(

Fake GOPATH sounds good, we've done similar things internally when we anger the great and powerful Go Mod.

[2020-09-21 14:54] dprotaso commented on #1140
/lifecycle frozen

[2020-09-21 15:14] ImJasonH opened #1726 "Correct error method for key collision?"
Consider this very common scenario:

[code]

In this scenario, `kvs` describes some key-value pairs (env vars, parameters, etc.), and the above config is invalid because two values are specified for the key `foo`. (It would _also_ be invalid even if both `foo`s had the same value)

Is there an error method in knative.dev/pkg/apis that I should use to signal this error? It looks like in Tekton-land

[2020-09-21 17:44] vagababov commented on #1726
` ErrInvalidKeyName` ? :)

[2020-09-21 18:12] ImJasonH commented on #1726
That's definitely an option, but I was hoping to find/build something a bit more tailor-made to the situation we see a lot of. From grepping knative/serving it looks like `ErrInvalidKeyName` seems to be mostly for invalid label/annotation keys, and less for KRM-style key-value pairs.

FWIW I've hacked up https://github.com/knative/pkg/compare/master...ImJasonH:err-key-collision to provide a `refle

[2020-09-21 18:27] vagababov commented on #1726
Looks very adhoc built thingy :)
I.e. given we've never seen need for this so far (doesn't mean we won't of course) — why wouldn't it be downstream in some tekton/pkg/api/utils, or something there of :)

[2020-09-21 18:27] vagababov commented on #1726
As in, I am not against, but I am not sure that this is generic enough either.

[2020-09-21 18:46] ImJasonH commented on #1726
Yeah that's perfectly reasonable. I'll propose it over there and if anybody reading this wants it in knative/pkg let me know.

[2020-09-21 19:27] #1726 closed

[2020-09-22 20:12] vaikas opened #1734 "Have more control over finalizers"
## Expected Behavior
When using genreconciler for Trigger and if the controller (for example: knative-sandbox/eventing-rabbitmq) needs a finalizer (to clean up rabbit resources), it will then apply this finalizer to all the Trigger objects regardless of whether it's actually responsible for it or not.

It would be better to be able to control whether a finalizer is applied and which finalizer labe

[2020-09-22 20:16] vaikas commented on #1734
A workaround is to manually remove a finalizer if it's there in my reconcilekind.

[2020-09-22 20:48] vaikas commented on #1734
actually that doesn't seem to work...

[2020-09-24 01:20] #1314 closed

[2020-09-24 01:20] #1291 closed

[2020-09-24 01:20] #1273 closed

[2020-09-24 01:20] #1286 closed

[2020-09-24 01:20] #1216 closed

[2020-09-24 01:20] #1199 closed

[2020-09-24 01:20] #1076 closed

[2020-09-24 01:20] #1077 closed

[2020-09-24 01:20] #1061 closed

[2020-09-24 01:20] #1047 closed

[2020-09-24 01:20] #1000 closed

[2020-09-24 01:20] #985 closed

[2020-09-24 01:20] #955 closed

[2020-09-24 01:20] #741 closed

[2020-09-24 01:20] #735 closed

[2020-09-24 01:20] #721 closed

[2020-09-24 01:20] #694 closed

[2020-09-24 01:20] #702 closed

[2020-09-24 01:20] #616 closed

[2020-09-24 01:20] #446 closed

[2020-09-24 01:20] #388 closed

[2020-09-24 01:20] #327 closed

[2020-09-24 02:19] dprotaso commented on #1044
/remove-lifecycle stale

[2020-09-25 01:20] #318 closed

[2020-09-25 01:52] #17 closed

[2020-09-25 01:54] mattmoor commented on #81
If y'all still want this, we should do something about it.  Otherwise `/close`?

[2020-09-25 12:51] dprotaso commented on #81
Wow forgot about this

[2020-09-26 01:18] #907 closed

[2020-09-26 01:18] #883 closed

[2020-09-26 01:18] #317 closed

[2020-09-27 01:22] #201 closed

[2020-09-29 01:33] Cynocracy commented on #1462
/remove-lifecycle stale

[2020-09-29 21:23] zhongduo opened #1756 "PR #1658 is preventing resync period of informer to be overwritten"
/kind bug

PR #1658 changes the order of informer setup and controller setup, however the resync period of informer can only be overwritten before the informer is started. As a result, all the event handler with customized resync period will have the default of 10 hours resync period after this PR.

## Expected Behavior

Event handlers in `AddEventHandlerWithResyncPeriod` with resync period set to

[2020-09-30 20:48] n3wscott commented on #1756
The order of controller setup and informer setup has not changed:

It was:

[code]

Additionally, `	go controller.StartAll(ctx, controllers...)` is non-deterministic in ordering.

[2020-09-30 21:18] evankanderson commented on #1470
/assign @evankanderson @MontyCarter

I'm wondering whether the hot-reload of ConfigMaps for metrics is worth it, but I'd love to get an additional opinion.

[2020-09-30 21:19] evankanderson commented on #1470
Another option would be to actually wrap / reimplement the stackdriver export, since the "custom metrics" feature only applies for stackdriver (IIRC, this was because on Google's product, certain metrics are provided gratis, and all additional metrics are paid-for).

[2020-09-30 21:21] evankanderson commented on #1672
/reopen

I still see issues, though with a different signature. Collecting signatures here.

[code]
and then:
[code]

[2020-09-30 21:23] evankanderson commented on #1672
I'm slightly suspicious, seeing interleaved logging from different tests, if we're seeing side effects of the global monitoring singleton.

Unfortunately, it seems like it's hard to adjust our current prow test infrastructure to run these separately; let me look into doing it via GitHub Actions.

[2020-10-01 18:47] danyinggu opened #1764 "FilterFunc in the informer is not working on the first run of reconciler"
## Expected Behavior
The informer should always successfully filter objects based on filterFunc defined the informer

## Actual Behavior
In the first run of the reconcile, it lists all objects and objects are not filtered by filterFunc in the informer

## Steps to Reproduce the Problem

1. Given a controller with an informer that has a filterFunc
2. Deploy the controller
3. In the first run of the

[2020-10-01 18:48] danyinggu commented on #1764
@mattmoor @n3wscott @grantr

[2020-10-01 18:50] danyinggu commented on #1764
kind/bug

[2020-10-01 20:31] mattmoor commented on #1764
Yup, there's no filter passed to genreconciler currently, but you could plumb one through in the controller options.

[2020-10-01 20:54] grantr commented on #1764
@mattmoor can you point to an example of plumbing through? Looks like the code directly enqueues every object in the lister, skipping any informer FilterFunc.

[2020-10-01 20:58] mattmoor commented on #1764
By "plumbing through" I mean adding a field and calling it from that logic in genreconciler itself, there is no field today.

[2020-10-02 21:04] n3wscott commented on #1756
@mattmoor had some insight about calling start informers before the controllers get a chance to start, not clear I changed that. Might have been a bug before and still?

[2020-10-02 21:37] zhongduo commented on #1756
I think that's probably a different problem. Here the problem is that during controller setup, the controllers will add event handlers to informers with resync period set, which will be ignored now because the resync period cannot be changed. So the problem in this issue is "start of informer" vs "setup of controller". Your previous PR moved the "start of informer" before "setup of controller".

[2020-10-02 22:07] mattmoor commented on #1756
@n3wscott We used to call StartInformers below this line, now it is in a go routine above it: https://github.com/knative/pkg/pull/1658/files#diff-7a2878cf5c6550229d8ac30e0d5e74e2R250

[2020-10-02 22:07] mattmoor commented on #1756
I see @zhongduo pointed that out above 🤦

[2020-10-05 17:29] pierDipi commented on #1700
@mattmoor @dprotaso does this sound something acceptable?

[2020-10-05 17:31] pierDipi commented on #1700
/assign

[2020-10-05 17:52] dprotaso commented on #1700
I think what's non-obvious is that as new controllers are added to a binary the QPS/Burst changes - or at least it did I can't find the code.

So is this property global for all controllers or per controller?

[2020-10-05 18:47] mattmoor commented on #1700
I'm ok with adding a flag to control the QPS/Burst, we've needed such a thing a few times.  This gives folks recourse to increase these (without rebuilding things) when they hit problems.

That said, I don't think folks should expect to specify these in their steady state, since they are likely papering over some anti-pattern in their controller(s).

[2020-10-06 01:25] #1389 closed

[2020-10-06 07:32] pierDipi commented on #1700
The code you're referring is this:
https://github.com/knative/pkg/blob/247841408e57cb3788e3a200b78b7ace6ea808b0/injection/sharedmain/main.go#L219-L234
and I think we can keep this feature by setting the default value of the flag to 0.

All controllers in a single process.

Agree, we added this in eventing to debug some chaos testing failures, and [Tekton's folks added those flags recently](https:/

[2020-10-06 18:01] n3wscott opened #1779 "TestMetricsExport/* tests are flaky"
flaky tests:

[code]

[2020-10-06 19:38] vagababov commented on #1779
/close

Dup of https://github.com/knative/pkg/issues/1672

[2020-10-06 19:38] #1779 closed

[2020-10-06 19:39] vagababov commented on #1779
/cc @evankanderson
We need to do something about it :)

[2020-10-07 02:16] MontyCarter commented on #1470
If I don't misunderstand your suggestion, I think it's kind of unpolished without the config hot reload, and is inconsistent with user expectations (if I change the config, the configuration should change...).  With that said, I wouldn't expect this to get changed for most customers of products built on top of knative (though maybe for OSS users - though these users will expect a little less hand

[2020-10-07 14:04] n3wscott opened #1785 "codecov blocks prow even if it is not a required check."
[code]

_Originally posted by @n3wscott in https://github.com/knative/pkg/pull/1781#issuecomment-704657935_

[2020-10-07 17:06] #1700 closed

[2020-10-08 00:23] scothis opened #1786 "Gracefully apply multiple PodSpec Bindings to a single subject resource"
## Expected Behavior

When multiple PodSpec-able Bindings target the same subject resource, each binding should be applied by the webhook when the subject is created/updated.

## Actual Behavior

Only one of the Bindings is applied to the subject via the webhook. The other Bindings are applied via the controller. While the subject will reach a level state, there is unnecessary churn. For example,

[2020-10-08 00:31] n3wscott commented on #1786
Note the `Undo` method will also be destructive.

[2020-10-08 00:51] scothis commented on #1786
`Undo` isn't inherently destructive, it depends on what's being undone.

[2020-10-08 18:51] dprotaso commented on #1563
Following up I'm doing another pass of the conformance lib. I've merged the `test.T` type and `Config` in to one. This should make it easier for conformance test authors.

See: https://github.com/knative-sandbox/reconciler-test/pull/17
Serving POC is here: https://github.com/knative/serving/pull/9742

[2020-10-08 20:47] dprotaso opened #1788 "Don't hardcode cluster.local as the cluster domain"
Seems to be done here:
https://github.com/knative/pkg/blob/master/webhook/certificates/resources/certs.go#L54

We have a utility here to help - https://github.com/knative/pkg/blob/master/network/domain.go

/label good-first-issue

[2020-10-09 01:40] mattmoor commented on #1478
/lifecycle frozen

[2020-10-09 01:40] mattmoor commented on #1478
cc @vagababov

Looking for stuff to cleanup? :D

[2020-10-09 13:01] dprotaso commented on #1563
_Originally posted by @dprotaso in https://github.com/knative-sandbox/reconciler-test/pull/17#issuecomment-705748603_

Playing with this in https://github.com/knative/serving/pull/9742 leads to a few questions

### 1. Should test names be decorated with requirement levels & feature states

ie. right now it's
[code]

it could be
[code]

It might make sense to do this only for non-stable & non-must/

[2020-10-11 22:54] #1788 closed

[2020-10-12 01:30] #1405 closed

[2020-10-13 02:09] vagababov commented on #1489
/remove-lifecycle stale
/cc @julz
as discussed recently

[2020-10-13 15:28] #103 closed

[2020-10-15 18:46] alan-ghelardi opened #1813 "Allow scaling controllers horizontally"
How feasible would be somehow allowing controllers to be scaled horizontally? Currently, I am not a direct user of Knative APIs, but I am of Tekton ones and I'm realizing that in scenarios of high concurrency, the controller gets overloaded and the reconciliation loop gets slower. Perhaps, for cases like this one (and most likely, there might be other ones for different use cases of Knative contro

[2020-10-15 19:08] vagababov commented on #1813
The controllers (except for autoscaling with some limitations) are currently horizontally scalable in a fixed manner (i.e. you need to restart them to pick new scale and re-shard the resources).

[2020-10-16 13:29] alan-ghelardi commented on #1813
@vagababov  just to understand, you're saying that I could configure an arbitrary controller deployment to have two replicas and after restarting it, the two instances will split resources correctly? As far as I know, the leader election feature is enabled by default in Knative controllers and when they start up, one instance assumes the leadership while others remain inactive. Shall I disable the

[2020-10-16 18:12] vagababov commented on #1813
No, the newer versions split the key space into buckets and each bucket is
independently master elected

On Fri, Oct 16, 2020 at 6:30 AM Alan Ghelardi <notifications@github.com>
wrote:

[2020-10-18 20:57] alan-ghelardi commented on #1813
@vagababov  thank you so much for clarifying.

[2020-10-18 20:57] #1813 closed

[2020-10-19 01:35] #141 closed

[2020-10-19 15:53] dprotaso commented on #1563
Work on using the framework in networking is on-going here: https://github.com/knative/networking/pull/233

[2020-10-19 16:55] evankanderson commented on #1672
Update: I've managed to reproduce this about 1/50 times when running all the tests under the e2e script.

It looks like somehow the default exporter is sometimes trying to export to the default `localhost:55678` address rather than the address in the config. I'm still trying to figure out why this happens.

I've also found a small bug in the Prometheus exporter where it won't necessarily re-create

[2020-10-20 01:45] vagababov commented on #1520
/lifecycle frozen
/assign pierDipi

[2020-10-20 21:09] afrittoli commented on #1048
/open

[2020-10-20 21:09] afrittoli commented on #1048
/lifecycle frozen

[2020-10-20 21:13] mattmoor commented on #1048
We should use the shared `drainer` logic, but probably have something that does this over HTTP (no need for TLS)

[2020-10-20 21:57] mpetason commented on #1048
/assign

I'll take a shot at this.

[2020-10-21 14:06] mattmoor opened #1829 "Decorate loggers with the controller name"
/area API
/area monitoring
/kind cleanup
/kind feature
/kind good-first-issue

## Expected Behavior

The logger attached to the context supplied to `ReconcileKind` should be decorate with a controller name that uniquely identifies it.

Serving does this [here](https://github.com/knative/serving/blob/dfd2b8eab7d23e0bb2a8557fc1b4674fa32a3acd/pkg/reconciler/revision/controller.go#L70), but this shoul

[2020-10-21 14:06] mattmoor commented on #1829
cc @dprotaso @yanweiguo @vagababov @n3wscott

[2020-10-21 17:24] vagababov commented on #1829
👍

[2020-10-21 19:01] evankanderson commented on #1672
I've fixed a few bugs, but I'm still seeing one case where the default meter seems to have lost track of *all* of the metrics associated with it.

[2020-10-21 21:29] vagababov commented on #1829
I see this going two ways:
1. attach the reconciler name to the context and read it off to attach to the logger in one of the MainWithX
2. add a new interface that all the controllers can implement
[code]

[2020-10-22 16:15] dprotaso commented on #1829
I just saw serving's logger names are they're a bit .... something

`controller.route-controller.knative.dev-serving-pkg-reconciler-route.Reconciler`

[2020-10-22 16:26] vagababov commented on #1829
I think we do named a few times and zap aggregates them rather than replace

[2020-10-23 05:51] yanweiguo opened #1835 "Controller Pods are too slow to become the new leader after the previous leader releases the ownership"
## Expected Behavior
We run leader election mode for Serving Autoscaler, Controller, Webhook. If there are multiple pods, one pod is expected to be take over the ownership of a bucket immediately after the previous leader pod releases the ownership.

## Actual Behavior
It could take more than 20 seconds for a bucket to be occupied by a new owner.

## Steps to Reproduce the Problem

1. Run `watch k

[2020-10-23 05:51] yanweiguo commented on #1835
cc @mattmoor

[2020-10-23 12:29] lionelvillard commented on #1835
@yanweiguo you may be hitting this bug: https://github.com/kubernetes/kubernetes/pull/91942. Eventing applies this PR after updating dependencies.

[2020-10-23 15:12] mattmoor commented on #1835
I think we pulled in the patch as well @lionelvillard, but I also thought it got pulled in and dropped with the latest K8s client update? 🤔

@yanweiguo I'm surprised this wouldn't be causing problems since we kill leaders every 30s in most of our e2e scenarios.

cc @dprotaso

[2020-10-23 17:34] yanweiguo commented on #1835
I found this from debugging https://github.com/knative/serving/pull/9884 which enables Chaosduck for autoscaler.

[2020-10-23 22:58] dprotaso commented on #1835
There’s a bug in k8s leader election package that breaks releasing the lock
on shutdown

So on normal operation it takes a our 15-20 seconds to transition to a new
leader

On Fri, Oct 23, 2020 at 13:35 Yanwei Guo <notifications@github.com> wrote:

[2020-10-23 23:00] dprotaso commented on #1835
Essentially the other controllers wait for the lease to expire

On Fri, Oct 23, 2020 at 18:58 Dave Protasowski <dprotaso@gmail.com> wrote:

[2020-10-25 01:41] #96 closed

[2020-10-25 01:41] #441 closed

[2020-10-26 14:13] dprotaso commented on #1835
FYI - last week I added logging to help capture lease changes

https://github.com/knative/serving/pull/9905

Here's a program that rewrite the history so it's easier to process - https://gist.github.com/dprotaso/628b5c37b8b22ef0dfba5549d66b1fa1

Output columns are `acquireTime`, `renewTime` & `holderIdentity`, empty time values imply they're the same as row above

[code]

[2020-10-26 14:14] dprotaso commented on #1835
I'm going to poke at k/k issues this week

[2020-10-27 11:39] vaikas commented on #1358
I think #1770 fixed this? @vagababov ok to close?

[2020-10-27 16:54] #1358 closed

[2020-10-27 16:55] dprotaso commented on #1835
Here's one bug fix: https://github.com/kubernetes/kubernetes/pull/80954 - landing in v1.20

[2020-10-27 17:09] embano1 opened #1854 "Return typed (or wrapped context) error in pkg/signal.go"
A pattern I see used a lot when reacting to program termination is checking for the returned error to distinct an expected, e.g. context error, from an abnormal error.

E.g.:

[code]

However, this does not work as `signals` slightly deviates from the `context` behavior and returns a plain error string:

[code]

Proposal: either return `context.Canceled` or a wrapped error including the error mess

[2020-10-27 17:33] mattmoor commented on #1854
cc @dprotaso @n3wscott @markusthoemmes for thoughts

[2020-10-27 17:48] markusthoemmes commented on #1854
Absolutely, let's do it. `context.Canceled` seems fine to me.

[2020-10-27 18:12] embano1 commented on #1854
Will file PR 👍

[2020-10-27 19:23] dprotaso commented on #1835
I've cherry picked the change back to 1.19 https://github.com/kubernetes/kubernetes/pull/95926 and 1.18 https://github.com/kubernetes/kubernetes/pull/95927

[2020-10-28 03:27] dprotaso commented on #1835
Hopefully kubernetes/kubernetes#95939 lands and we can cherry pick that back to 1.18.

These changes should stabilize our leader transitions

[2020-10-28 03:32] dprotaso commented on #1835
/assign @dprotaso

[2020-10-28 11:44] #1854 closed

[2020-10-28 14:27] dprotaso commented on #1835
I'm feeling hopeful that the upstream patches will come out in the next 1.18 patch release due out in 2020-11-11.

This is one day _after_ Knative's 0.19 release. So we'll probably have this fixed in a 0.19.1 release the following week

[2020-10-28 17:49] vagababov commented on #1835
Is it all in client libs or in some core component?

[2020-10-28 18:21] dprotaso commented on #1835
actually once my last PR merges we could point to a release branch SHA and switch to a formal release once it's out

[2020-10-28 22:17] dprotaso commented on #1835
k8s 1.19 cherry pick - https://github.com/kubernetes/kubernetes/pull/95963
k8s 1.18 cherry pick - https://github.com/kubernetes/kubernetes/pull/95964

[2020-10-30 10:02] vaikas opened #1876 "[feature] Be able to induce test failures for subresources."
## Expected Behavior
Be able to induce failures for subresources. For example I'd like to be able to induce a failure to a patch on a subresource (say, only Status).

## Actual Behavior
Can not.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2020-10-30 13:16] vaikas commented on #1876
This was just an issue in documentation. Added docs and tests.
#1877

[2020-10-30 13:37] markusthoemmes commented on #1876
Done now :)

[2020-10-30 13:37] #1876 closed

[2020-10-31 01:17] #1434 closed

[2020-11-02 01:10] nak3 opened #1881 "Bump k8s libs to 1.19"
/area API
/area test-and-release
/kind feature

This is similar request to https://github.com/knative/pkg/issues/1280, but for v1.19.

For example, service-apis repo uses [client-go v0.19.2](https://github.com/kubernetes-sigs/service-apis/blob/3fdc5d3fb0a864d186c709f6b22d6bba088d1688/go.mod#L12) and so we hit a dependency error when using the latest service-apis in knative/networking repo.

/cc @d

[2020-11-02 07:33] nak3 commented on #1881
Just in case, this is not urgent request for me at this moment. I am testing serving-apis but I could manage it on my local and will take some time until send/merge networking repo.

[2020-11-02 14:51] mattmoor commented on #1881
I'd have to check the schedule, but I don't think we can do this until K8s 1.20 cuts, which is after our 0.19 cuts IIUC.

Let's discuss in a little over a week?

[2020-11-02 15:21] dprotaso commented on #1881
Related: https://github.com/knative/community/issues/245#issuecomment-718316003

[2020-11-02 17:01] bobcatfish opened #1883 "KubernetesMinVersionKey check doesn't work with EKS?"
## Expected Behavior

When the minimum version of kubernetes required is 1.15.11,  EKS 1.15 with KUBERNETES_MIN_VERSION=1.15.11 should pass the minimum version check.

## Actual Behavior

Using EKS 1.15 with KUBERNETES_MIN_VERSION=1.15.11 and Tekton Pipelines v0.16.3 raises this error:

[code]

Strangely, the Pipelines 0.16.3 docs indicate we actually need 1.16 https://github.com/tektoncd/pipeline

[2020-11-02 17:41] vagababov commented on #1883
/assign

[2020-11-02 17:56] vagababov commented on #1883
OK, so "-eks-065dce" is treated as pre release version. And pre-release versions are reverse, so no pre-release version is larger than any pre-release version. Hence `1.15.11-eks-065...` is treated as smaller than `1.15.11`.

[2020-11-02 17:57] markusthoemmes commented on #1883
ugh, yeah, we had this downstream once too. I believe requiring `1.15.11-0` does the track in that case.

[2020-11-02 18:11] vagababov commented on #1883
I've added test coverage fo the situation and a bespoke error message for the case in the liked pr.

[2020-11-02 18:50] #1883 closed

[2020-11-03 16:24] GregDritschler opened #1891 "Reconciler needs to provide a filter function for leader election"
## Expected Behavior

Tekton has created a new custom resource called Run for running custom tasks.  Each custom task implementer will provide a reconciler that watches for and processes Run objects that refer to its kind of custom task, through the use of the filter function given to the run informer.

## Actual Behavior

We've found a case where a reconciler is given all Run objects, not just th

[2020-11-03 16:24] GregDritschler commented on #1891
@n3wscott fyi

[2020-11-03 16:50] n3wscott commented on #1891
Thanks for the bug report, I think we can fix this quick, but it will need to be in a few days because of the current release.

[2020-11-04 02:30] mattmoor commented on #1509
/lifecycle frozen

[2020-11-04 03:03] rusde opened #1894 "Add `knative_revision` tags to knative provided reconcile metrics"
/area monitoring

/kind feature

## Expected Behavior
Lot of controller metrics knative provides does not contains all the labels `knative_revision` [schema](https://github.com/knative/pkg/blob/master/metrics/metricskey/constants_serving.go#L43-L51) expects. Targeting following [3 metrics](https://github.com/knative/pkg/blob/master/controller/stats_reporter.go#L35-L37) in this bug

## Actual Behav

[2020-11-04 03:03] rusde commented on #1894
/assign rusde

[2020-11-12 18:24] jasonpet opened #1903 "No way to apply namespace scope to specific informer in controller"
##  Expected Behavior
I have multiple informers in my controller and want to apply a namespace scope (https://github.com/knative/pkg/blob/master/injection/context.go#L32) to just one of my informers.

## Actual Behavior
When applying namespace scope to context all informers will be scoped to this namespace and I see no way to do this for a specific informer.

[2020-11-14 01:13] #1498 closed

[2020-11-14 12:31] runzexia opened #1907 "TestInformedWatcher flaky"
/area test-and-release
/kind bug

## Expected Behavior
test always success
## Actual Behavior
test failed in https://github.com/knative/pkg/runs/1399755328,
after rerun test success
## Steps to Reproduce the Problem
not easy to reproduce, but i guess it because `informer.HasSynced` not means all EventHandler has been called

[2020-11-15 07:02] runzexia commented on #1907
failed again https://github.com/knative/pkg/runs/1401922270?check_suite_focus=true

[2020-11-16 16:40] chaodaiG commented on #873
This is obsolete.
/close

[2020-11-16 16:41] #873 closed

[2020-11-16 23:32] cardil opened #1911 "Upgrade test hangs if Skip is invoked in continual operation verification phase"
## Expected Behavior

Invoking `t.Skip()` should mark verification subtest as skipped, and tests should finish

## Actual Behavior

Test execution hangs.

## Steps to Reproduce the Problem

[code]

## Additional Info

This is blocking https://github.com/knative/eventing/pull/4519

[2020-11-16 23:34] cardil commented on #1911
/assign

[2020-11-17 01:18] #1519 closed

[2020-11-17 02:19] evankanderson commented on #406
/close

[2020-11-17 02:19] #406 closed

[2020-11-17 18:07] #1911 closed

[2020-11-17 19:36] cardil opened #1913 "API to call out shell scripts & functions from within Golang"
## Summary

Write an API to enable calling out shell scripts or functions from within hack or test Golang code.

## Why?

We would like to write more code in Golang, that now written in shell scripts. That involves environment orchestration, test frameworks, build tools and hacks. To make that happen we need a bridge solution which let us call out working shell scripts, and not force us to rewrite

[2020-11-17 21:24] cardil commented on #1913
/assign

[2020-11-18 02:33] dprotaso commented on #1913
A bridge too far. I think this approach is messy and it would be easier to piecemeal some shell logic into small go executables.

[2020-11-18 13:20] cardil commented on #1913
Did you seen knative/eventing#4519. To implement that new framework I need to invoke:
[code]
to install eventing HEAD version and:
[code]
to install latest released version.

Or rewrite all that code.

I believe rewriting that code should be a gradual process, instead of big bang. That rewrite shouldn't be required to merge knative/eventing#4519.

[2020-11-18 20:47] markusthoemmes commented on #1894
Why do all metrics need to contain all these labels? Have you considered the increase in cardinality (effectively unbound) and the effects that has on memory allocation for accounting and for prometheus as a monitoring system?

[2020-11-18 21:07] rusde commented on #1894
How `knative_revision` schema is setup, it expects these tags to be present. We cannot leverage these metrics until these tags are populated.

We already handle such cardinality data on dataplane side when request metrics has revision name tagged to it.

I understand this might break prometheus, do you think this proposal can go ahead if this is behind a configmap flag?

[2020-11-18 21:08] rusde commented on #1894
From the PR

Is it fine if this is behind a config map setting to add these tags?

CM: https://github.com/knative/serving/blob/master/config/core/configmaps/observability.yaml#L25

Saying metrics.controller-add-knative-revision-tags

It will be turned off by default

[2020-11-19 01:18] #1269 closed

[2020-11-19 02:59] dprotaso commented on #1913
That's a top down approach - I'm suggesting going bottom up

[2020-11-19 16:20] n3wscott commented on #1913
I do not think we should call shell scripts from go.

[2020-11-19 17:10] dprotaso commented on #1835
re-opened since we're waiting on eventing to bump

[2020-11-20 01:18] #1523 closed

[2020-11-21 01:18] #1539 closed

[2020-11-21 01:18] #1536 closed

[2020-11-23 02:31] mattmoor commented on #1200
/lifecycle frozen

[2020-11-24 11:51] glyn commented on #1786
Clarification of intended behaviour:

1. For a given subject, if some Bindings match exactly and others inexactly, should they all be applied to the subject? Or should the presence of an exact match cause inexact matches to be ignored?

2. For a given subject, if no Bindings match exactly and more than one Binding matches inexactly, should all the inexactly matching Bindings be applied to the subj

[2020-11-24 12:34] scothis commented on #1786
Good questions @glyn

Every binding referencing the subject should be applied. So all exact matches **and** all inexact matches. This is the current behavior of the controller, the webhook's behavior should match.

The output may be invalid. Since this behavior already exists in the controller, a poorly written binding is still poorly written when applied via the webhook. (Consistently poor in thi

[2020-11-24 20:18] bobcatfish commented on #1907
Hi @runzexia !! I think this might be an actual bug and we are running into this in Tekton as well, causing https://github.com/tektoncd/pipeline/issues/2815 (longer explanation in https://github.com/tektoncd/pipeline/issues/2815#issuecomment-733207368)

Looking at the assertion that's failing:

https://github.com/knative/pkg/blob/c5296cd61e9f34e183f8010a40dc866f895252b9/configmap/informed_watcher_

[2020-11-24 20:32] mattmoor commented on #1907
That'd be a good find.  cc @dprotaso

Where do you mean?  Within the informer itself?

[2020-11-24 20:44] rusde commented on #1894
Closing issue as related PR is merged

[2020-11-24 20:44] #1894 closed

[2020-11-24 21:27] rusde opened #1927 "Add controller metrics as allowed stackdriver metrics"
/area monitoring

/kind feature

## Expected Behavior
Export below metrics as known metrics via stackdriver.

[code]

## Actual Behavior

They are exported as custom metrics today.

[2020-11-24 21:52] bobcatfish commented on #1907
1. [InformedWatcher.Start](https://github.com/knative/pkg/blob/c5296cd61e9f34e183f8010a40dc866f895252b9/configmap/informed_watcher.go#L139) calls
2. [InformedWatcher.registerCallbackAndStartInformer](https://github.com/knative/pkg/blob/c5296cd61e9f34e183f8010a40dc866f895252b9/configmap/informed_watcher.go#L166) which [sets up all the event handlers](https://github.com/knative/pkg/blob/c5296cd61e9f

[2020-11-24 22:10] rusde commented on #1927
/assign rusde

[2020-11-24 22:24] mattmoor commented on #1907
I would expect the wait for sync to synchronize things, if the `go` is just the `informer.Run` 🤔

https://github.com/knative/pkg/blob/c5296cd61e9f34e183f8010a40dc866f895252b9/configmap/informed_watcher.go#L144

[2020-11-25 02:49] runzexia commented on #1907
I think `i.informer.Informer().HasSynced` would not guarantee the callback has invoked, thats the problem

[2020-11-25 03:52] mattmoor commented on #1907
That is definitely plausible, but it would be good to confirm whether the informer events are done asynchronously, and where that happens.  Just want to make sure we understand what's going on. 👍

[2020-11-25 15:39] bobcatfish commented on #1907
It _seems_ like the only place the event handlers (OnAdd, OnUpdate, OnDelete) are called is [in the Process function](https://github.com/kubernetes/client-go/blob/23fa3f5256cf5d2955fd6a65fa97b9714b7df41f/tools/cache/controller.go#L393-L420) (or by the OnUpdate function, also called ultimately in the Process function), and it seems like the Process function is only invoked via [informer.Run](https:

[2020-11-26 03:53] dprotaso commented on #1907
@runzexia is right.

@bobcatfish is right.

[2020-11-26 03:55] dprotaso commented on #1907
Digging into the code myself `HasSynced` is true once the informers backing cache is up to date.

Notifying handlers is async and can be delayed

[2020-11-26 18:40] #1907 closed

[2020-11-27 01:25] #326 closed

[2020-11-27 01:33] #1786 closed

[2020-11-30 17:56] igorbelianski opened #1932 "Enable e2e Test to capture dump queue proxy logs (off by default)"
## Expected Behavior
  e2e test have an on demand (env variable, flag) ability to capture / dump logs from pods in namespaces other than knative-serving.  This is particularly useful for debugging troubleshooting networking problems (namespace serving-tests to get queue-proxy logs, and potentially capture kingress logs as well)

## Actual Behavior
   running tests produces logs from all knative-se

[2020-11-30 18:00] igorbelianski commented on #1932
/assign igorbelianski

[2020-11-30 18:04] igorbelianski commented on #1932
@dprotaso @vagababov @markusthoemmes
before writing this code and extendingpkg/test/logstream/v2/  to support pods across multiple namespaces and more liberal ability to disable tag filtering on some of them , i would like to get your opinion

[2020-11-30 19:35] bobcatfish commented on #1907
Hey @dprotaso  - it looks like #1929 resolved this issue but it's only changing test code - does this mean we're okay with the potential race condition?

i.e. if you use the informedwatcher too quickly (specifically before the event handling goroutines have been invoked) you won't get the value you wanted?

Over in Tekton Pipelines where we use this to read configuration from config maps i wouldn'

[2020-12-01 05:22] dprotaso commented on #1907
Yeah it's not guaranteed. I guess the severity would depend - ie. sharedmain seems to wait for configmap informers first by calling Start on the watcher. Then it waits again for another set of informers that have been setup via injection.

I think it'd be hard to provide guarantees that a set of event handler were invoked. You may way to just fail reconciliation if there's some configuration that'

[2020-12-02 02:23] vagababov commented on #1679
/assign

[2020-12-02 03:53] vagababov commented on #1679
/remove-lifecycle stale

[2020-12-02 03:56] vagababov commented on #1679
So this is not just removing a few constants.
There's more code in pkg that should be moved to networking first
- drain handler
- error handler

More things to be removed like probe handlers....
I'll try to sort this out.

[2020-12-02 14:23] dprotaso commented on #1932
Sounds good to me - I would only want to have the extra collection off by default since certain tests would produce a ton of extra logs. ie. auto scaling tests

[2020-12-04 00:59] vagababov opened #1937 "Logstream fail"
[code]
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_serving/10263/pull-knative-serving-istio-stable-no-mesh-tls/1334639944722812928

/cc @mattmoor @dprotaso

[2020-12-04 01:32] #1937 closed

[2020-12-04 21:11] vagababov commented on #1672
@evankanderson
any updates on this?

[2020-12-07 13:14] markusthoemmes opened #1943 "Trouble due to "arbitrary" control-plane label exclusion in Webhooks"
Through #1590 we added an arbitrary control-plane label exclusion to fix support with AKS. This is causing headaches for at least one applicatione downstream in our case, which happens to rely on the same label. Bummer.

I think we should fix this "properly" as the current workaround can break anytime somebody is mucking with webhook COs anyway.

[2020-12-08 04:38] mattmoor opened #1947 "Support customizing metrics port"
/area monitoring
/kind good-first-issue

## Expected Behavior

Users should be able to customize the metrics port.

## Actual Behavior

The metrics port is hardcoded as 9090.

[2020-12-08 04:39] mattmoor opened #1948 "Support customizing the profiling port"
/area monitoring
/kind good-first-issue

## Expected Behavior

Users should be able to customize the profiling port.

## Actual Behavior

The profiling port is hardcoded as 8008.

[2020-12-08 11:14] markusthoemmes commented on #1943
/assign

[2020-12-08 17:15] mattmoor commented on #1947
We have: https://github.com/knative/pkg/blob/c73d344c89a7e80d9e416cea5b4a797e1195cf07/metrics/config.go#L64

[2020-12-08 17:15] #1947 closed

[2020-12-08 17:45] #1948 closed

[2020-12-09 07:38] #1943 closed

[2020-12-10 19:25] mattmoor opened #1956 "RFC: Support dynamic reconfiguration of "buckets""
/area API
/kind feature

I mentioned this in slack, but given that we already support being promoted to and demoted from "leader" dynamically, could we support dynamically changing the bucket count by:
1. Demoting all the current buckets,
2. Promoting new buckets as we gain ownership of them.

I haven't looked deeply into what this would entail at a code level yet, but I wanted to float the idea f

[2020-12-14 08:21] markusthoemmes commented on #1932
Sounds good!

[2020-12-14 09:34] pierDipi commented on #1520
I checked all the sandbox projects and opened some issues.
/close

[2020-12-14 09:34] #1520 closed

[2020-12-14 21:49] bobcatfish opened #1960 "Race condition when using config store backed by config maps"
## Expected Behavior

When I try to use a config store backed by a config map immediately after the process using it starts up, when the config map exists before the process starts, I'd like to be able to guarantee that I am reading the configured value.

I think we could do this if one of the following was true:

1. When the reconciler starts, it could wait for the config store to be initialized,

[2020-12-14 21:49] bobcatfish commented on #1907
Okay @dprotaso I've opened https://github.com/knative/pkg/issues/1960 !

[2020-12-15 01:42] #1628 closed

[2020-12-15 10:13] markusthoemmes commented on #1734
Does it work if you use a filtered reconciler for this?

[2020-12-15 16:35] vaikas commented on #1734
I didn't think so because in order to figure out if the finalizer needs to be applied, I need to actually look up the Broker to see if I'm responsible for it. But, I'll take a closer look later :) Thanks for the suggestion.

[2020-12-15 20:24] #1932 closed

[2020-12-16 08:54] markusthoemmes opened #1968 "Review usage of logger to avoid unnecessary allocations"
I've done a bit of a cleanup the other day and noticed that our logger allocates way more at times then you would expect. The biggest offender for us is `logger.With(...).Info` etc. where the `With` call unnecessarily clones and creates a new logger with the respective fields added. Note, that the `With` call comes before even asking for a loglevel, so this would cause allocations even if the resp

[2020-12-16 10:13] markusthoemmes commented on #1668
Hard time parsing what this means :thinking:.

Delete events are generally not guaranteed to be delivered. If your controller crashes at the same time the delete event is sent and received (or during handling the delete event) the replacement pod for it will not observe the delete event at all.

That's why K8s is doing the "update-with-deletiontimestamp" dance, to guarantee observation, even in ed

[2020-12-17 01:56] vagababov commented on #1708
/remove-lifecycle stale

[2020-12-17 11:42] munnerz opened #1972 "Supporting reading TLS data from places other than Kubernetes Secrets"
When deploying a webhook, it may be desirable to _not_ make use of the `certificates` controller (for generating a TLS certificate for the webhook), nor reading the TLS data _from_ a Kubernetes secret (e.g. in the case where some form of TLS certificate/identity document is already available within the webhook pod).

It is already possible to _not_ instantiate the certificate controller (by exclud

[2020-12-17 11:48] markusthoemmes commented on #1972
Ack! I need the very same thing, where my cluster has already mechanisms to come up with certificates that I'd like to mount for the webhook to "just" pick up.

I'd love to see those as commandline options for webhooks generically too, so existing webhooks (like in Knative Serving) can be altered to do things differently.

[2020-12-19 01:48] #1626 closed

[2020-12-23 02:00] #923 closed

[2020-12-26 02:01] #185 closed

[2020-12-27 02:06] #1660 closed

[2020-12-28 02:06] #1664 closed

[2020-12-31 02:13] #1149 closed

[2021-01-02 02:12] #1663 closed

[2021-01-04 16:34] mattmoor commented on #1764
/lifecycle frozen

[2021-01-04 16:36] mattmoor commented on #1756
I believe this was fixed.

/assign @n3wscott

[2021-01-05 16:10] zhongduo commented on #1756
Yes, it is already fixed.

[2021-01-05 16:10] #1756 closed

[2021-01-06 04:40] yanweiguo opened #1979 "More than one defaulting webhook controller won't work in the same binary with HA enabled"
## Expected Behavior
I can set more than one [defaulting webhook controller](https://github.com/knative/pkg/blob/master/webhook/resourcesemantics/defaulting/controller.go#L39) in the same binary with leader election (HA) enabled. Same for configmaps and validation webhook.

## Actual Behavior
If more than one defaulting webhook controllers are set in the same binary with leader election (HA) enabl

[2021-01-06 04:43] yanweiguo commented on #1979
Maybe the simplest way to fix is to use the name of MutatingWebhookConfiguration for the names of reconcile queue and the lease as well, which is a parameter of [defaulting.NewAdmissionController](https://github.com/knative/pkg/blob/master/webhook/resourcesemantics/defaulting/controller.go#L39). Same for validation and configmaps webhook controllers.

cc @mattmoor

[2021-01-06 04:55] mattmoor commented on #1979
Don't do that. 😜

In mink I'm running a defaulting webhook for all of serving, eventing, and tekton as a single endpoint (I used to run a lot more!).  Pass all the types to a single defaulting webhook.

Is there a legitimate reason to be running multiple defaulting webhooks vs. a single with all the types...?

[2021-01-06 15:40] dprotaso commented on #1835
@yanweiguo I think this should be good to close - can you re-run your tests?

[2021-01-06 19:01] yanweiguo commented on #1979
I don't see one. Currently in our downstream branch we just copy both the MutatingWebhookConfiguration in serving repo and net-istio repo. I guess it is for easy sync with upstream.

If using single defaulting webhook is the right way to go, I'll do that. Thanks.

[2021-01-06 19:03] mattmoor commented on #1979
Yeah, that's the way things were intended to work: https://github.com/mattmoor/mink/blob/f6f4dc092ce14818642cacf87ce26ac892d5a392/cmd/webhook/defaulting.go#L57

LMK if you need any pointers / help.

[2021-01-06 23:24] yanweiguo commented on #1979
It turned out that https://github.com/knative-sandbox/net-istio/blob/master/config/500-mutating-webhook.yaml has a matchExpression while https://github.com/knative/serving/blob/master/config/core/webhooks/defaulting.yaml doesn't. Can't simply merge them.

[2021-01-06 23:33] Cynocracy commented on #1979
Is 'the webhook may not be running on cluster but needs to negotiate with other clusters for ownership' a good reason?

In an advanced case where the user does not want their on-cluster control plane availability to be tied to their own data plane, I could see having multiple webhooks (some with different failure domains) that would all need to negotiate.

[2021-01-07 00:55] yanweiguo commented on #1979
Talked with @mattmoor in slack, there are a few solutions:

1. Make multiple defaulting webhooks work with HA. Defaulting webhook is not designed to support multiple instances. However I'm not sure why (we didn't talk about it). @mattmoor could you explain?
2. Add the filtering logic in https://github.com/knative-sandbox/net-istio/blob/master/pkg/defaults/deployment_defaults.go#L60 instead of depe

[2021-01-07 20:41] dprotaso commented on #1829
We also have structured fields ie. [`logkey.ControllerType`](https://github.com/knative/pkg/blob/51c72e24c179dc777b0228edf44bd4ef6eb94357/logging/logkey/constants.go#L21)

I guess we should decide whether to add context using:
1) `Named` (pro: succinct,  con: can't query, may not be stable)
2) `With` structured fields (pro: can query, con: verbose)

what we have now in serving is like
[code]

With

[2021-01-07 22:01] yanweiguo commented on #1835
Verified it works as expected now.

[2021-01-07 22:01] #1835 closed

[2021-01-11 02:31] #1645 closed

[2021-01-15 16:31] dprotaso commented on #1829
I opt'd for structured fields see the PR

[2021-01-15 20:08] #1829 closed

[2021-01-17 02:44] #1130 closed

[2021-01-20 18:59] mattmoor opened #1995 "Remove --disable-ha"
/area API
/kind cleanup

Tracking:
- [ ] net-istio is abusing defaulting webhook, which requires --disable-ha (#1979)

---

We should also cleanup references in docs etc.

Before this work is done, we should ensure nobody is still throwing this flag, but this is criteria for GAing this feature.

cc @vdemeester @lionelvillard @vaikas @yanweiguo @pmorie

[2021-01-20 19:21] yanweiguo commented on #1995
We are using this flag due to https://github.com/knative/pkg/issues/1979

[2021-01-22 21:17] #1881 closed

[2021-01-22 21:51] dprotaso commented on #1152
bump @sravankumar777

[2021-01-22 21:55] dprotaso commented on #1509
/unassign @vagababov

[2021-01-25 18:14] dprotaso commented on #1044
/lifecycle frozen

[2021-01-25 19:05] mpetason commented on #1048
Unassigned so someone can resolve this faster than I can.

[2021-01-26 21:38] bobcatfish commented on #1960
@dprotaso @mattmoor @runzexia do you have any thoughts on what the best approach is to take here? Are you open to the knative/pkg controller code doing something to wait and make sure the configstores are initialized correctly? (This seems like the best solution to me cuz this bug would impact all users of this lib)

(some other ideas listed above)

[2021-01-27 08:57] embano1 opened #2001 "kvstore panics on empty map"
## Expected Behavior
Setting a key on an empty kvstore, i.e. ConfigMap with no data field, should not panic.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

1. Create empty ConfigMap (name/namespace only)
2. Use kvstore
3. Set key -> panic

## Additional Info

[2021-01-27 16:35] #2001 closed

[2021-01-28 01:55] #1462 closed

[2021-01-28 14:14] slinkydeveloper opened #2003 "Genreconciler generates invalid code when generating reconciler for corev1.Secret"
## Expected Behavior

Generating the reconciler for `corev1.Secret` generates valid code

## Actual Behavior

Generating the reconciler for `corev1.Secret` generates invalid code that uses the field `Status`, which secret does not contain. E.g.:

[code]

## Steps to Reproduce the Problem

1. Add `Secret` to the list here: https://github.com/knative/pkg/blob/0d31134d5f4e37a2d44392ec8fb8790e2dd4f7e7

[2021-01-28 14:15] slinkydeveloper commented on #2003
/assign

[2021-01-30 00:18] #2003 closed

[2021-02-02 09:58] slinkydeveloper commented on #1891
/remove-lifecycle-stale

Hitting this issue while developing a secrets reconciler

[2021-02-02 10:00] slinkydeveloper commented on #1891
My controller loops indefinitely trying to reconcile every secret in the cluster, although I've set the following filters: https://github.com/slinkydeveloper/control-data-plane-communication/pull/11/files#diff-758961aac53d57d417fc85fa07093ab347dbd01929ebfc54ffe0cf2af64675b6R77

[2021-02-03 16:08] julz opened #2006 "Transports should allow setting DisableCompression"
/kind bug

## Expected Behavior

The transports returned by NewAutoTransport should support disabling go's helpful functionality where it silently adds an Accept-Encoding: gzip header and uncompresses the result for you. While this feature is often useful, it's not what we want for Activator and QP's ReverseProxy transports since it (a) injects an extra header not in the client side in to the requ

[2021-02-03 17:17] #2006 closed

[2021-02-03 18:04] eddie4941 opened #2008 "Consider lowering log level for AdmissionController.Admit failures"
/area monitoring
/kind question

## Expected Behavior
Consider logging validation errors at a lower level (`info`) to signal that the webhook is working as expected.

## Actual Behavior
The AdmissionController.Admit code logs validation error on CRD's with `level==error`. Validation errors are a normal function of the webhook, so logging them as `level==error` is perhaps to aggressive and misleadi

[2021-02-04 21:08] quentin-cha opened #2011 "stackdriver exporter sometimes loses metric on shutdown"
/area monitoring
/kind feature

## Expected Behavior
stackdriver exporter do not lose metrics when shutting down

## Actual Behavior
stackdriver exporter sometimes lose metrics when shutting down

## Additional Info
Currently during process shutdown, stackdriver exporters may lose metrics.
This is happening because:
* Flushing isn't happening correctly, this will soon be [fixed](https://github.com

[2021-02-04 21:09] quentin-cha commented on #2011
/assign

[2021-02-06 01:38] #1785 closed

[2021-02-06 01:38] #1470 closed

[2021-02-09 19:36] skonto commented on #1672
@evankanderson I still this issue here: https://github.com/knative/pkg/pull/2005#issuecomment-776174080

[2021-02-11 01:36] #1489 closed

[2021-02-11 13:25] lionelvillard commented on #1903
/remove-lifecycle stale

[2021-02-11 17:46] ImJasonH commented on #1960
Friendly ping, I also noticed this in https://github.com/imjasonh/tektoncd-concurrency

[2021-02-11 19:00] mattmoor commented on #1960
Based on the discussion in the linked issue, I'd change this check to not be based on the informer cache, but based on a positive hand-off signal from the callback: https://github.com/knative/pkg/blob/c5296cd61e9f34e183f8010a40dc866f895252b9/configmap/informed_watcher.go#L175-L176

I suspect we could do this just by instrumenting add here: https://github.com/knative/pkg/blob/c5296cd61e9f34e183f801

[2021-02-12 11:25] skonto opened #2019 "Reflector metrics are not available"
## Expected Behavior
See reflector metrics exported
## Actual Behavior
No reflector metrics are exported
## Steps to Reproduce the Problem
1. Installed v0.19.0 for Knative Serving on OCP, K8s version v1.18.2.
2. Port-forward and listed metrics for the Controller pod, for a dump check [here](https://gist.github.com/skonto/e3dcc5c28c24644003895fef943a3cf4)

It seems this is due to https://github.com

[2021-02-15 10:18] skonto commented on #2019
I dug into the client go/pkg commit history, so the metrics stopped being used from this commit [Upgrade kubernetes-1.12.6 -> kubernetes-1.12.9 (#508)](https://github.com/knative/pkg/pull/508/files).

[2021-02-15 16:38] markusthoemmes opened #2021 "Rethink "ObserveFinalizeKind""
See https://github.com/knative-sandbox/net-kourier/issues/448 on why the current behavior is probably buggy and should not be encouraged.

We should however come up with a way to safely observe deletion events, even in scaled out controllers. Copying a thought of mine from the original issue:

/cc @mattmoor

[2021-02-15 16:55] #2019 closed

[2021-02-17 07:26] mgencur opened #2026 "Race condition when executing continual tests with upgrade framework"
## Expected Behavior

Tests executed via the upgrade framework in https://github.com/knative/pkg/tree/master/test/upgrade properly run the "continual" tests which run in background during an upgrade.

## Actual Behavior

The test framework occasionally detects a race condition when tests are executed with `-race` flag. The example error can be seen here: https://prow.ci.openshift.org/view/gs/origi

[2021-02-17 16:42] skonto commented on #855
I have done an evaluation on this topic [here](https://docs.google.com/document/d/1_2RRAed7wHzU1NvPpR47AIRFu9TFZ_sp49Ge1h3v7lo/edit?usp=sharing) are the takeaways. From my POV otel is not ready yet, I would wait for GA. There is also a [spike](https://github.com/knative/eventing/issues/4769) for this in wip status.
We discussed this on a community meeting as well.

[2021-02-17 16:48] bobcatfish commented on #1960
@mattmoor sounds like it makes sense to resolve this in knative/pkg 👍

I'd be happy to make PR but I need a bit more detail about what you're envisioning (sounds like we'd be creating an interface where the callbacks can signal, maybe via a channel, that they're ready?) - lemme know if it makes more sense to schedule some time to discuss or if it makes sense for me to bring up in a knative WG

[2021-02-17 16:57] mattmoor commented on #1960
IDK that we need to change the interface, since we are responsible for calling each callback.  I was just thinking about some internal bookkeeping to check that all of the callbacks had been called...? 🤷

I'm happy to chat, or we can throw it on an API WG agenda.

[2021-02-18 11:20] skonto commented on #807
@vagababov this is still an issue I verified by slightly modifying the code in the description and extending stats_reporter_test:

[code]
`.GetMetricsMux()` just provides access to the lock. This test never finishes.

[2021-02-18 16:46] vagababov commented on #807
Well we should fix it :)

[2021-02-19 02:35] dprotaso commented on #1563
/reopen
/lifecycle frozen

[2021-02-19 09:03] skonto commented on #807
I will take a look.

[2021-02-19 12:10] mgencur commented on #2026
More details about the root cause from verbose logs:
[code]

[2021-02-19 12:34] skonto commented on #807
I think I can fix this by adding a channel with several commands without changing any semantics. Will create a PR shortly.

[2021-02-23 21:39] bobcatfish commented on #1960
@mattmoor I was gonna join a working group but I think I figured out what you meant - lemme know if https://github.com/knative/pkg/pull/2036 is the kind of thing you had in mind :D ❤️

[2021-02-25 00:35] #807 closed

[2021-02-25 22:10] #1683 closed

[2021-03-01 10:55] #2026 closed

[2021-03-02 19:58] #1960 closed

[2021-03-04 02:02] vincent-pli opened #2043 "Use "NewImplFull" in injection-gen"
## Expected Behavior
I jump from a `tekton` issue: https://github.com/tektoncd/pipeline/issues/3804

I guess we should use `NewImplFull` in injection generation:
seems the `NewImpl` and `NewImplWithStats` is already deprecated.

with this change we can use custom `Rate Limiter` if the `DefaultControllerRateLimiter` can not satisfy us.

## Actual Behavior

## Steps to Reproduce the Problem

1.
2.
3

[2021-03-04 15:46] mattmoor opened #2044 "Webhooks should get OwnerRef to namespace"
/area API
/kind cleanup
/kind good-first-issue

## Expected Behavior

It's a common misconception that folks can delete our system namespace (e.g. `knative-serving`) to "clean up" their cluster for a fresh installation.

## Actual Behavior

Unfortunately, we install a lot of things that aren't deleted by deleting our system namespace, and some of those things block reinstallation.  In particular t

[2021-03-04 20:19] rusde commented on #1927
/close

[2021-03-04 20:19] #1927 closed

[2021-03-05 00:00] vincent-pli commented on #2043
@lionelvillard

[2021-03-08 06:36] zhaojizhuang opened #2048 "How does TableTest framework trigger a delete handler function ?"
/kind question

How does `TableTest framework` trigger a `delete handler function` such as follows:

https://github.com/knative-sandbox/eventing-kafka/blob/main/pkg/source/mtadapter/controller.go#L67

## Expected Behavior

 `TableTest framework` suport trigger a delete handler funtion

## Actual Behavior

I can't find out how to trigger a `delete funtion` using  `TableTest framework`

[2021-03-08 07:11] vagababov commented on #2048
You reconcile a non-existent `key` object.

[2021-03-08 07:11] vagababov commented on #2048
Check any of the other delete tests for any of the reconcilers (service and confighave one I think).

[2021-03-08 08:14] zhaojizhuang commented on #2048
ok,thanks @vagababov let me have a try

[2021-03-10 16:10] skonto commented on #2008
Hi @eddie4941 if not mistaken other frameworks follow [this](https://github.com/kubernetes-sigs/controller-runtime/blob/4a8536eab22599e3af3c2cce2104e730b9c4ea65/pkg/webhook/admission/webhook.go#L142) during validation of any resource.

[2021-03-10 16:29] skonto commented on #2011
@quentin-cha what is left to be done here? I see that the fix flushes the interval reader so we need to bring the dep in, other than that what is pending the flushing part?  @evankanderson Any reason we dont flush the exporter after we replace it [here](https://github.com/knative/pkg/blob/cc278e1666caaf7c256ac823bee796e366b9ded5/metrics/exporter.go#L198)?
Currently we only flush exporters when the

[2021-03-10 21:15] quentin-cha commented on #2011
Apologies for not being able to work on this. Besides pulling in the dep, we need to actually invoke `StopMetricsExporter()` before we invoke `FlushExporter()`. The complication is that export to stackdriver is rate limited to once very ~10s so in order to guarantee not losing any metrics, there should be a 10s sleep between `StopMetricsExporter()` and `FlushExporter()`

[2021-03-12 09:43] skonto commented on #2011
It affects opencensus. Should we open an issue for the retirement thing, @MontyCarter gentle ping.

[2021-03-12 17:43] vagababov commented on #1708
/unassign

[2021-03-12 17:43] vagababov commented on #1679
/unassign

[2021-03-13 03:03] dprotaso commented on #1979
### General observations/context I have:

1) Kubernetes lets you have [_multiple_ webhook entries](https://kubernetes.io/docs/reference/kubernetes-api/extend-resources/validating-webhook-configuration-v1/) in the validating/mutating resource
   1) Our webhook tooling only supports a single webhook entry per resource
   1) There's not explanation why i) is the way it is since it's been like this fo

[2021-03-18 09:40] skonto commented on #996
I can do it if no one else is interested.

[2021-03-22 11:04] skonto commented on #996
/assign

[2021-03-23 08:38] zhaojizhuang opened #2063 "Reconciler should support relist to sync resource after an interval"
/kind feature
## Expected Behavior

Reconciler should support relist to sync resource after an interval, not just `listwatch`,
such as: allow controller developer customize resync interval

[2021-03-23 08:58] zhaojizhuang commented on #2063
yeah, I found it ,https://github.com/knative/pkg/blob/main/controller/controller.go#L52

[2021-03-23 08:58] #2063 closed

[2021-03-23 09:07] zhaojizhuang commented on #2063
add eventWithResyncPeriod will specific resycnPeriod`	functionInformer.Informer().AddEventHandlerWithResyncPeriod(controller.HandleAll(impl.Enqueue),10*time.Minute)
`

[2021-03-24 10:30] zhaojizhuang opened #2067 "we should support k8s ingressinformer's injection"
/kind feature

## Expected Behavior
we should support k8s ingressinformer's injection

like #423

[2021-03-24 10:48] markusthoemmes commented on #2067
Can you elaborate on what you're after here? I don't quite understand tbh.

[2021-03-24 10:57] zhaojizhuang commented on #2067
@markusthoemmes yeah, I am working on my own controller (like `sample-controller`), where I will use ingresslister, but I can't find the ingress informer.

[2021-03-24 11:10] markusthoemmes commented on #2067
If Knative itself doesn't need that informer anywhere, we shouldn't generate it in a Knative repository. You can however generate it yourself in your own repository.

[2021-03-29 08:51] zhaojizhuang opened #2073 "Should controller framework allow users to set number of threads when processing the controller's workqueue"
/kind feature
/kind question

## Expected Behavior
Should controller framework allow users to set number of threads when processing the controller's workqueue

## Actual Behavior
we set   `DefaultThreadsPerController=2` hardcode, https://github.com/knative/pkg/blob/main/controller/controller.go#L727

[2021-03-29 08:56] markusthoemmes commented on #2073
Duplicate of https://github.com/knative/pkg/issues/1708

[2021-03-29 08:56] #2073 closed

[2021-03-29 09:18] zhaojizhuang commented on #1708
Is there any progress on this issue?

[2021-03-29 13:44] kallyshall commented on #1708
no progress I think, since no current assignee

[2021-03-30 18:02] dprotaso commented on #1563
FYI - this has evolved into: https://github.com/knative-sandbox/reconciler-test

Please check out the README and offer feedback there

[2021-03-31 16:17] dprotaso commented on #1509
Interestingly _one way_ to reproduce this consistently is to panic in the webhook when handling a request (ie. the defaulting logic)

golang's http server recovers these panics and logs an error.

We should potentially recover ourselves so we can return an 'internal server' type error

[2021-04-06 09:03] vincent-pli opened #2083 "Injected "reconcile" can not compile when no "status" in resource"
## Expected Behavior
Everything works
## Actual Behavior
`pkg/client/injection/reconciler/${resource}/v1alpha1/${resource}/reconciler.go`
can not compile!
## Steps to Reproduce the Problem
My resource has no sub resource `status`, so based on the logic no `skipStatusUpdates` in `reconcilerImpl`, see the code:
https://github.com/knative/pkg/blob/5ac4a75f34884a2adc4a77ce1a6cb05cc29d897c/codegen/cmd/

[2021-04-06 09:22] vincent-pli commented on #2083
@markusthoemmes
I use https://github.com/knative-sandbox/sample-controller as template,
seems the `knative/pkg` version is:  knative.dev/pkg v0.0.0-20210331065221-952fdd90dbb0

So, you mean the issue has gone in latest version?

[2021-04-06 09:24] markusthoemmes commented on #2083
Hmm, that should easily be new enough. Can you share your code by any chance?

[2021-04-06 09:40] vincent-pli commented on #2083
@markusthoemmes
sure, take a look this: https://github.com/vincent-pli/cel-tekton/tree/with-issue

[2021-04-06 09:56] markusthoemmes commented on #2083
Oh I see! We're indeed lacking a few more checks as you've pointed out. Sorry I misread your comments above. I guess we didn't catch that because Secrets are not KRShaped. Duh.

However, one might argue that your resource isn't KRShaped anyway (because it doesn't have a status), so you should be disabling that in the generator via the respective flag anyway.

The respective diff is

[code]

(the s

[2021-04-06 19:55] alan-ghelardi opened #2084 "Patterns for dealing with concurrency in Knative controllers"
I'm writing a Knative controller that creates, updates and deletes certain Github resources (e.g. hooks, keys, etc.) when a custom resource definition changes. I've been noticing race conditions that arise when two concurrent reconciliation operations are fired what leads to certain resources to get duplicated (e.g. two hooks are created). Currently, after creating a Github hook I'm saving its ide

[2021-04-07 00:24] vincent-pli commented on #2083
Thanks @markusthoemmes
Do we have some document, I mean some guide for adopting `knative/pkg` to avoid have to dig into code for trouble shooting?

[2021-04-08 11:48] markusthoemmes commented on #2021
/assign

Taking a whack!

[2021-04-10 12:42] poy opened #2093 "dynamic informer"
/area API
/kind feature

## Expected Behavior
Would it be possible to add an injector for the dynamic informer?

## Actual Behavior
There is one for the dynamic client, but not the informer.

## Steps to Reproduce the Problem

1.
2.
3.

## Additional Info

[2021-04-12 00:49] yuzisun opened #2094 "Add openapi-gen annotation for Knative types"
Can we add back the `openapi-gen` annotation to the knative types? KFServing depends on this annotation to generate the swagger.json and SDK types as KFServing uses [knative types](https://github.com/kubeflow/kfserving/blob/master/pkg/apis/serving/v1beta1/inference_service_status.go#L34) in the status object. it was originally added in https://github.com/knative/pkg/pull/510 but got removed in htt

[2021-04-12 06:41] markusthoemmes commented on #2093
I might be wrong, but isn't that what the `SharedInformerFactory` is for? It has a `ForResource` function that returns a `GenericInformer` for the passed type. The `SharedInformerFactory` is available for injection at `knative.dev/pkg/client/injection/kube/informers/factory`. Make sure to start the informers generated by `ForResource` accordingly.

[2021-04-12 13:41] poy commented on #2093
So I did try that, but I thought I had taken a wrong turn as I got the following error:

[code]

Also, I assumed (perhaps wrongly) that `sharedmain.MainWithContext()` would start it. Is that true?

[2021-04-12 13:45] markusthoemmes commented on #2093
Probably not because you're receiving a new Informer "out of bounds" that sharedmain doesn't even know about.

[2021-04-16 01:27] #1734 closed

[2021-04-16 16:13] #996 closed

[2021-04-16 16:35] NovaHe commented on #2044
/assign

[2021-04-17 01:27] #1968 closed

[2021-04-19 15:38] #2021 closed

[2021-04-20 20:48] wlynch opened #2099 "API protobuf generation"
## Expected Behavior

I'd like to be able to embed knative/pkg types as protobufs. This is common with kubernetes types recently using [go-to-protobuf](https://github.com/kubernetes/code-generator/tree/master/cmd/go-to-protobuf), autogenerating the proto from the base Go type. (example - [core/v1](https://github.com/kubernetes/api/blob/master/core/v1/generated.proto)).

## Actual Behavior

No prot

[2021-04-27 19:31] jmcshane opened #2107 "Getting started document for building a knative controller"
/area test-and-release

/kind doc

## Expected Behavior

I would like there to be a doc (similar to [kubebuilder getting-started](https://book.kubebuilder.io/quick-start.html)) that describes how to write a Knative style controller. I've found this library to be an excellent way to get started writing more complex Kubernetes controllers and webhooks with a lot of great features built in.

I would

[2021-04-29 13:52] markusthoemmes opened #2109 "Class-based reconcilers can't be hosted in one binary with HA"
/kind bug

## Expected Behavior

I can host as many class-based controllers (for example: Ingress reconcilers) as I want in a binary, as long as the classes don't clash.

## Actual Behavior

They try to get the same lease and thus only one really works. This is quite similar to #1979.

## Steps to Reproduce the Problem

1. Create a binary that launches two Ingress reconcilers
2. Launch it and see

[2021-04-29 14:54] scothis opened #2110 "EnsureLabelSelectorExpressions breaks non-Knative binding webhooks"
## Expected Behavior

Knative-style bindings should work for non-knative bindings.

## Actual Behavior

I have a non-Knative, Knative-style binding that uses knative.dev/pkg/webhook/psbinding. Since https://github.com/knative/pkg/pull/1949, the mutating webhook config managed by the controller to apply the binding to is stuck in a tight update loop. The expressions in the namespace and object sele

[2021-05-01 01:09] nak3 opened #2111 "Bump k8s libs to 1.20 or 1.21"
/area API
/area test-and-release
/kind feature

This is similar request to https://github.com/knative/pkg/issues/1881, but for v1.20 or v1.21.

For example, gateway-api repo stated using client-go v0.21.0 so we hit a confliction issue as pkg still uses client-go 0.19.

/cc @dprotaso @knative/technical-oversight-committee

[2021-05-01 03:04] dprotaso commented on #2111
Something with GKE 1.19 made serving's e2e tests more flakey - so we haven't bump it yet. We've pinned serving to use 1.18 for now while we poke at what's going on

See: https://github.com/knative/serving/issues/11225

[2021-05-03 17:43] dprotaso commented on #1972
/remove-lifecycle stale

[2021-05-05 07:30] slinkydeveloper commented on #1891
/remove-lifecycle stale

[2021-05-06 13:58] slinkydeveloper opened #2113 "Fake informers injection breaks when code coverage with coverpkg is enabled"
## Expected Behavior

When executing tests that usually works with `-coverpkg=./...` enabled, tests injecting fake informers fail.

## Actual Behavior

Running with or without `-coverpkg=./...` shouldn't alter our test results.

## Steps to Reproduce the Problem

1. Take whatever knative repo with some generated informers in it (e.g. knative.dev/eventing-kafka-broker)
2. Run `go test ./... -coverm

[2021-05-06 14:58] slinkydeveloper commented on #2113
I'm working around this issue in https://github.com/knative-sandbox/eventing-kafka-broker/pull/879 by removing from the coverage count the `pkg/client/...` packages:

[code]

[2021-05-07 19:00] dprotaso opened #2115 "[webhook] allow webhooks to opt out of validating status updates"
ie. serving doesn't have validation logic for the `status` block since we expect only our controllers update it. But our webhooks are invoked for status updates

https://github.com/knative/pkg/blob/132b1e71088b721a05f447b18e4459ffe8828169/webhook/resourcesemantics/defaulting/defaulting.go#L148-L152

[2021-05-08 03:08] jmcshane commented on #2107
I see that I have missed https://github.com/knative-sandbox/sample-controller

Closing

[2021-05-08 03:08] #2107 closed

[2021-05-10 06:10] cdlliuy opened #2116 "Multiple label selectors support is not be honest when creating informer factory"
Per discussion in https://github.com/knative/serving/pull/11142#pullrequestreview-638700574, the label selectors  on informer factory need further improvement to avoid confusions when multiple selectors  are passed through.

https://github.com/knative/pkg/blob/b558677ab03404ed118ba3e179a7438fe2d8509a/vendor/k8s.io/client-go/informers/factory.go#L80-L85,

[2021-05-10 06:10] cdlliuy commented on #2116
I would like to assign myself to fix this.

[2021-05-10 06:50] cdlliuy commented on #2116
hold on,  more discusson with Julz is on-going in https://github.com/knative/serving/pull/11142#discussion_r629087910.  I will close this if it is not valid.

[2021-05-12 09:59] cdlliuy commented on #2116
per discussion in https://github.com/knative/serving/pull/11142#discussion_r629277061,  the fix is still required to change the multiple label selector parameter to support a single selector only

[2021-05-12 10:01] julz commented on #2116
fwiw Im fine with leaving it as multiple selectors, as long as we fix the bug so they don't potentially clobber each other

[2021-05-13 22:10] n3wscott commented on #2113
It seems the simple fix is to not use `-coverpkg` at all:

[code]

I am not able to get the tests to pass in eventing with `-coverpkg=$(go list ./... | grep -v /vendor | grep -v /test | grep -v /pkg/client | tr '\n' ',' )`

[2021-05-14 13:09] vaikas commented on #2113
FYI, I manually ran the actions sync and at least now the actions seem to be working in eventing-kafka:
https://github.com/knative-sandbox/eventing-kafka/pull/620

[2021-05-17 08:03] slinkydeveloper commented on #2113
It's not really a fix, since it doesn't compute the coverage properly :smile:

Can you share the log? I tried with eventing-kafka-broker and it's passing, didn't tried yet with eventing

[2021-05-17 16:55] benmoss commented on #2113
I did some exploring around this, this repo demonstrates the problem I think @n3wscott was seeing https://github.com/benmoss/go-coverpkg-inits

[2021-05-19 12:34] slinkydeveloper commented on #2113
Running:

[code]

In knative.dev/eventing prints:

[code]

The build it's failing but it doesn't print the reason :thinking:. The opencensus failure is a runtime failure...

[2021-05-19 13:44] dprotaso opened #2128 "Investigate server-side apply to allow cooperating controllers"
Refs:
https://kubernetes.io/docs/reference/using-api/server-side-apply/
https://github.com/knative-sandbox/net-contour/issues/347#issuecomment-838613107

This would allow customization of the resources we create

/assign @dprotaso

[2021-05-19 17:07] dprotaso commented on #1509
As part of https://github.com/knative/serving/issues/11225 I encountered EOF's/context deadline exceeded. After adding some tracing I've seen our web hooks respond <10ms but then the API server still returns a timeout.

So I don't think this is isolated to just our web hooks.

[2021-05-24 01:30] #1152 closed

[2021-05-24 01:30] #409 closed

[2021-05-24 01:31] #81 closed

[2021-05-25 08:57] markusthoemmes commented on #1972
Imma going to take a whack at this one.

/assign

[2021-05-25 14:40] evankanderson commented on #855
/unassign

[2021-05-25 14:40] evankanderson commented on #855
/unassign @jjzeng-seattle

[2021-05-26 10:03] #2116 closed

[2021-05-27 05:52] nak3 commented on #2111
@dprotaso Is it ready for update?

[2021-05-31 15:40] dprotaso commented on #2111
Yup - I just need to create a 1.20 branch here: https://github.com/vdemeester/k8s-pkg-credentialprovider so serving will update cleanly

[2021-06-01 01:55] dprotaso commented on #2111
/assign @dprotaso

[2021-06-03 21:56] dprotaso opened #2143 "Use debug.BuildInfo vs. our custom changeset package"
Since we've adopted go modules everywhere we should maybe consider dropping the use of https://github.com/knative/pkg/tree/main/changeset and our need to symlink .git artifacts into our containers and instead use https://beta.pkg.go.dev/runtime/debug#ReadBuildInfo

[2021-06-05 13:59] 2020testuser opened #2146 "configmap.NewInformedWatcher"
Hi,
Could anyone please help me?
I'm still in learning phase and so any help would be greatly appreciated.

I had  configmap.NewInformedWatcher() in the code and it worked fine. I'm now using the pkg  knative.dev/pkg v0.0.0-20210602095030-0e61d6763dd6 and getting an error that  configmap.NewInformedWatcher() is unavailable.
I don't see it in the configmap package. Could anyone please let me know w

[2021-06-07 06:03] markusthoemmes commented on #2146
`NewInformedWatcher` is still available in the `configmap/informer` package, see https://github.com/knative/pkg/blob/0e61d6763dd6fffc729034423f2e2b2a02ce86ce/configmap/informer/informed_watcher.go#L49-L61

[2021-06-07 10:25] zhaojizhuang commented on #2048
/close

[2021-06-07 10:25] #2048 closed

[2021-06-07 16:36] 2020testuser commented on #2146
Thanks! Was able to figure out. Ended up clearing the cache and retired. Got the packages.

[2021-06-07 16:36] #2146 closed

[2021-06-10 13:56] #2111 closed

[2021-06-11 01:49] dprotaso commented on #2044
Note the solution in #2098 doesn't clean up everything but does unblock re-install 🎉

[2021-06-11 02:26] #2044 closed

[2021-06-11 15:43] MontyCarter commented on #2011
Sorry.  Not sure how I missed this.  Anyway, the stackdriver exporter can be removed.

[2021-06-12 01:20] dprotaso commented on #1159
/reopen
/lifecycle frozen

[2021-06-12 01:23] dprotaso commented on #1038
/lifecycle frozen
/reopen

[2021-06-13 01:26] #1903 closed

[2021-06-16 15:01] zhaojizhuang commented on #2067
/close

[2021-06-16 15:01] #2067 closed

[2021-06-16 19:13] dprotaso opened #2158 "Drop our fake dynamic client work around"
I pushed our fake dynamic client workarounds upstream: https://github.com/kubernetes/kubernetes/pull/102928

If/when it merges if we can cherry pick the changes back to earlier releases then we can drop our work around

[2021-06-22 14:32] #1478 closed

[2021-06-22 17:29] dprotaso opened #2164 "flakey test logstream test/logstream/v2: TestNamespaceStream"
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/2163/pull-knative-pkg-unit-tests/1407388525191499776

[2021-06-25 19:41] #1708 closed

[2021-06-28 22:19] dprotaso opened #2173 "Remove stack driver exporter"
/area API
/area monitoring
/kind cleanup

@MontyCarter [gave the clear that the stack driver exporter can be removed](https://knative.slack.com/archives/CEPGNPHP1/p1624482429085800?thread_ts=1624296049.079200&cid=CEPGNPHP1)

[2021-06-28 22:31] dprotaso opened #2174 "Metric names between OpenCensus & Prometheus exporters are different"
/area monitoring
/kind cleanup

We currently prepend a 'domain' and the 'component' name to the metrics. This done for our OpenCensus exporter which might have been cargo cult'd from our stack driver exporter implementation. The prometheus exporter _only_ prefixes the 'component' name to the metric.

https://github.com/knative/pkg/blob/cf1994e9cc24db63cbc8a21e1a84152b732ad3f0/metrics/opencensus_ex

[2021-06-28 22:32] dprotaso commented on #2174
From @pianohacker re: prepending a domain prefix for prometheus  https://knative.slack.com/archives/CEPGNPHP1/p1624558123099100

The source (as opposed to the kind) of a Prometheus-exposed metric is intended to be distinguished by its labels (in this case, namespace).

[2021-06-28 22:42] dprotaso commented on #2174
cc @evankanderson who reviewed the OpenCensus exporter changes

[2021-06-29 10:03] skonto commented on #2174
Regarding Prometheus this is what I read:
[code]
I am not sure what value the domain adds here we already use the component name as the prefix and we know the domain for each component, it is straightforward. However, there is also a need to be able to add custom labels eg. tag metrics with special labels to avoid joining metrics info based on kube-state-metrics or other sources. I am facing this

[2021-06-29 17:26] dprotaso commented on #2174
@skonto @evankanderson during the operation wg meeting mentioned you wrote a doc about stable metric names and a potential deprecation policy. Do you have a link to that?

Whatever we decide with this change we'll want to roll it out gradually with a flag.

[2021-06-29 17:39] evankanderson commented on #2174
The domain name is used today by at least Stackdriver, though they could set up a mapping to enrich the content:

https://cloud.google.com/monitoring/api/metrics_knative

While Prometheus tends to prefer short, non-namespaced metric names, some other products like Stackdriver and Wavefront tend to prefer somewhat more nested names (deeply for stackdriver, medium for Wavefront). Based on the princi

[2021-06-30 04:30] MontyCarter commented on #2174
Yes, Stackdriver is using the domain, and the domain is different based on the component.  However, the metric domains are pretty static, so it would be manageable keep a map in an otel collector config and prepend the domain to the metric name based on the sender.

With that said, I think it would be much nicer to pass the domain as a label rather than simply removing the domain from the metric.

[2021-07-04 01:24] #2043 closed

[2021-07-06 01:43] dprotaso commented on #2173
Sent an email to the various mailing lists
knative-users - https://groups.google.com/g/knative-users/c/YEH0Y8QAaJ0
Knative-dev - https://groups.google.com/g/knative-dev/c/OAq4EJ4LEAU

[2021-07-06 05:51] markusthoemmes commented on #2084
/remove-lifecycle stale

Sorry for not answering this earlier @alan-ghelardi!

Knative's reconciler framework provides no additional tooling over concurrency control vs. reconcilers built with, for example, kubebuilder. The invariant that's kept is that a given "main" resource (the main driver of the reconcilation process) is only reconciled once at a time. The same CR should never be reconciler t

[2021-07-06 05:57] markusthoemmes commented on #2083
Not sure we have that right now to be honest. Did the above fix your problem @vincent-pli ?

[2021-07-06 06:45] vincent-pli commented on #2083
Yes, thanks @markusthoemmes

[2021-07-06 06:45] #2083 closed

[2021-07-06 19:03] evankanderson commented on #2174
Summary of discussion from 6 July:

* We're going to write up a plan in `metrics/README.md` for the desired future state
* Metric renames will happen probably behind a ConfigMap flag, and we'll announce them ahead-of-time to `knative-users` so people can pre-set the ConfigMap value.
* We're going to extract the `component` and `domain` parts into separate labels for OTel support behind the flag, s

[2021-07-06 19:04] dprotaso commented on #2174
Direct link to the meeting notes: From the Operations WG Meeting ([2021/07/06](https://docs.google.com/document/d/1m9oFlelI292Fzwi_sRUTrf69I-CcCwEVXkGcMAjDYqM/edit#heading=h.19s4yxr4auqd))

[2021-07-06 19:07] dprotaso commented on #2174
Probably would be part of  https://github.com/knative/pkg/issues/855

[2021-07-07 21:29] dprotaso commented on #2173
/assign @dprotaso

[2021-07-09 17:23] dprotaso commented on #2158
I got the 👍 to cherry pick to earlier branches

https://github.com/kubernetes/kubernetes/pull/103614
https://github.com/kubernetes/kubernetes/pull/103615

Thus we could pick up these changes with `1.20.9` next week 🎉
https://github.com/kubernetes/website/blob/main/content/en/releases/patch-releases.md

[2021-07-10 03:48] dprotaso commented on #2008
/reopen
/lifecycle frozen

In @skonto's example it looks like it prints the error when it fails to marshal the response.

I think failing validation shouldn't be an error because it's expected with bad input vs. something unexpected that prevents us from responding to the request.

[2021-07-10 12:59] poy opened #2184 "apis.WithinSubResourceUpdate is always clobbered"
/kind bug

## Expected Behavior
Webhooks skip validation during a status update.

## Actual Behavior
Webhooks still go through validation assertions during status update.

## Additional Info
While looking at https://github.com/knative/pkg/blob/4a3e56dc13b2d420e50287b254c8e6a544b3525c/webhook/resourcesemantics/validation/validation_admit.go#L140-L152

I notice that the subresource is added to the c

[2021-07-10 15:07] alan-ghelardi commented on #2084
Thank you for the answer @markusthoemmes. I solved the issue by postponing update events for a few seconds (i.e. through the EnqueueAfter function) to reduce the risk of reconciling an object whose status isn't up to date yet. I'm not certainty that it's the safest solution, but it has been working so far.

[2021-07-10 15:07] #2084 closed

[2021-07-12 01:24] #1979 closed

[2021-07-12 01:24] #1679 closed

[2021-07-12 10:51] skonto commented on #2173
Ok so that means we now will have opencensus and prometheus direct support only right?

[2021-07-12 12:28] julz commented on #2008
/triage accepted
/good-first-issue

[2021-07-12 13:09] dprotaso commented on #2173
@skonto yes

[2021-07-12 14:23] dprotaso commented on #2173
There hasn't been any objections so I'm going 'unhold' the PR

[2021-07-12 15:59] dprotaso opened #2187 "Should our default log output be specific to stackdriver?"
@dprotaso I still see some references to the `stackdriver` name like here: https://github.com/knative/pkg/blob/952ee7db67049390a6a1067657370b711400d433/logging/config.go#L58
Shouldn't we remove it from the whole codebase? There are more from a quick search, detected via the IDE.

_Originally posted by @skonto in https://github.com/knative/pkg/issues/2183#issuecomment-878343583_

[2021-07-12 16:45] dprotaso commented on #2158
/edit maybe not as they weren't merged in time for the release cut

[2021-07-12 18:33] evankanderson commented on #2187
For logging, we're using https://github.com/blendle/zapdriver for configuration of `zap`, I think.

This has the following implications:

* There are a [couple logging levels that get enriched](https://github.com/blendle/zapdriver#pre-configured-stackdriver-optimized-encoder), and renames the `timestamp` field from `ts`, also `severity` and `message`.
* Special logging for [TraceContext](https://g

[2021-07-12 18:33] evankanderson commented on #2187
(Which is different than adding Stackdriver gRPCs clients to every binary)

[2021-07-12 18:45] dprotaso commented on #955
Note: this was added here: https://github.com/knative/pkg/pull/978

[code]

[2021-07-12 20:10] dprotaso commented on #608
/reopen
/assign @dprotaso

[2021-07-12 20:47] dprotaso commented on #608
related: https://github.com/knative/serving/pull/11659

[2021-07-12 21:22] dprotaso commented on #608
related: https://github.com/knative/eventing/pull/5586

[2021-07-14 18:45] #2173 closed

[2021-07-14 19:00] dprotaso commented on #2174
/assign @dprotaso

[2021-07-14 20:03] dprotaso commented on #1672
/reopen

`TestMetricsExport/OpenCensus`

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/2189/pull-knative-pkg-unit-tests/1415384970213462016

[2021-07-15 11:58] salaboy opened #2190 "e2e tests cannot be run inCluster (for no clear reason)"
/area test-and-release

/kind bug
/kind cleanup

-->

## Expected Behavior

e2e tests should be run in cluster as well as outside a cluster

## Actual Behavior
e2e tests default the KUBECONFIG which makes it impossible to run in cluster.

## Steps to Reproduce the Problem

Unset the KUBECONFIG before running the cluster, and you will see that the tests still look for `.kube/config` blocking the In

[2021-07-15 13:35] #2190 closed

[2021-07-15 17:15] #608 closed

[2021-07-22 14:08] dprotaso commented on #2184
related: https://github.com/knative/pkg/issues/2115

[2021-07-27 06:21] fhuzero opened #2200 "leaderelection/chaosduck build error"
/kind question

I tried to build `knative.dev/pkg/leaderelection/chaosduck` and got compilation errors shown below. I guess this might be related to version incompatibility between "knative/pkg" and "k8s.io/client-go/tools/metrics". It would be great if someone could help me out!

## Expected Behavior
Successful build, no compilation errors.

## Actual Behavior
[code]

[2021-07-27 06:35] markusthoemmes commented on #2200
How are you trying to build it? Is this via the pkg repo directly?

[2021-07-27 07:26] fhuzero commented on #2200
I build it using [ko](https://github.com/google/ko) command `ko apply -f test/config`. The building process starts [here](https://github.com/knative-sandbox/net-kourier/blob/main/test/config/chaosduck.yaml#L84) in "test/config/chaosduck.yaml".

[2021-07-27 07:39] markusthoemmes commented on #2200
Are you using an outdated golang version and/or are you telling it not to use the vendor directory? You could share the output of `go env`.

Meanwhile, you could try `GOFLAGS="-mod=vendor" ko apply -f test/config` to see if that fixes it.

[2021-07-27 07:54] fhuzero commented on #2200
The golang version is 1.15.14 and it does not use the vendor directory. The command was executed on a virtual machine and I terminated it so I cannot get `go env` right now. I'll try to add `GOFLAGS="-mod=vendor"` to see if it fixes the problem. Thanks for your suggestion and I'll let you know after I try it out.

[2021-07-29 06:39] markusthoemmes commented on #2109
/lifecycle frozen

[2021-07-29 14:35] fhuzero commented on #2200
@markusthoemmes I find that when I downgraded dependency of`k8s.io/api`, `k8s.io/apimachinery`, etc. from `v0.21.x`to `v0.20.x`, `knative.dev/pkg/leaderelection/chaosduck` can be successfully built. I also notice that current go.mod file in knative/pkg repo depends on `v0.20.7`. Could it be the reason for my compilation error? If so, what's the timeline for adding support for `k8s.io/xxx v21.x`?

[2021-08-01 07:48] fhuzero commented on #2200
I think that the reason for leaderelection/chaosduck build error is change of function signature between package "k8s.io/client-go" [`v0.20.x`](https://github.com/kubernetes/client-go/blob/release-1.20/tools/metrics/metrics.go#L42) and [`v0.21.x`](https://github.com/kubernetes/client-go/blob/release-1.21/tools/metrics/metrics.go#L42) in file "k8s.io/client-go/tools/metrics/metrics.go".

Would it b

[2021-08-02 16:18] matzew commented on #1641
/reopen

[2021-08-11 01:23] #2094 closed

[2021-08-12 01:24] #2093 closed

[2021-08-20 01:22] #2099 closed

[2021-08-21 23:26] fhuzero opened #2225 "How to use injection-gen to generate code"
/kind question

I am trying to to generate _pkg/client/injection/kube/client/client.go_ using _pkg/codegen/cmd/injection-gen/main.go_ since in  _client.go_ it says `// Code generated by injection-gen. DO NOT EDIT.` But I got error "versioned clientset package cannot be empty " when building _main.go_. I would be appreciated if anyone could help me !

[2021-08-22 01:43] fhuzero commented on #2200
I'm trying to upgrade the dependency of "k8s.io" related packages from v0.20.x to v0.21.x. I noticed that some version such as "v2alpha1" and "v1alpha1" are no longer supported in v0.21.x. So I removed "v1alpha1" in _hack/update-codegen.sh_ and re-generated the injection code. But the following error from _client/injection/kube/client/client.go_ still exists. The error is cause by a new method int

[2021-08-22 03:59] fhuzero commented on #2200
Follow up for my last comment, my guess is that I used a wrong version of `client-go` to generate the code. So I printed the arguments of `go run knative.dev/pkg/codegen/cmd/injection-gen` in _pkg/hack/generate-knative.sh_ in case if helps.
[code]

[2021-08-22 04:05] Yiyiyimu commented on #2225
ref: https://github.com/knative/pkg/issues/2200#issuecomment-903209657

[2021-08-24 01:09] jwcesign opened #2229 "When using config `registriesSkippingTagResolving`, it has problem with space, I think it can be fixed."
when I edit configmap of config-deployment with `kubectl edit configmap config-deployment -nknative-serving`, the content with space, as follows:
[code]
for the img with `gcr.io`, it doesn't work, because there is a space with `gcr.io`

so maybe this can be fixed as follows, to delete the space of head and tail.
[code]

[2021-08-24 01:16] jwcesign commented on #2229
/kind bug
/area config-parse

[2021-08-24 01:23] jwcesign commented on #2229
BTW, I think it hasn't got side effects for other config parse, because it just delete the space of head and tail.

[2021-08-24 01:49] jwcesign commented on #2229
/assign julz

[2021-08-24 07:09] julz commented on #2229
Hi @jwcesign - seems reasonable to me, did you want to create a PR for this or is this supposed to be a `/good-first-issue` for someone else to PR?

[2021-08-24 07:36] jwcesign commented on #2229
@julz Very pleasure to create a PR for me.

[2021-08-24 07:59] markusthoemmes commented on #2229
SGTM, please fire away!

[2021-08-24 15:47] #2229 closed

[2021-08-24 17:12] priyawadhwa opened #2232 "Upgrade `k8s.io/api` dependency for compatibility with Tekton Chains/sigstore"
We vendor in knative in Tekton Chains, and have pinned the `k8.io/api` dependency to [v0.20.7](https://github.com/tektoncd/chains/blob/main/go.mod) for compatibility with knative.

I'm running into issues integrating Chains with cosign because cosign requires the same dependency @  v0.22.x

I was wondering if it would be possible to upgrade this dependency in knative so that everything works -- th

[2021-08-24 17:16] mattmoor commented on #2232
@dprotaso When are we due to bump to v0.21?

As for why we lag, it generally has to do with the window of supported versions for a given client-go, so we generally lag 1-2 versions.  I'm sort of surprised cosign would need to track HEAD so closely (or why it vendors K8s at all 🤔 ).  Happy to help game out options here.

[2021-08-24 17:43] priyawadhwa commented on #2232
I think cosign has a feature where it'll read your k8s manifests and try to verify the images in them have been signed! It probably doesn't require tracking HEAD though, we could consider downgrading the version in cosign instead. @dlorenc wdyt?

[2021-08-24 17:49] mattmoor commented on #2232
It might make sense to make some of that stuff use Knative's pod-speccable stuff anyways, so it might be worth making it consistent regardless 🤔

[2021-08-25 00:48] dprotaso commented on #2232
We're due for a bump this release - I'll probably get to it next week

[2021-08-25 01:13] mattmoor commented on #2232
LMK if you need any help.

[2021-09-01 18:43] dprotaso commented on #2200
knative.dev/pkg just bumped to K8s 1.21 which I believe should resolve the initial build problems

[2021-09-01 18:44] dprotaso commented on #2200
Note this is @ HEAD and not a formal release

[2021-09-02 14:15] dprotaso commented on #2143
/lifecycle frozen

[2021-09-02 16:03] gabo1208 opened #2258 "Add warning for Source.spec.ceOverride.extension names that are longer than 20 characters and with uppercase letters"
**Problem**
As stated on the [Cloud Events Spec](https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#attribute-naming-convention)
the attribute naming convention sugest (SHOULD not MUST) that the names are no longer than 20 characters. We should add at maybe a warning for that cases, even when this does not imply an error. Also when there are keys with upper case letters there could be a colli

[2021-09-02 17:22] dprotaso opened #2263 "Downstream tests don't work with release branches"
It's checking out the wrong branch `main`

https://github.com/knative/pkg/blob/d60f1a4998bf452ae7e0106ff3d0b7911acf1f5c/.github/workflows/knative-downstream.yaml#L92-L96

[2021-09-03 06:19] pierDipi commented on #2115
/remove-lifecycle stale
/triage accepted

[2021-09-03 14:30] gabo1208 opened #2273 "Update duck/ABOUT.md"
**Problem**
Some of the urls and methods used on the example are outdated or deprecated. Like "controller.NewImpl"

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Producers, consumers and integrators

**Exit Criteria**
Update the links and methods used on the file

**Additional context (optional)**
[Here](https://github.com/knative/pkg/blob/main/apis/duck/ABOUT.md)

[2021-09-07 14:04] gabo1208 commented on #2273
/assign

[2021-09-08 20:19] dprotaso commented on #2128
/lifecycle frozen

[2021-09-09 16:28] #2263 closed

[2021-09-17 00:01] #2011 closed

[2021-09-17 00:02] dprotaso commented on #2011
stack driver exporter was removed

[2021-09-17 00:04] dprotaso commented on #1891
/reopen
/lifecycle frozen

[2021-09-17 01:03] nak3 opened #2289 "Bump Go version to 1.17"
I would like to request to bump Go version to 1.17 in Knative project (probably after 0.26 release).

/kind feature

There is no rush but Go 1.17 needs `//go:build` instead of/in addition to `// +build`
so a lot of code need to be changed.

[1] https://golang.org/doc/go1.17

[2021-09-17 01:26] #2113 closed

[2021-09-17 13:42] dprotaso commented on #2289
FYI @knative/technical-oversight-committee

[2021-09-17 13:59] dprotaso commented on #2289
cc @knative/productivity-wg-leads

[2021-09-21 01:20] lionelvillard commented on #1668
This is fine since the goal is to cleanup in-memory state, which is happening when the controller crashes.

TL;DR: I still think there  is a case for observing an object has been marked at deleted without setting a finalizer. `ObserveDeletion` does not work since this function is called when the object has been deleted.

My use case is I have 2 controllers, one updating resources (e.g. KafkaSource

[2021-09-22 07:01] markusthoemmes commented on #1668
So you basically want a coordinated shutdown between N controllers, where the leader is waiting for all other replicas to "ack" that they've observed the finalization and only then will continue?

I suppose we could bring `ObserveFinalizeKind` back for that, but slap huge warnings on it that it's only to be applied in very specific use-cases like this and that `ObserveDeletion` shall be used in an

[2021-09-22 07:13] markusthoemmes commented on #2289
Do we want to bump just the versions we build with, while keeping go.mod versions at 1.16 or do we want to make use of any new functionality of 1.17? If only the former, that's okay. Updating go.mod though might be a tad early at least for our (Red Hat's) productization pipeline. Dunno if others have similar constraints.

[2021-09-22 13:05] lionelvillard commented on #1668
I agree. Will do.

Yes that's is completely accurate. In my use case, X is a consumer group. We could introduce a new internal ConsumerGroup CRD but that seems like a lot of extra work compare to `ObserveFinalizeKind`.

Thanks @markusthoemmes, I really appreciate your deep understanding in this matter.

[2021-09-22 14:03] lionelvillard commented on #1668
You got me thinking more about this and I'm convinced it is worth the effort. I just checked it's technically feasible.

thanks for you help, really appreciated!

[2021-09-22 14:03] #1668 closed

[2021-09-23 01:52] dprotaso commented on #1972
/lifecycle frozen

[2021-09-24 15:47] dprotaso commented on #2289
We'd just update the toolchain with go1.17 - each repo can mark their min go version the the go.mod themselves.

[2021-10-02 01:24] #2110 closed

[2021-10-04 00:22] dprotaso commented on #2110
@scothis is this still an issue?

Also do you have a gist for recreating the issue - then I could probably label this a good first issue

[2021-10-05 13:18] markusthoemmes commented on #1972
/unassign

not doing this rn.

[2021-10-05 13:36] skonto opened #2303 "Extend secret reading for webhook certificates"
[Webhook Certificates reconciler's logic](https://github.com/knative/pkg/blob/74ac82a333a43e5eabd3feb49311c6c680c29366/webhook/certificates/certificates.go#L63) will update secrets contents if the secret is expired or if the secret is empty.
We start with an empty secret so the reconciler can generate its contents. This is an internal process. There is a hardcoded value for renewal (1 day).

Howev

[2021-10-06 07:28] odacremolbap opened #2307 "Referenced library at go.sum: CVE-2020-26160"
There is an indirect library referenced at `go.sum` that has been flagged at [CVE-2020-26160](https://github.com/advisories/GHSA-w73w-5m7g-f7qc)

https://github.com/knative/pkg/blob/a00ba487121ef45e7f14f1d59187ea6bb498bb4e/go.sum#L136

It should be tracked to find the direct dependencies that use it and upgrade them.

/kind bug
/kind cleanup

[2021-10-06 08:06] markusthoemmes commented on #2307
This has been fixed quite a while ago. `go.sum` is not indicative of the dependencies actually used, `go.mod` is (I believe).

[2021-10-06 08:24] markusthoemmes commented on #2307
It has, yes. I myself have contributed one of the necessary fixes in https://github.com/kubernetes/kubernetes/pull/95692 and another was https://github.com/kubernetes/kubernetes/pull/102755. Note that neither remove the respective dependency from `go.sum` but only from `go.mod` and `modules.txt`. Not active code in Knative is importing `github.com/dgrijalva/jwt-go` either directly or transitively.

[2021-10-06 08:31] odacremolbap commented on #2307
Yes, the code should not be used here, but a vulnerability analysis might flag all sources importing it.
I think that comes from cobra dependency at [apiextensions](https://github.com/kubernetes/apiextensions-apiserver/blob/ec755f5df42492ed028b454b46b0fe79f4d53f7e/go.mod#L14), I'll close this issue since the action seems to be somewhere else.

Thanks for clarifying.

[2021-10-06 08:31] #2307 closed

[2021-10-06 21:30] dprotaso opened #2308 "Flakey test TestSpoofingClient_WaitForEndpointState/Non_matching_response_triggers_more_requests"
TestSpoofingClient_WaitForEndpointState/Non_matching_response_triggers_more_requests

Details: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/2302/pull-knative-pkg-unit-tests/1445830894286802944

[2021-10-07 14:57] benmoss opened #2309 "Question: defining optional informers"
/kind question

## Expected Behavior
I'd like to define a controller that can work with 3rd party resources if they are installed in the cluster, but fallback to different or no behavior if they are not installed.

## Actual Behavior
Right now using sharedmain / `EnableInformersOrDie` my controller gets stuck starting informers because the types are not resolvable.

## Additional Info
https://gith

[2021-10-07 15:38] mattmoor commented on #2309
A workaround is to graph the shared informer factory and only get/start the informer if the resource is installed.

I'd rather not make the `.Get()` API any more complex than that, the point of those paths is that the dependency graph conveys what you require.  Using the injected informer factory directly seems like a reasonable way to make this optional (that's what `.Get()` uses anyways).

Does

[2021-10-07 15:45] benmoss commented on #2309
Not sure I understand what this would mean. Is opting out of sharedmain a baseline assumption here?

[2021-10-11 13:01] mattmoor commented on #2309
No, the webhook goes through `sharedmain` and it has a weak dependency on the secret lister here for exactly this reason: https://github.com/knative/pkg/blob/9179f78dcf97dd0990225464ee833e2446d7b4ce/webhook/webhook.go#L133-L138

If you access the informer this way, then you can make the informer optional, and guard it with some sort of environment check.  If you'd want to make it so the resulting

[2021-10-11 18:10] benmoss commented on #2309
/close

thanks! this makes sense

[2021-10-11 18:10] #2309 closed, assigned to nobody

[2021-10-13 06:54] nak3 opened #2311 "Expose k8s `defaultMinimumVersion` version for other repo friendly"
/kind feature

`defaultMinimumVersion` is defined in `version/version.go` but it is not friendly exposed for other repos. For example:

- Knative docs always forgets to update the min version as we need manual change every time e.g. https://github.com/knative/docs/pull/4189
- serving and other repos may want to pin to the GKE version based on the min version but the script cannot get the version e

[2021-10-20 20:18] wlynch opened #2320 "knative.dev/pkg broken with k8s 0.22 libraries"
knative.dev/pkg is incompatible with k8s 0.22 libraries - looks like it's due to changes that cause the generated knative clients to no longer satisfy the upstream interfaces.

[Example](https://gist.github.com/wlynch/b3095516a1f44e7b8afb55905cff878b), which results in the following:

[code]

I tried taking a crack at updating the dependency + regenerating the injection clients in https://github.c

[2021-10-20 22:33] upodroid commented on #2174
/remove-lifecycle stale

[2021-10-21 07:44] salaboy commented on #2320
@wlynch ack.. I will look into this and see how this fits into the release.

[2021-10-21 08:10] salaboy commented on #2320
@wlynch It seems that we are ok with being compatible with 0.21 for this release as it is defined in this schedule we will update to 0.22 in a future release: https://github.com/knative/community/blob/main/mechanics/RELEASE-SCHEDULE.md

[2021-10-21 08:18] julz commented on #2320
cc @dprotaso

[2021-10-25 15:53] nader-ziada opened #2324 "Remove KProbe logic from Drainer"
/area networking

Follow up from Serving PR: https://github.com/knative/serving/pull/12033
- comment about KProbe logic in drainer being a duplicate functionality https://github.com/knative/serving/pull/12033#pullrequestreview-779938231
[code]
-  Other comment about same https://github.com/knative/serving/pull/12033#discussion_r735640426

[2021-11-02 11:29] pierDipi opened #2338 "Disable controllers using a flag"
I would like to disable controllers using a command-line flag

## Proposal

- Add a `disable-controllers` flag that is a comma-separated list of controller names.
- Add [1] to main.go

[1]:

[code]

where `NamedControllerConstructor` is

[code]

[2021-11-02 11:30] pierDipi commented on #2338
/kind feature

[2021-11-03 12:07] odacremolbap commented on #2338
what is the scenario behind this flag?

I can picture a controller binary being deployed where some objects are not going to be used and some cycles can be saved by disabling some of the controllers, or maybe someone implementing their own version of one of the controllers.

On the saving cycles scenario if I'm not wrong, the informers for any disabled controller would still be loaded because of t

[2021-11-03 21:32] pierDipi commented on #1995
/reopen

[2021-11-08 07:34] odacremolbap commented on #2225
Might this be because you need to generate the clientset, listers and informers prior to generating the injection for all elements?

The order should be:

- k8s.io/code-generator/cmd/client-gen
- k8s.io/code-generator/cmd/lister-gen (needs generated client)
- k8s.io/code-generator/cmd/informer-gen (needs generated client and listers)
- knative.dev/pkg/codegen/cmd/injection-gen (needs generated cli

[2021-11-09 06:28] pierDipi commented on #2338
The use case is to disable controllers in order to safely rollout competing controllers (reconciling the same resource).

[2021-11-09 21:56] fhuzero commented on #2225
Thank you for providing the order! @odacremolbap

[2021-11-11 01:24] #2187 closed

[2021-11-16 21:30] #2338 closed

[2021-11-22 14:40] dprotaso commented on #2184
/reopen
/lifecycle frozen

[2021-11-22 19:18] ricardozanini opened #2356 "Bug when implementing "Pod Spec"-able Bindings"
Hi all!

I've been working on a small refactoring on [Kogito Eventing](https://github.com/knative-sandbox/eventing-kogito/pull/49) to have a source capable to bind to any "Podspecable" and sink the events to any Sink.

The Sink part is already done, but I'm having a hard time implementing the "subject" binding. [I've followed this guide](https://github.com/knative/pkg/tree/main/webhook/psbinding),

[2021-11-22 20:16] lionelvillard commented on #2356
I added a comment to your PR.

[2021-11-25 13:45] ricardozanini commented on #2356
Fixed by adding the `NamespaceLister` attribute to the controller constructor. We can [update the guide](https://github.com/knative/pkg/tree/main/webhook/psbinding) to reflect this change. From the GitHub Source: https://github.com/knative-sandbox/eventing-github/blob/v0.27.0/pkg/reconciler/binding/controller.go#L60-L82

[2021-11-26 16:17] dprotaso opened #2364 "root cause failures caused by https://github.com/knative/pkg/pull/2360"
The PR https://github.com/knative/pkg/pull/2360 seems to have broke a lot of things downstream. Given that the breakage was non-obvious (see: https://github.com/knative/pkg/pull/2360#issuecomment-979295081) it would be good to figure out why the change was disruptive - and potentially create a test to prevent this in the future.

[2021-12-03 01:24] #1641 closed

[2021-12-06 20:38] aw185176 commented on #2320
Is there any chance that #2327 could get merged before EOY?

[2021-12-08 18:41] loosebazooka opened #2373 "Deprecation comment for `test.Flags` doesn't actually point to anything?"
https://github.com/knative/pkg/blob/main/test/e2e_flags.go#L35 there is no `test/flags.Flags()`?

[2021-12-08 20:58] nader-ziada commented on #2373
I believe it should be pointing to this: https://github.com/knative/pkg/blob/main/test/e2e_flags.go#L36

[2022-01-03 07:04] pierDipi commented on #2258
/remove-lifecycle stale
/triage accepted
/reopen

[2022-01-03 23:22] evankanderson opened #2383 "LeaderElection defaults too aggressive?"
## Expected Behavior

After installing, other operations on my cluster work as before.

## Actual Behavior

I sometimes get the following message:

[code]

According to [the Kubernetes documentation](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/), there is are `--max-requests-inflight` and `--max-mutating-requests-inflight` settings that limit the total number of API req

[2022-01-04 18:58] #2320 closed

[2022-01-05 07:34] pierDipi commented on #2308
This is still an issue.

/remove-lifecycle stale

[2022-01-06 01:29] #2273 closed

[2022-01-12 07:42] #2308 closed

[2022-01-12 11:31] skonto commented on #2303
/remove-lifecycle stale

[2022-01-12 19:37] evankanderson commented on #2383
https://github.com/knative/serving/pull/12499 indicates that the following defaults wouldn't break serving tests:

[code]

[2022-01-12 22:10] evankanderson commented on #2383
/close

[2022-01-12 22:11] evankanderson commented on #2383
/reopen

[2022-01-13 04:43] #2383 closed

[2022-01-18 08:34] pierDipi opened #2394 "Addressable resolver discard original error when a lister factory fails"
## Expected Behavior

The error is specific and the original error isn't discarded

## Actual Behavior

I get a generic error like:
`kafkachannels "Lister" not found`

## Additional Info

/kind bug

[2022-01-18 09:05] pierDipi opened #2396 "tekton/pipeline downstream tests fails continuously `is a program, not an importable package`"
## Expected Behavior

No errors

## Actual Behavior

Error:
[code]

## Steps to Reproduce the Problem

1. Run downstream tests

## Additional Info

cc @mattmoor

[2022-01-18 17:00] mattmoor commented on #2396
Hmm, I think this is a Go version thing:
https://github.com/tektoncd/pipeline/blob/main/hack/tools.go#L1

cc @imjasonh @vdemeester @afrittoli

[2022-01-21 09:23] #2394 closed

[2022-01-25 07:43] pierDipi commented on #1672
/remove-lifecycle stale

[2022-01-25 09:16] pierDipi commented on #2324
/remove-lifecycle stale

[2022-01-25 19:49] cardil opened #2399 "`version/version_test.go#L98` doesn't compile"
https://github.com/knative/pkg/blob/3ba5d72e310a8cdff2663b32ac5489665ba17748/version/version_test.go#L98

Doesn't compile. Introduced in #2397.

/kind bug

[2022-01-25 22:55] dprotaso commented on #2399
We're on golang 1.17 in our CI. This is when [`t.Setenv`](https://pkg.go.dev/testing#T.Setenv) was introduced

[2022-01-25 22:58] dprotaso commented on #2399
Actually maybe we should bump the go version in go.mod as a signal

[2022-01-25 23:01] cardil commented on #2399
Exactly what I was thinking. If go1.17 is required it should be stated that way in go.mod. That's what it's for.

[2022-01-25 23:01] dprotaso commented on #2399
Oddly - maybe it didn't error because it's a test?

[2022-01-26 12:55] cardil opened #2401 "`TestDialWithBackoff` from `network/transports_test.go` fails by not recognizing expected error outside of CI"
## Expected Behavior

Test should pass without errors on any environment.

## Actual Behavior

Test fails with:

[code]

## Steps to Reproduce the Problem

1. `gotestsum -f testname -- -race -count=1 -run 'TestDialWithBackoff' ./network`

## Additional Info

The test is using a special address `198.18.0.254:8888` that looks to work on the CI environment. I think a good idea would be to refactor te

[2022-01-26 13:00] cardil commented on #2401
Strangely, this test is being reported as passing in prow unit tests or Github's unit test check. How come?!

[2022-01-26 14:07] cardil commented on #2401
Okay. I think I got the root cause of this. The test is using a special address `198.18.0.254:8888` that looks to work on the CI environment. I think a good idea would be to refactor tests to work on every environment, cutting this external dependency.

[2022-01-26 14:09] cardil commented on #2401
/assign

[2022-01-26 21:42] #2399 closed

[2022-01-29 17:13] dprotaso opened #2405 "Merge downstream tests fail for PR authors who are not org members"
cc @shinigambit looks like there's an issue with the merge upstream step in the action for non-members of the org?

_Originally posted by @dprotaso in https://github.com/knative/pkg/issues/2390#issuecomment-1011793906_

[2022-01-29 17:13] dprotaso commented on #2405
/assign @shinigambit @kvmware

[2022-01-31 07:17] Shashankft9 opened #2407 "Inconsistency with wait.PollImmediate and WaitForEndpointState"
## Expected Behavior
`wait.PollImmediate` should keep on polling if I pass response checkers through `WaitForEndpointState` https://github.com/knative/pkg/blob/main/test/request.go#L78 until the state is reached or timeout happens.
## Actual Behavior
Since the response checkers for example: https://github.com/knative/pkg/blob/main/test/spoof/response_checks.go#L33 returns true or error, it makes `

[2022-01-31 07:19] Shashankft9 commented on #2407
cc @julz

[2022-01-31 09:22] pierDipi opened #2408 "Invalid creator or lastModifier annotations on core resources"
## Expected Behavior

Valid creator or lastModifier annotations are set when the group is `""` (core resources).

## Actual Behavior

The annotation is `/creator` which is invalid

## Steps to Reproduce the Problem

1. Create a webhook for a core resource
2. Run webhook

## Additional Info

/assign

[2022-01-31 09:22] pierDipi commented on #2408
/kind bug

[2022-01-31 14:19] dprotaso opened #2410 "knative.dev/pkg/webhook.TestConversionEmptyRequestBody is flakey"
Is flakey

[code]

[2022-01-31 14:33] dprotaso commented on #2408
for clarify core resources = https://pkg.go.dev/k8s.io/api@v0.23.3/core/v1

ie. Pods etc.

[2022-01-31 14:49] #2408 closed

[2022-01-31 18:42] pierDipi opened #2411 "Allow overriding lease name for a reconciler"
## Feature request

Currently, lease names are generated based on the Go
package the reconciler type is in and component name.

[code]

We would like to override the lease name for a particular
reconciler, in particular, this section:

[code]

## Additional Info

/area API
/kind feature

[2022-02-01 16:11] dprotaso commented on #2410
related:
[code]

[2022-02-01 16:13] dprotaso commented on #2411
Why not just configure a single bucket? using the `buckets` property?

[2022-02-02 17:54] pierDipi opened #2418 "Multiple defaulting webhooks don't work"
## Actual Behavior

Creating 2 defaulting webhooks `w1` and `w2` inside the same pod
for 2 different mutating webhook configuration manifests
doesn't work since the lease name is based on the hardcoded
queue name `DefaultingWebhook`.

[code]

so, we get a pod competing for the same lease
in 2 separate reconcilers for 2 separate webhooks.

## Expected Behavior

Allow having multiple defaulting webh

[2022-02-03 15:13] dprotaso commented on #2418
What's the use case here? Since you effectively control the component why not create a single admission controller with all the relevant types?

[2022-02-03 15:17] dprotaso commented on #2411
Doing this will break leader election since - you'll think you're sharing across N buckets but it's only one.

[2022-02-03 18:18] pierDipi commented on #2418
Doesn't work that because I need to define my own object selectors for only a subset of types.

[2022-02-03 18:20] pierDipi commented on #2418
The use case is to have a webhook that responds on some types within a namespace with a specific label and another one that responds on some types in any namespace.

[2022-02-03 18:28] pierDipi commented on #2411
what do you mean?

I don't see how replacing from:
[code]
to
[code]
breaks, it works in our case.

[2022-02-03 18:34] dprotaso commented on #2411
leader election uses buckets to shard the key space which is configured here:

https://github.com/knative/pkg/blob/51be315ed160e68627a3bc51a244ec77e470c667/leaderelection/config.go#L81-L87

Each shard has a corresponding lease. If you drop the ordinal from the name then you only have a single shard which defeats the purpose of setting that bucket count

[2022-02-03 18:39] pierDipi commented on #2411
I don't what to drop the ordinal.

[2022-02-03 18:40] pierDipi commented on #2411
I want to replace the prefix `<component>.<package>.<reconciler_type_name>`.

[2022-02-04 02:30] dprotaso opened #2421 "Simplify the test/upgrade package"
This whole package is really hard to review and I think part of it is because we're mixing two loggers.  Related I think we can simplify the need for this PR if we map continous tests to golang tests differently.

Take serving for example which has the following structure

[code]

The continous probe test is 'split' across two golang tests instances - `ContinualTests/SetupProbeTest`  & `VerifyCont

[2022-02-04 02:30] dprotaso commented on #2421
Hey I wasn't suggesting we flatten the entire structure - you can use `t.Parallel()` to coordinate

Here's an example how - https://go.dev/play/p/Rzv08ipdG1D (updated to point to one with comments)

_Originally posted by @dprotaso in https://github.com/knative/pkg/issues/2293#issuecomment-1028544761_

[2022-02-04 02:30] dprotaso commented on #2421
cc @mgencur @cardil

[2022-02-04 09:58] pierDipi commented on #2418
@dprotaso the only problem is the hardcoded `const queueName = "..."`, I can go with overriding only the queue name without
overriding the whole `ControllerOptions` as in https://github.com/knative/pkg/pull/2420

[2022-02-04 13:58] pierDipi commented on #2411
An approach that we can have is to have a configuration in `config-leader-election` like `lease-names-prefix-remapping` that is a map from the lease prefix to a new prefix:

[code]

then when we instantiate the lease name we use it like this:
[code]

what do you think?

[2022-02-05 00:59] evankanderson opened #2422 "Debug / audit liveness and readiness for webhooks with new leader-election defaults"
## Expected Behavior

The changes in #2391 should not have caused downstream failures (tested via `knative/serving` tests).

## Actual Behavior

At least Kafka upgrade tests were affected: https://github.com/knative-sandbox/eventing-kafka/pull/1068
It seems like RabbitMQ tests were also affected: https://github.com/knative-sandbox/eventing-rabbitmq/issues/588

## Steps to Reproduce the Problem

1.

[2022-02-09 08:14] aliok commented on #2411
The concrete usecase is that we're changing the KafkaChannel controller and we would like to use the same lease name. So, we can just deploy 2 different controller containers and once the old one is scaled to 0 the new one will be effective.

Old lease name is: `kafkachannel-controller.knative.dev.eventing-kafka.pkg.channel.consolidated.reconciler.controller.reconciler.00-of-01`

Currently, there'

[2022-02-09 10:58] mgencur commented on #2421
@dprotaso thanks for this. I guess this could work. I've expanded on your example and added multiple continual tests and all the other stages: https://go.dev/play/p/YNpIPxu92tF
The test report looks nice to me.
I can see one problem with that - if some "continual" test calls t.Fatal it will cause all continual tests to fail (including the umbrella one). When the tests call t.Error it works alright

[2022-02-09 14:09] cardil commented on #2421
Thanks, @dprotaso, for posting this. I've seen your original message, but I had doubts about proper synchronization of those subtasks - basically the same as @mgencur checked (thanks a lot, Martin). I haven't got a chance to look at this yet.

This looks promising. I'll take a closer look at this soon. :crossed_fingers:

[2022-02-09 17:38] cardil commented on #2421
I think this might be salvageable, maybe... Two initiate problems, I found:

1. We need to start continual tests after successful installation, and pre-upgrade smoke tests, but before the upgrade starts. We need to actually wait until continual tests do their bootstrapping, before we can proceed with upgrades.
2. The current solution doesn't work well with `t.Fatal` or `t.Skip`. See: https://go.de

[2022-02-09 18:00] mgencur commented on #2421
@cardil Yeah. the first problem can be resolved by waiting in `t.Run("Main")` until all the continual tests do their setup (possibly by using waitGroup.Wait()), before starting the upgrades. The other problem can be resolved by using this:
[code]
When t.Fatal is called there's nobody waiting for the given signal and sending the signal to the channel blocks. The solution above could help but maybe

[2022-02-09 22:03] dprotaso commented on #2421
If that's the case just move the `t.Parallel()` call whenever you need to start the continuous tests. So in my example you could put a `t.Run("PreUpgrade")` after `t.Run("Base")`

Ah good catch - yeah could use a `sync.WaitGroup` to do that extra synchronization like @mgencur suggested

ie. https://go.dev/play/p/VKql1q5K-Yu

The only thing I see that's tricky is failing the "Installation" test if

[2022-02-11 01:27] #2311 closed

[2022-02-15 15:43] dprotaso opened #2427 "Use runtime/debug in our changeset package"
Did some testing - runtime/debug probably won't be super useful until 1.18, particularly for local changes.

The main module info for something built not at a semver tag looks like:

[code]

What we really want are the [vcs tags included in 1.18](https://tip.golang.org/doc/go1.18#go-command) which look like:

[code]

_Originally posted by @wlynch in https://github.com/knative/pkg/issues/2425#issue

[2022-02-15 15:43] dprotaso commented on #2427
We should switch over when we start using go1.18 for building

[2022-02-15 17:52] pierDipi commented on #2411
@dprotaso can you please take a look at the proposed solution?

[2022-02-17 15:10] dprotaso opened #2432 "[flakey] webhook.TestAdmissionInvalidResponseForResource"
[code]

[2022-02-17 15:12] dprotaso commented on #2432
Here: https://github.com/knative/pkg/pull/2425
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/2425/pull-knative-pkg-unit-tests/1493620921280237568

[2022-02-18 22:27] dprotaso commented on #2174
/reopen
/lifecycle frozen

[2022-02-22 19:47] dprotaso opened #2436 "Controllers (and related) should relinquish their leases when shutting down"
## Expected Behavior

When a controller is holding various K8s leases it should clear the `holderIdentity` when shutting down.

## Actual Behavior

The controller process doesn't wait for the leases to be released before exiting. The resulting behaviour is non-deterministic but the cascading of errors have been more pronounced with GKE 1.21 and the fact that we [increased our default lease duratio

[2022-02-22 21:12] #2436 closed

[2022-02-25 02:17] dprotaso commented on #2364
/lifecycle frozen

[2022-02-25 02:17] dprotaso commented on #2364
cc @nader-ziada this could be random thing to explore for fun ;)

[2022-02-25 14:19] nader-ziada commented on #2364
/assign

[2022-02-25 19:06] dprotaso commented on #2411
Thanks for the clarification I wasn't reading the issue properly.

My only question is regarding the configuration

[code]

Rather than embed yaml within a string an option to consider is namespacing the keys

ie.
[code]

So for leases you could do
[code]

The benefit there is you can patch (add/remove) individual entries in `data` vs the entire blob.

[2022-02-28 13:36] pierDipi commented on #2411
Thanks @dprotaso ! +1

I did a test, we should be good.

[code]
---
In case you're wondering, as I did, what `?` means in YAML, it's an alternative way of defining mappings:
[code]
It's used when executing `k get cm example -oyaml`
ref: https://yaml.org/spec/1.2.2

[2022-02-28 16:34] pierDipi commented on #2411
I have updated the PR with the suggestion from @dprotaso, please take a look https://github.com/knative/pkg/pull/2435, thanks!

[2022-02-28 19:55] #2411 closed

[2022-03-04 01:30] #1995 closed

[2022-03-04 18:05] nicop311 opened #2452 "Build failing when using "injection.EnableInjectionOrDie" due to collisions between "k8s.io/apimachinery" and "k8s.io/utils""
/area monitoring
/kind bug

Hello, when I try to `go build` my [Knative project](https://github.com/nicop311/c2-drop), I get the following error and the build fails:

The error below comes from method "`injection.EnableInjectionOrDie`" from lib "`knative.dev/pkg`" ; [this line of my code](https://github.com/nicop311/c2-drop/blob/a8e62527a0478237c7cdb58433170b3b152a61fc/cmd/c2-drop/main.go#L16).

[

[2022-03-10 01:23] mattmoor opened #2455 "`WantDeleteCollections` was never implemented in `TableTest`"
/area API
/area networking
/area test-and-release
/kind bug
/kind good-first-issue

## Expected Behavior

A `TableTest` with `WantDeleteCollections` verifies things work!

## Actual Behavior

It silently ignores `DeleteCollection` calls.

See also: https://github.com/knative/pkg/blob/d2cdc682d97482be4d71bfd34f2ab000f7070dd4/reconciler/testing/table.go#L75

[2022-03-10 01:24] mattmoor commented on #2455
Ok, I'm like 90% sure that this isn't currently possible because of: https://github.com/kubernetes/kubernetes/issues/105357

[2022-03-10 01:31] #2225 closed

[2022-03-10 06:25] hzliangbin commented on #2008
hi, @dprotaso
just lower the logging level to INFO and error should be return as before ?

[2022-03-10 11:31] skonto opened #2457 "Coverage CI check is failing"
As described in this [comment](https://github.com/knative/pkg/pull/2362#issuecomment-1061832852) coverage check is failing. Some dirs could be omitted and others improved?

[2022-03-15 15:28] #2364 closed

[2022-03-16 14:19] Yongxuanzhang opened #2467 "Can user apply rules for validation webhook?"
/kind question

## Expected Behavior

Hi, I tried to apply rules for the validation webhook (e.g. only validate on `CREATE`), but after reconciliation the user defined rules will be overwritten. I'm just curious what's the reason behind this?

## Actual Behavior

By looking at the code, seems it will create new rules.

https://github.com/knative/pkg/blob/0a429cba1c73524035fafa46a9264311065d466e/we

[2022-03-25 01:20] psschwei commented on #1195
/assign

[2022-03-25 18:51] #2457 closed

[2022-03-26 01:31] #2356 closed

[2022-03-29 12:19] mgencur opened #2475 "Make sure OpenCensusTracer from tracing package can be correctly shut down (flushed)"
The problem is that currently the components that use [SetupStaticPublishing](https://github.com/knative/pkg/blob/main/tracing/setup.go#L32) or [SetupDynamicPublishing](https://github.com/knative/pkg/blob/main/tracing/setup.go#L45) can drop some Spans/Traces when being shut down or evicted (e.g. during upgrades).
The goal is to prevent dropping buffered traces before they're sent as indicated by [

[2022-03-29 12:43] cardil commented on #2475
This looks like super easy to fix.

I think we should force change the [SetupStaticPublishing](https://github.com/knative/pkg/blob/1f7514acd0c2159b18cd1674c930298f0bbacc7a/tracing/setup.go#L32) or [SetupDynamicPublishing](https://github.com/knative/pkg/blob/1f7514acd0c2159b18cd1674c930298f0bbacc7a/tracing/setup.go#L45) funcs, so they will return the `(*tracing.OpenCensusTracer, error)`.

Such inco

[2022-04-08 01:32] #2373 closed

[2022-04-19 16:34] vpnachev opened #2494 "Unallowed admission reviews to not reply to the requestor with http status code 200"
/kind bug

## Expected Behavior
The admission controller to reply to k8s API server on failed admission requests with http code != 2XX.

## Actual Behavior
Even when the request is not allowed, the admission handler just return the admission review to the api server without explicitly setting HTTP status code, therefore the default status code of 200 is used. For k8s, this is considered as success

[2022-04-20 00:24] n3wscott commented on #2494
Does this: https://github.com/knative/pkg/blob/12be06090b5122f58fa8b3a9870e26fb6de0bb20/webhook/admission.go#L137 not set the status code to `500`?

[2022-04-20 06:34] vpnachev commented on #2494
No, it does not. `json.NewEncoder(w).Encode(response)` returns `nil` and nothing else is explicitly written to `http.ResponseWriter`. When the HTTP code is not explicitly set, the default `200` is used, [ref](https://pkg.go.dev/net/http#ResponseWriter)

[2022-04-20 16:27] n3wscott commented on #2494
Very interesting. Talking with @mattmoor about this now.

[2022-04-20 22:46] mattmoor commented on #2494
Judging from this portion of the slack conversation:
![image](https://user-images.githubusercontent.com/2442466/164336212-58cc2f86-9159-40a0-be64-e3413347d218.png)

I think the only potential issue here is that the `json` encoder may partially write to the response before erroring out, so the `http.Error` will be ineffective because as we start to write bytes the response writer will automatically

[2022-04-21 15:13] vpnachev commented on #2494
It depends how the failure policy is used and what is the expectation.

During the last 4 years I was always expecting that failure policy `Ignore` will allow even requests rejected by admission controller to be completed. And we have couple of tens of admission controllers that were used like this. In the initial phase we deploy them with `Ignore` and just later, when we have some experience and

[2022-04-21 17:09] mattmoor commented on #2494
I may be misunderstanding @liggitt but my impression is that what you describe is not what `failurePolicy` was intended to handle.

[2022-04-21 17:18] vpnachev commented on #2494
Yes, I find yesterday that I was having wrong understanding how failure policies work. We (maybe also others) were just using it as loophole to configure admission controllers to fail silently.

[2022-04-22 16:30] cardil opened #2495 "For `sharedmain` zap's Fatal should deterministically calculate the POSIX return code"
/area test-and-release
/kind feature

## Actual Behavior

The _Zap_'s _Fatal_ method is calling `os.Exit(1)` regardless of a message. This isn't the best _UX_ choice. The _POSIX_ return code could be used for quick assessment about a process failure. When the retcode is always equal `1` for any error, this can't be utilized.

Tools like Docker or Kubernetes report back the return code of the proce

[2022-04-23 20:37] mattmoor opened #2497 "Add support for AdmissionReview warnings"
/area API
/kind feature

Kubernetes added support for [Warnings](https://kubernetes.io/blog/2020/09/03/warnings/) in the `AdmissionReview` response in Kubernetes 1.19.  The intent of this is to enable folks to give API users advance warning when a field they are using is headed towards deprecation, for instance I'd have loved to have this when we were deprecating build support in the v1alpha1 Serv

[2022-04-24 07:07] hectorj2f commented on #2497
+1 🙂

[2022-04-24 19:14] vaikas commented on #2497
Yeah, when I saw that warning mode, was mosdef thinking that would be warning for cosigned webhooks mode for policies failing instead of trying, seems like they described our use case to a T :)

[code]

[2022-04-24 20:47] mattmoor commented on #2497
Ok, I threw together the linked PR: https://github.com/knative/pkg/pull/2498

It has a `/hold` on it for now, so it doesn't merge before we can get a bunch of 👀 on it, but I'm pretty excited at the possibilities this enables!  In particular, I threw a TODO in one place that popped out around our "deprecated field" handling logic, which I think could ~immediately take advantage of this.

[2022-04-25 21:57] #2401 closed

[2022-04-26 12:19] imjasonh opened #2499 "Tekton downstream tests fail consistently"
Seems to be two distinct issues (so far...)

1. for tektoncd/chains, [`use of internal package github.com/hashicorp/go-plugin/internal/plugin not allowed`](https://github.com/knative/pkg/runs/5855970652?check_suite_focus=true)
    - seemingly introduced in https://github.com/knative/pkg/pull/2481 when bumping the Go version from 1.16 -> 1.17 :thinking:
    - I'm unable to reproduce this locally wi

[2022-04-26 21:46] dprotaso commented on #2324
/lifecycle frozen

[2022-04-26 21:47] dprotaso commented on #1672
/lifecycle frozen

[2022-04-27 08:05] pierDipi commented on #2396
A more up to data issue https://github.com/knative/pkg/issues/2499, closing this one.

[2022-04-27 13:32] dprotaso opened #2502 "[flaky] networking.TestDialTLSWithBackoffSuccess"
Failed run: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_pkg/2500/unit-tests_pkg_main/1519305375889756160
[code]

/assign @cardil

[2022-04-27 21:14] cardil commented on #2502
This is the problem of parallel tests that are choosing the same ports as free ones. Sometimes, most likely on contested servers, the OS is taking longer to allow running the port again.

We can:

- prolong the back off period https://github.com/knative/pkg/blob/2d552be030f69a4b9f74e49b5ab57256590dae74/network/transports_test.go#L194-L195
- pre-allocate free ports before the tests, and use them wi

[2022-04-28 00:27] dprotaso commented on #2502
Let's prolong the backoff to begin with.

Looking at the httptest.Server it uses `127.0.0.1:0` but internal `Serve` call is on a goroutine so things could race.

Oddly this test fails consistently on my machine.

[code]

You can sorta repro slower machines by limiting concurrency to a single OS thread - ie.  `GOMAXPROCS=1`

[2022-04-28 10:38] cardil commented on #2502
Looking at the fail you posted, it looks to me like the problem will not be solved by prolonging the backoff. The tests are executed in parallel, and clearly `TestDialWithBackoffTimeout` connected successfully to other test port, which succeeded.

[code]

I think to make it robust, the only way is to put all those tests into a single Test, and synchronize subtest setup, and execution.

[2022-04-28 12:22] cardil commented on #2502
@dprotaso I think the https://github.com/knative/pkg/pull/2504 should fix this flakiness.

I've tested it on a local machine and my CI machines, and I couldn't reproduce the flake on my branch.

[2022-05-02 05:18] Shashankft9 commented on #2407
/remove-lifecycle stale

[2022-05-02 21:56] #2497 closed

[2022-05-03 00:18] dprotaso opened #2508 "Downstream tests assume release branch was cut"
This isn't always the case - https://github.com/knative/pkg/pull/2291

[2022-05-03 02:55] dprotaso commented on #2499
Last thing is https://github.com/tektoncd/chains/issues/426#issuecomment-1115558265

[2022-05-03 11:37] hectorj2f commented on #2497
Thanks @mattmoor

[2022-05-04 20:31] lbernick opened #2514 "apis.errs.Also does not propagate error level"
/area API
/kind bug

## Steps to Reproduce the Problem
Using "warning" level error introduced in #2498:

[code]

## Expected Behavior

The aggregated error has the level that is the highest level of any errors combined with `Also`.
In the example above, I would expect `errs.Level` to be Warning, and `errs.Filter(apis.WarningLevel).Level` to also be Warning.

## Actual Behavior

In the example abov

[2022-05-05 15:16] mattmoor commented on #2514
Thanks for opening this 🙏

cc @dprotaso @evankanderson @vaikas @n3wscott

To reiterate some of the thread in Tekton, this is sort of a reflection of the awkward conflation of `apis.FieldError` as both an error and an aggregation of errors (via `.Also()`)

In your example, `errs.Message` won't match the single error it contains either, so I think the breakdown here is more general than the new `Lev

[2022-05-05 15:45] vaikas commented on #2514
@mattmoor you have a link to Tekton thread handy since it seems to have more context?

[2022-05-05 16:31] evankanderson commented on #2514
I'd expect the "lowest" level when aggregating via `Also` (since `ErrorLevel` is 0 and counts upward), but otherwise I agree with the diagnosis.

Given that this code is unlikely to be in a tight loop, I wonder if looping over the set of contained errors to determine the correct collection-level would be correct. You could early-exit the loop if `ErrorLevel` is encountered, since that's the lowest

[2022-05-06 07:02] pierDipi commented on #2418
/remove-lifecycle stale

[2022-05-17 20:31] mattmoor opened #2519 "`genreconciler`: successful finalization breaks status updates"
/area API
/kind bug

_This is a largely superficial issue, which I only noticed because of some unit testing I was writing and trying to explain this odd behavior._

## Expected Behavior

If in `FinalizeKind` a resource is marked `Ready`, and `nil` is returned, then we see both updates (path for finalizer, update status for `Ready`).

## Actual Behavior

Instead the finalizer is removed and the st

[2022-05-17 20:36] mattmoor commented on #2519
I think the best "fix" for this would be to not return `updated` directly, but to reflect its `resourceVersion` change back to `resource` and return that so the status is preserved.

[2022-05-17 20:37] mattmoor commented on #2519
cc @dprotaso @n3wscott

[2022-05-18 02:15] dprotaso commented on #2427
/lifecycle frozen

[2022-05-20 09:36] antoineco opened #2521 "`duck.TypedInformerFactory` does not honor namespace scope"
/kind bug
(I'm fine if we want to consider this a feature request, but to me it rather seems like this was overlooked in https://github.com/knative/pkg/pull/626)

## Expected Behavior

[`duck.TypedInformerFactory`](https://github.com/knative/pkg/blob/f907b31046d3c69a29b13d6d6ad2907767faac1e/apis/duck/typed.go#L36-L43) honors the namespace scope set via [`injection.WithNamespaceScope()`](https://gi

[2022-05-25 20:36] dprotaso commented on #2499
looks like it's green

[2022-05-25 20:36] #2499 closed

[2022-06-01 15:40] n3wscott opened #2526 "LeaderAwareFuncs in genreconciler do not respect classValue"
On leader promotion, the controller will enqueue all known instances of `Kind` without filtering on the provided `classValue`.

[code]

It is only in `Reconcile(key)` that the `Kind` is filtered and prevented from calling down into `ReconcileKind`

[code]

The side effect here is every `Kind` is enqueued and then noop'ed from the queue. Not a huge issue, but for a cluster with many instances of se

[2022-06-03 01:31] #2410 closed

[2022-06-05 01:33] #2422 closed

[2022-06-07 15:53] #1195 closed

[2022-06-09 18:04] dprotaso commented on #2452
This isn't a knative issue - but more that your dependencies aren't aligned.

If you're pulling in knative.dev/pkg you'll want to match the same k8s api versions that we have

https://github.com/knative/pkg/blob/865e331abfa50376f6ae1d0d12334513f6173d07/go.mod#L44-L48

Bumping to newer/olders versions may not work as you just experienced

[2022-06-09 18:04] #2452 closed

[2022-06-15 14:08] #2467 closed

[2022-06-21 07:05] JorTurFer opened #2533 "CVE-2022-1996: Vulnerability in github.com/emicklei/go-restful-v2.15.0"
/area API
/kind bug

## Expected Behavior

The dependency `github.com/emicklei/go-restful-v2.15.0` is affected by the vulnerability [CVE-2022-1996](https://vuln.whitesourcesoftware.com/vulnerability/CVE-2022-1996). To patch it, an update to v3.8.0 is needed

## Actual Behavior

Not having vulnerabilities in dep

## Additional Info

We have been notified by Whitesource-Bolt about this vulnerability

[2022-06-21 07:06] JorTurFer commented on #2533
/area API

[2022-06-21 07:06] JorTurFer commented on #2533
/area API

[2022-06-21 07:06] JorTurFer commented on #2533
/kind bug

[2022-06-21 17:38] #2533 closed

[2022-06-21 21:07] dprotaso commented on #2432
/lifecycle frozen

[2022-06-28 21:47] carlisia opened #2537 "Generated injection code is broken when there's a mismatch in type"
There is a problem with the injection code logic where if a `type ReferencePolicyList struct` contains an item such as the first one below the generated code will work, but if the included item is of a different type, then the code generated is of one type but expects the other.

- `Items           []ReferencePolicy` - works as an element of `type ReferencePolicyList struct`
- `Items           []R

[2022-06-29 01:47] dprotaso commented on #2537
Hopefully they can fix the type to what it was before

https://github.com/kubernetes-sigs/gateway-api/pull/1239

Otherwise I'll make changes to the injection-gen

[2022-06-29 04:28] evankanderson commented on #2537
If we fix this on the Knative side, the code is probably here: https://github.com/knative/pkg/blob/main/codegen/cmd/injection-gen/generators/client.go#L542

[2022-06-29 13:16] dprotaso commented on #2537
Gateway API change merged - so we should be good

[2022-06-29 13:16] #2537 closed

[2022-06-29 17:32] carlisia commented on #2537
Thanks for fixing this @dprotaso! I was convinced that had been done intentionally 😆

[2022-07-01 19:46] cr22rc commented on #2533
Hi @JorTurFer @psschwei  Help me, I thought the fix for this was go-restful v3.8.0
https://nvd.nist.gov/vuln/detail/CVE-2022-1996

The go.mod still has github.com/emicklei/go-restful v2.9.5+incompatible /
Only reason I ask is I'm being pushed to close some vulnerabilities in downstream code.
Thanks.

[2022-07-06 18:40] psschwei commented on #2533
So the problem is that the current version of `k8s.io/code-generator` (0.23.8) is using an outdated version of `k8s.io/kube-openapi`  (v0.0.0-20211115234752-e816edb12b65) which doesn't use the latest `github.com/emicklei/go-restful`.

[2022-07-06 18:52] psschwei commented on #2533
We could fix it by temporarily replacing the version of `k8s.io/kube-openapi` with `v0.0.0-20220627174259-011e075b9cb8` which includes the fix. Assuming that's permitted (cc @evankanderson  or @dprotaso )

As of right now, it doesn't look like the next patch release will include the fix either (it's not in v0.23.9-rc.0 at the moment).

[2022-07-06 20:03] evankanderson commented on #2533
It looks like this is a fix to CORS processing. Do we ship or expose either openapi (in general) or CORS (specifically) functionality in `knative.dev/pkg`?

[2022-07-06 20:12] psschwei commented on #2533
There was only one [CORS related commit](https://github.com/knative/pkg/pull/294/files), but it appears that was removed a while ago (v0.11).

Also looks like kube-openapi is only an indirect dependency (it used to be used by pkg, but was [dropped two years ago](https://github.com/knative/pkg/commit/9792d28c6197ba20d88fb613154b8b484b95dd43)).

[2022-07-06 20:47] dprotaso commented on #2533
We don't. use openapi-gen from code-generator so I think we're fine

[code]

[2022-07-08 01:36] mattmoor commented on #2455
/lifecycle frozen

[2022-07-08 01:36] mattmoor commented on #2455
/reopen

[2022-07-15 18:32] dprotaso commented on #2184
This is fixed

[2022-07-15 18:32] #2184 closed

[2022-07-15 20:44] dprotaso commented on #2143
dupe of https://github.com/knative/pkg/issues/2427

[2022-07-15 20:44] #2143 closed

[2022-07-18 14:57] #2427 closed

[2022-07-20 07:53] megumish opened #2551 "kmeta/ChildName() function needs more finer trimming."
https://github.com/knative/pkg/blob/1ad02a5662d29355fbd23d13cce08b2677ece901/kmeta/names.go#L60

Sometimes resource generation does not work without validation of `.` as well as `-`.

It may be a good idea to modify the terminating character if it is not an Alphanumeric character.

related to https://github.com/knative-sandbox/net-contour/issues/785

[2022-07-22 16:05] imjasonh opened #2556 "Deprecate pool in favor of errgroup?"
AIUI, [`pkg/pool`](https://pkg.go.dev/knative.dev/pkg/pool) has nearly the same interface and use case as [`errgroup`](https://pkg.go.dev/golang.org/x/sync/errgroup):
- run some functions in parallel using goroutines
- stop and return an error when any goroutine fails
- take a `context.Context` so the whole group can be stopped if the context is cancelled
- be able to limit concurrency (typically

[2022-07-22 17:32] dprotaso commented on #2556
Let's drop the uses here:
https://pkg.go.dev/knative.dev/pkg/pool?tab=importedby

and just delete this package

[2022-07-22 17:33] dprotaso commented on #2556
`errgroup` getting `SetLimit` is great

[2022-07-22 17:33] dprotaso commented on #2556
/triage accepted

[2022-07-24 02:48] daisy-ycguo opened #2557 "An issue with tracing.SetupDynamicPublishing"
/area monitoring
/kind bug

## Expected Behavior

Tracing of pingsource doesn't work.

## Actual Behavior

Tracing of pingsource should work.

## Steps to Reproduce the Problem

1. Set up pingsource following the [guidance](https://knative.dev/docs/eventing/sources/ping-source/)
2. Set up tracing following the [guidance](https://knative.dev/docs/eventing/accessing-traces/#configuring-tracing)
3. S

[2022-07-25 19:09] njtran opened #2560 "Webhook Race Condition with TLS handshake error: tls: bad certificate"
Hoping to get some insight on the following issue. Happy to hop on a call or slack huddle in the knative slack to give more info.

## Expected Behavior
The webhook should work and not require a non-deterministic amount of container restarts for it to work.

## Actual Behavior
Using defaulting and validating webhooks for [Karpenter](https://karpenter.sh/) CRDs. When first installing Karpenter, we g

[2022-07-26 15:28] haubenr opened #2561 "Support Jaeger tracing backends"
At the moment knative only supports tracing to Zipkin backends. It would be good to have more options, e.g. supporting Jaeger tracing backends as well (natively, without the need of external converters etc.)

/area tracing
/kind feature

## Expected Behavior

knative support Jaeger tracing backends.

## Actual Behavior

knative only supports tracing to Zipkin backends.

## Steps to Reproduce the P

[2022-07-26 18:00] dprotaso commented on #2561
I think I'd like to support jaeger by exporting Otel traces. Jaeger as of 1.35 can directly receive them.

We do need an OpenCensus => OTel exporter - which seems to have existed before but was removed

I prodded the issue here to see if it's unblocked & possible to add back a tracing bridge

https://github.com/open-telemetry/opentelemetry-go/issues/2808

[2022-07-26 18:09] dprotaso commented on #2561
Note: we want to eventually swap to OTel instead of OpenCensus https://github.com/knative/pkg/issues/855

[2022-07-26 18:16] dprotaso commented on #855
FYI - there's a bridge for OpenCensus => OpenTelemetry

So we can use the OTel exporters and slowly transition the API usage over

https://github.com/open-telemetry/opentelemetry-go/tree/main/bridge/opencensus#user-journey

I think tracing would be the best POC to test this out with

[2022-07-26 18:32] dprotaso commented on #2560
Typically knative webhooks on startup go through the following steps

1. Setup the TLS config of the webhook to look up the k8s secret from the informer (the secret name is hard coded as part of the webhook options)
2. Spin up a controller to reconcile the webhook certificate
3. Spin up a controller to reconcile the webhook configuration
4. Each controller tries to acquire a lease to become the le

[2022-07-26 18:34] dprotaso commented on #2560
The typical misconfiguration we see is if the liveness probe timeout of the webhook deployment is too low - it never gets a change to become the leader and create the certificate. This is because K8s kills the container.

ie. https://github.com/vmware-tanzu/sources-for-knative/issues/356

It's interesting to see `bad certificate` - that's a new one.

[2022-07-27 06:25] haubenr commented on #2561
Sure, sounds like the right move.

[2022-07-27 14:11] dprotaso commented on #2495
Going to close this out - see the comments on the PR. I think this will be confusing for users as certain exit codes have specific meanings.

I think the better approach would be to ensure we write to the k8s termination path

see: https://kubernetes.io/docs/tasks/debug/debug-application/determine-reason-pod-failure/

[2022-07-27 14:11] #2495 closed

[2022-07-27 14:23] dprotaso opened #2563 "[flaky] network.TestDialTLSWithBackoffSuccess"
[code]

[2022-08-02 12:45] Shashankft9 commented on #2407
/remove-lifecycle stale

[2022-08-05 01:21] #2557 closed

[2022-08-15 21:04] dprotaso commented on #2563
This is still flaking pretty heavily

/assign @cardil

[2022-08-15 21:08] #2556 closed

[2022-08-15 21:25] #2475 closed

[2022-08-16 12:02] psschwei commented on #2519
/lifecycle frozen

[2022-08-21 01:33] #2494 closed

[2022-08-23 15:05] vaikas opened #2581 "Warnings are silently dropped by k8s due to newlines."
/kind bug

## Expected Behavior
When creating a warning like this:

[code]
I would expect this to work. However, this turns into something like this:
[code]
Note the `\n` that we use to construct the error message by joining on `\n`

I'd argue this is not very well spelled out here what's allowed and not allowed:
https://github.com/kubernetes/api/blob/master/admission/v1/types.go#L144

But, diggin

[2022-08-23 15:24] vaikas commented on #2581
The place where filtering happens is here:
https://github.com/kubernetes/apimachinery/blob/master/pkg/util/net/http.go#L661

And, you can see that having a `\n` will flag this as having runes, thereby returning error (that's silently ignored by the links above). I put this small sample to demo it:
https://go.dev/play/p/J8PbCrPcHES

So if we were to join Warnings with `\\n` it would at least go thr

[2022-08-23 16:04] mattmoor commented on #2581
Thanks so much for tracking this down @vaikas

A few options to throw out instead of escaping:
 - `strings.Split` on newline and use multiple `Warnings` -- this is the most safe to users adding `\n` in the middle of an error (in addition to how we do `Details`).
 - Hide `Details` from the stringified `Warnings` -- I know we're using this currently, plus it only fixes one piece.

If we go the escap

[2022-08-23 16:25] vaikas commented on #2581
Good points, started looking at strings.Split also because the escaping looked goofy :)

[2022-08-23 19:52] #2581 closed

[2022-08-24 01:10] #2115 closed

[2022-08-25 18:28] aliok commented on #1140
One workaround I did is here: https://github.com/knative-sandbox/eventing-kafka-broker/pull/2562, with lots of explanation

[2022-08-31 11:51] psschwei commented on #2526
/remove-lifecycle stale

[2022-09-01 18:05] dprotaso commented on #2508
/lifecycle frozen

[2022-09-06 08:33] pierDipi commented on #2418
/remove-lifecycle stale

[2022-09-13 19:14] JeromeJu commented on #2514
/assign

[2022-09-14 20:55] JeromeJu commented on #2514
Thanks @evankanderson for the table of the combinations of errs incurred.

I would like to confirm my understanding on the O(n) solution, would  that need to introduce a hash-table in a (possible cyclic?) graph?

[2022-09-15 01:22] evankanderson commented on #2514
You shouldn't need a hash table for caching, as you only need to track the "head" of the chain as long as the cache is correct. Using `.Also()` in any sort of correct issue _should_ produce a tree, not an arbitrary graph.

If you want, you could use the go benchmark library to compare approaches if you want to learn that...

[2022-09-16 15:04] dprotaso opened #2594 "Make K8s 1.23 mandatory"
We'll want to bump the min version in pkg

see: https://github.com/knative/pkg/pull/2485

/assign @psschwei

[2022-09-18 01:35] #2521 closed

[2022-09-23 12:44] psschwei opened #2598 "Kubernetes v1.25 deprecation tracking"
Opening this as an umbrella to track the various deprecations in k8s v1.25: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25

* CronJob
* EndpointSlice
* Event
* HorizontalPodAutoscaler
* PodDisruptionBudget
* PodSecurityPolicy
* RuntimeClass

Note that not all of these may impact us / still need to fill in the details / etc.

[2022-09-28 22:50] psschwei commented on #2598
Each of these only seems to be used in generated code (see links below), which I'd assume will be removed when we bump the k8s deps... so looks like there's no other work required

### CronJob
https://github.com/knative/pkg/tree/main/client/injection/kube/reconciler/batch/v1beta1/cronjob

### EndpointSlice

https://github.com/knative/pkg/tree/main/client/injection/kube/informers/discovery/v1beta1/

[2022-10-05 16:45] #2594 closed

[2022-10-07 21:10] #2598 closed

[2022-10-10 15:49] psschwei commented on #2563
Ran into this one again this morning on #2608

Seems like there's a race happening somewhere. Running the test individually doesn't seem to cause a problem (N~=50):

[code]

And running the full suite without the `-race` flag passes more often than not:

[code]

Add the `-race` flag and then we start to see the failures:

[code]

[2022-11-03 22:29] dprotaso opened #2632 "Fix linter errors"
Bumping to go1.19 and newer versions of golangci-lint surfaces some new linter warnings - I turned them off to get the commit through but we should address them

https://github.com/knative/pkg/pull/2631/commits/34e14b048e06c5dfa261962096878621fd479b1a

[2022-11-19 04:22] mbrancato opened #2642 "queue-proxy nil pointer dereference"
## What version of Knative?
1.8.0

## Expected Behavior

No panic

## Actual Behavior

[code]

## Steps to Reproduce the Problem

No really sure, I noticed this panic in my logs. Seems to happen during a pod startup.

[2022-11-21 21:22] dprotaso commented on #2642
/triage accepted

[2022-11-22 16:15] imjasonh opened #2643 "Downstream Tekton failures"
https://github.com/knative/pkg/actions/runs/3523153290/jobs/5906969056
tektoncd/pipeline fails with:

[code]

This one at least is seemingly related to go_ls_tags detecting that it should build with `tools` -- and `linux` and `windows`, which also won't work. Is `go-ls-tags` supposed to print the list of all build tags, so that we can `go build` with _all_ of them?

---

https://github.com/knative

[2022-11-22 16:19] imjasonh commented on #2643
Yeah, it looks like the downstream test is trying to `go build ./... -tags=$(all,the,tags)`, which simply isn't how Go build tags are intended to be used, in Tekton at least.

[code]

https://github.com/knative/actions/blob/2e26a6721fc7513123dc423dbabcf75a62d85a48/go/downstream-test/action.yaml#L44-L47

`go test -exec echo` seems to be a trick to get `go build` to include all test programs. In any

[2022-11-22 16:23] lbernick opened #2644 "Feature: Generic admission webhook"
/area API
/kind feature

We use the defaulting and validating admission webhook helpers downstream in Tekton and they are super useful. It would be nice to have a function for a generic admission webhook that takes care of certificates and reconciliation, but exposes the function `func (ac *reconciler) Admit(ctx context.Context, request *admissionv1.AdmissionRequest) (resp *admissionv1.AdmissionRe

[2022-11-22 18:44] dprotaso commented on #2643
Action issue: https://github.com/knative/actions/issues/86

[2022-11-22 18:56] #2642 closed

[2022-11-22 19:25] cardil commented on #2643
Here's a PR to fix this https://github.com/tektoncd/pipeline/pull/5783

[2022-11-28 22:28] JeromeJu opened #2655 "Identical version referenced in status.ConvertTo"
The conversion from [duckv1beta1.Status](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1beta1/taskrun_types.go#L136) to [duckv1.Status](https://github.com/tektoncd/pipeline/blob/main/pkg/apis/pipeline/v1/taskrun_types.go#L124) is not provided in the knative package. Instead  [ConvertTo](https://github.com/tektoncd/pipeline/blob/main/vendor/knative.dev/pkg/apis/duck/v1beta1/stat

[2022-11-28 22:48] dprotaso commented on #2655
cc @vaikas for input

[2022-11-28 22:52] dprotaso commented on #2561
/lifecycle frozen

[2022-11-28 23:49] dprotaso commented on #2655
fwiw - v1beta1.Status and v1.Status are identical and you can probably just change the go type in your API

[2022-11-29 13:37] JeromeJu commented on #2655
Thanks for the answer @dprotaso!
Could you help me understand by `changing the go type` does it mean changing the API field identical for both `v1beta1` and `v1` version? But what seems happen here in our api we essentially want `duckv1` for our `v1` version and `duckv1beta1` for `v1beta1`. Can I learn from you if there is a work around with that?

[2022-11-29 13:52] vdemeester commented on #2655
@JeromeJu The are identical but not aliased. This probably means that we can refer to `duckv1` in all our types (`v1beta1` and `v1` for `tekton.dev`) and it would just work. Given that it's a `v1` as well, I don't think there is any risk of it changing drastically 👼🏼

[2022-11-29 15:52] JeromeJu commented on #2655
Thanks @dprotaso for answering. Closing this as found out the `ConvertTo` is not implementing the conversion for `v1beta1` to `v1`.

[2022-11-29 15:52] #2655 closed

[2022-11-30 00:57] dprotaso opened #2656 "Consider putting the admission review on the webhook context"
Would it make more sense for the `AdmissionRequest` go object to be on the context - instead of having the raw request body and parsing it again yourself?

_Originally posted by @dprotaso in https://github.com/knative/pkg/issues/2583#issuecomment-1331507771_